<template>
    <div class="Navbar">
          <v-app-bar app dark style="background-image: linear-gradient(270deg, #96c93d, #00b09b);" v-if="currentUser">
            <v-btn icon @click="drawer = !drawer"> <v-icon>dehaze</v-icon></v-btn>
            
            <v-toolbar-title class="white--text"> 
                
                <!-- <v-responsive class="pt-3">
                    <v-avatar>
                        
                    </v-avatar>
                </v-responsive> -->
            </v-toolbar-title>
            
            <v-spacer></v-spacer>

            <v-btn icon>
                <v-icon>dashboard</v-icon>
            </v-btn> 
            <!-- LOGOUT -->
            <Logout />
      </v-app-bar>

        <!-- Sidebar -->
        <Sidebar v-bind:drawer="drawer" @drawer-status="drawerStatus"/>

    </div>
</template>
<script>
import Sidebar from './Sidebar';
import Logout from '../auth/login/Logout';
import { mapGetters } from 'vuex';

export default {
    data:()=>({
        drawer:true
    }),
    computed:{
        ...mapGetters({
            currentUser: 'login/currentUser'
        }),
    },
    methods:{
        drawerStatus(status){
            this.drawer = status;
        }
    },
    components:{Sidebar,Logout}
    
}
</script>

