<template>
    <div class="Sidebar">
        <v-navigation-drawer v-model="drawer" app v-if="currentUser" class="elevation-10" expand-on-hover
        dark
        src="/images/sidebar.jpg" 
        width="256"
        gradient="to top right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)"
        >
            <template v-slot:prepend>
                <v-list>
                <v-list-item style="right: 12px;">
                    <v-list-item-avatar size="50">
                    <v-img src="/images/login/Logo ACT.png"></v-img>
                    </v-list-item-avatar>
                </v-list-item>
                </v-list>
            </template>
            <v-spacer></v-spacer>
            <v-divider />
            <v-list class="pt-0">
                <v-list-item v-for="(link,index) in links" :key="index" router :to="link.route" class="item-link">
                    
                    <v-list-item-icon>
                        <v-icon> {{link.icon}} </v-icon>
                    </v-list-item-icon>
                    
                    <v-list-item-content>
                        <v-list-item-title class="subtitle-2" v-text="link.title"></v-list-item-title>
                    </v-list-item-content>   
                </v-list-item>

                <!--Supplier-->
                <v-list-item to="/supplier">
                        <v-list-item-icon>
                            <v-icon>mdi-account-box</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2">Proveedores</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                 <!--Actives-->
             <v-list-group prepend-icon="bookmark">            
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2" style="color:white !important;">Activos</v-list-item-title>
                        </v-list-item-content>
                    </template>

                    <v-list-item to="/active/actives_inventory" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon>assignment</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="caption">Inventario</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                   <v-list-item to="/active/actives_asigned" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon>mdi-format-list-checks</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="caption">Asignación</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-group> 
                
                <!-- Commodity -->
                <v-list-group prepend-icon=" mdi-clipboard-check">
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2" style="color:white !important;">Mercadería</v-list-item-title>
                        </v-list-item-content>
                    </template>
                    <!-- prop value="true" de abajp -->

                    <v-list-item to="/commodity/article" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon>shop_two</v-icon>
                        </v-list-item-icon>
                        
                        <v-list-item-content>
                            <v-list-item-title class="caption">Artículos</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    
                    <v-list-item to="/commodity/sale" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon>shopping_cart</v-icon>
                        </v-list-item-icon>
                            
                        <v-list-item-content>
                            <v-list-item-title class="caption">Ventas</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <!--<v-list-group sub-group no-action >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>Bodega</v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <v-list-item v-for="(crud, i) in cruds" :key="i" link>
                            <v-list-item-title v-text="crud[0]"></v-list-item-title>
                            <v-list-item-action>
                                <v-icon v-text="crud[1]"></v-icon>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list-group>-->
                </v-list-group>
                
                <!--Category and Subcategory-->
                <v-list-group prepend-icon="mdi-cash">
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2" style="color:white !important;">Partidas presupuestarias</v-list-item-title>
                        </v-list-item-content>
                    </template>

                     <v-list-item to="/commodity/category" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon> mdi-animation </v-icon>
                        </v-list-item-icon>
                        
                        <v-list-item-content>
                            <v-list-item-title class="caption" >Partidas</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item to="/commodity/subcategory" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon> mdi-file-tree </v-icon>
                        </v-list-item-icon>
                            
                        <v-list-item-content>
                            <v-list-item-title class="caption">Subpartidas</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-group>

                <!-- Budget -->
                <v-list-group prepend-icon="mdi-cash-multiple">
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2" style="color:white !important;">Presupuesto</v-list-item-title>
                        </v-list-item-content>
                    </template>
                </v-list-group>

                
                <!-- Management Center -->
                 <v-list-item to="/managementCenter">
                        <v-list-item-icon>
                            <v-icon>home</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2">Centro Gestor</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                <!-- Users -->
                <v-list-group prepend-icon="account_circle">
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2" style="color:white !important;">Usuarios</v-list-item-title>
                        </v-list-item-content>
                    </template>

                    <v-list-item to="/user/employees" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon>mdi-account-group</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="caption">Empleados</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    
                    <v-list-item to="/user/requests" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon>mdi-account-check</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="caption">Solicitudes de Puestos</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                     <v-list-item to="/user/roles" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon>mdi-account-badge</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="caption">Asignación de Roles</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-group>
                <v-divider></v-divider>

                <v-list-group prepend-icon="account_circle" >
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2" style="color:white !important;">Reportes</v-list-item-title>
                        </v-list-item-content>
                    </template>


                     <v-list-item to="/commodity/article" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon>shop_two</v-icon>
                        </v-list-item-icon>
                        
                        <v-list-item-content>
                            <v-list-item-title class="caption">Reporte Usuarios</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item to="/commodity/category" class="item-link ml-5">
                        <v-list-item-icon>
                            <v-icon> mdi-animation </v-icon>
                        </v-list-item-icon>
                        
                        <v-list-item-content>
                            <v-list-item-title class="caption" >Reporte Articulos</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                </v-list-group>
            </v-list>

      </v-navigation-drawer>
    </div>
</template>
<script>
import {mapGetters} from 'vuex';

export default {
    props: {
        drawer:{
            type:Boolean,
            default:() => drawer = true,
        }
    },
    data:()=>({
        admins: [
        ['Management', 'people_outline'],
        ['Settings', 'settings'],
        ['Update', 'update'],
        ['Delete', 'delete'],
      ],
      cruds: [
        ['Create', 'add'],
        ['Read', 'insert_drive_file'],
        ['Update', 'update'],
        ['Delete', 'delete'],
      ],
        links:[
            { title:'Dashboard', icon:'dashboard', route:'/' },
            // { title:'Usuarios', icon:'account_circle', route:'/user' },
            //{ title:'Activos', icon:'bookmark', route:'/active' },
            //{ title:'Configuración', icon:'settings', route:'/re' },
            { title:'Bodegas', icon:'mdi-home-variant', route:'/commodity/warehouse' },
            { title:'Departamentos', icon:'mdi-office-building', route:'/area' },


        ]
    }),
    computed:{
        ...mapGetters({
            currentUser: 'login/currentUser'
        })
    },
    methods:{

    },
}
</script>
<style>

    .flex.title-header{
        margin-bottom: 5px !important;
    }
    a.v-list-item--active{
        /* border-left: solid 6px #1ab394; */
        background-color: #00cae3   !important;
        border-color: #00cae3   !important;
        border-radius: 5px;
        margin: 5px;
    }
    .v-application a {
        color:white !important;
    }
    .v-list--dense .v-list-item{
        min-height:50px !important;
    }
    .v-navigation-drawer__content{
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
    }
    .v-navigation-drawer .v-list{
        background: none;
    }

</style>
