<template>
  <div class="article">
      <v-container>
        <ContentArea />
        <!--<HeaderCategory/>-->
      </v-container>
  </div>
</template>

<script>
import ContentArea from './ContentArea';
//import HeaderCategory from './HeaderArea';
export default {
  components:{ContentArea}
}
</script>