 <template>
    <div class="content-area">
        <v-card class="mt-2">
            <v-sheet class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="80" max-width="calc(100% - 93%)">
                <h4 class="text-md-center pt-4 white--text title"><v-icon large dark>mdi-office-building</v-icon></h4>
                <p class="subtitle title"> Departamentos </p>
            </v-sheet>
            <v-card-title>
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar"
                single-line
                hide-details
                color="light-blue darken-1"
                style="max-width: 300px;"
            ></v-text-field>
            <v-btn rounded class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text" @click.stop="dialogArea = !dialogArea,isEdit=false"> <v-icon>add</v-icon> Ingresar Departamento</v-btn>
            </v-card-title>

            <div class="table-responsive">
                <v-data-table
                    :headers="headers"
                    :items="areas"
                    :search="search"
                >
                    <template v-slot:item="props">
                        <tr>
                            <td class="subheading">{{ props.item.id }}</td>
                            <td class="subheading">{{ props.item.name }}</td>
                            <td class="subheading">{{ props.item.telephone }}</td>
                            <td class="subheading">{{ props.item.location }}</td>
                            <td class="subheading">{{ props.item.description}}</td>
                            <td class="subheading">
                            <v-menu bottom left transition="slide-x-transition">
                                <template v-slot:activator="{ on }">
                                <v-btn
                                success
                                icon
                                v-on="on"
                                >
                                <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                                </template>
                            
                                <v-list>
                                <v-list-item @click.stop="dialogArea = !dialogArea,isEdit =true, editArea = props.item">
                                    <v-list-item-title ><v-icon color="yellow" middle >edit</v-icon> Editar</v-list-item-title >
                                </v-list-item>

                                <v-list-item @click.stop="deleteArea = props.item, dialogDelete = true"> 
                                    <v-list-item-title ><v-icon color="red" middle >delete</v-icon> Eliminar</v-list-item-title >
                                </v-list-item>
                                </v-list>
                            </v-menu>
                            </td>
                        </tr>
                    </template> 
                </v-data-table>
            </div>
            <!--  Dialogs o modals -->
            
            <DialogArea v-bind:dialogArea="dialogArea" v-bind:isEdit="isEdit" v-bind:editArea="editArea" @dialog-status = "dialogAreasStatus" /> 
            <DialogDelete v-bind:dialogDelete="dialogDelete" v-bind:deleteArea="deleteArea" @dialog-delete-status = "dialogDeleteArea"/>
            <!-- End Dialogs  -->

        </v-card>
    </div>
</template>

<script>
import DialogArea from '../area/DialogArea';
import DialogDelete from '../area/DialogDelete'
import Loader from '../../plugins/Loader'

import { mapGetters } from 'vuex';

export default {
    data:()=>({
        switch1:false,
        dialog:false,
        dialogArea:false,
        dialogDelete: false,
        deleteArea:{},
        isEdit:false,
        editArea:{},
        itemArea: 0,
        panel:[0],
        search: '',
        headers: [
            { text: 'ID', align: 'left', sortable: false, value: 'id'},
            { text: 'Nombre', value: 'name' },
            { text: 'Número de teléfono', value: 'telephone' },
            { text: 'Ubicación', value: 'location' },
            { text: 'Descripción', value:'description'},
            { text: 'Acciones', value:'actions', sortable: false}
        ], 
       }),

    computed:{
        ...mapGetters({
            areas:'area/getAreas',
            loading: 'area/getLoading'
        }),
        itemAreas(){
            return this.itemArea == 0 ? this.areas : this.itemArea;
        }
    },
    methods:{
        getAreas(){
            this.areas.length === 0 ? this.$store.dispatch('area/getAreas') : null;
        },
        dialogAreasStatus(status){
            this.itemArea = this.areas;
            this.dialogArea = status;
        },
        dialogDeleteArea(status){
        this.itemArea = this.areas; 
        this.dialogDelete = status;
        },
        filterCategory(e){
            this.itemArea = filterObject(this.areas, e.target.value);
        }
    },
    mounted(){
      this.getAreas();
    },
    components:{DialogArea, DialogDelete, Loader}
}
</script>
