<template>
    <div class="dialog-delete">
        <v-dialog v-model="dialogDelete" width="600" persistent trasition="slide-x-reverse-transition">
            <v-card>
                <v-card-title class="mx-4 mb-3 elevation-20 white--text red darken-2">
                    <h4>Eliminar Oficina <v-icon x-large>delete</v-icon> </h4>
                </v-card-title>
                <v-card-text>
                    <h3 class="">¿Está seguro que desea eliminar este departamento de la lista? </h3>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="d-flex justify-space-between">
                    <v-btn @click.stop="closeDialog(!dialogDelete)">Cancelar <v-icon>close</v-icon></v-btn>
                    <v-btn :loading="loading" @click.stop="deleteAreaAction" class="red darken-1 white--text">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <!-- Notifications -->
        <div class="notification-area">
            <v-snackbar
                v-model="statusSnack"
                :color="colorSnack"
                :multi-line="true"
                :right="true"
                :timeout="4000"
                :top="true"
            >
            {{ message }}
                <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
            </v-snackbar>
        </div>
    </div>
</template> 

<script>
export default {
    props:{
        dialogDelete: {
            type:Boolean,
            default: ()=> dialogDelete = false
        },
         deleteArea:{
            type:Object,
            default:()=> deleteArea = {}
        },

    },
    data:()=>({
        loading:false,
        statusSnack:false,
        colorSnack:'',
        message:'',
    }),
    methods:{
        closeDialog(status){
            this.$emit('dialog-delete-status',status);
        },

        deleteAreaAction(){
            this.loading = true;
            this.$store.dispatch('area/deleteArea',this.deleteArea)

            this.$store.watch((state,getters)=>{
                this.stateArea = state.area;
            })

             setTimeout(() => {
                this.evaluateState();    
             }, 1000); 

        },
        evaluateState(){
            let state = this.stateArea;

            if(state.status === 200){
                this.closeDialog(false);
                this.loading = state.isLoading;
                this.colorSnack = 'primary',
                this.message = state.message,
                this.statusSnack= true
            } 
            else
            {
                this.closeDialog(false);
                this.loading = state.isLoading;
                this.colorSnack = 'error',
                this.message = state.message,
                this.statusSnack= true
            }
            setTimeout(() => {
                this.statusSnack = false;
                this.show = false;
                this.message = null;
            }, 4000);
        },
        // setValueIndexArea(){
        // this.$store.dispatch('area/findIndexArea',this.deleteArea.id);
        // this.$store.watch((state,getters)=>{
        //   this.indexArea = state.area.findCurrentIndex 
        // })
       },
      
    
    components:{}
}
</script>

<style>

</style>