<template>
  <div class="dialog-area">
      <v-dialog v-model="dialogArea" persistent max-width="600px">
        <v-card>
          <v-card-title class="green white--text"> {{actionArea}} Departamento</v-card-title>
            <v-card-text>
              <v-container>
                <v-form @submit.prevent="storeUpdateArea" ref="form_area">
                  <v-row>
                    <v-col cols="12" sm="12" md="12" lg="12">
                      <v-text-field label="Nombre" v-model="area.name" :rules="[rules.required,rules.max]"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" lg="12">
                      <v-text-field label="Número de teléfono" v-model="area.telephone" :rules="[rules.required,rules.minTelephone]"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" lg="12">
                      <v-textarea label="Ubicación" v-model="area.location" auto-grow rows="2" clearable clear-icon="cancel" counter="100" :rules="[rules.required,rules.maxLocation]"></v-textarea>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" lg="12">
                      <v-textarea label="Descripción" v-model="area.description" auto-grow rows="2" clearable clear-icon="cancel" counter="100" :rules="[rules.required,rules.maxDescription]" ></v-textarea>
                    </v-col>
                </v-row>
                <!-- alert -->
                <div class="alert">
                  <v-alert
                  v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">
                    <ul>
                      <li v-for="(error,i) in errors" :key="i">
                          {{ error[0] }}
                      </li>
                   </ul>
                  </v-alert>
                </div>
                <!-- end alert -->
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="ma-2" color="error" @click="closeDialog(!dialogArea)">
                     <v-icon left>mdi-close</v-icon> Cerrar
                    </v-btn>

                    <v-btn :loading="loadings" class="ma-2" color="cyan white--text" type="submit" >
                      <v-icon left>mdi-pencil</v-icon> {{ actionArea }}
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>

  <!-- Notifications -->
    <div class="notification-area">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >
        {{ message }}
        <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import errorList from '../../helpers/errorObjectList';

export default { 

  props: {
        dialogArea: {
          type:Boolean,
          default:()=> dialogArea = false
        },
        isEdit:{
          type:Boolean,
          default:()=> isEdit = false
        },
        editArea:{
          type:Object,
          default:()=>editArea = {}
        }
  },
  data:()=>({
      icon:'edit',
      actionButton:'Crear',
      loadings:false,
      indexArea:1,
      colorSnack:'primary',
      statusSnack:false,
      showAlert:false,
      dismissible:true,
      type:'error',
      message:'',
      errors:'',
      stateArea:{},
      rules:{
        required: value => !!value || 'Campo Requerido.',
        max: value => value.length <=50 || 'Máximo 50 caracteres',
        minTelephone: value => value.length >=8 || 'Mínimo 8 caracteres',
        maxDescription: value => value.length <= 100 || 'Máximo 255 caracteres',
        maxLocation: value => value.length <= 100 || 'Máximo 255 caracteres',
      },
      area:{
        name:'',
        location:'',
        telephone:'',
        description:'',
      },
      areaDefault:{
        name:'',
        location:'',
        telephone:'',
        description:'',
      },
      loadings:false,
  }),
  computed:{
    actionArea(){
      this.isEdit ? Object.assign(this.area,this.editArea) : Object.assign(this.area,this.areaDefault);
      return this.isEdit ? 'Editar' : 'Crear'
    }
  },
  methods:{
    closeDialog(status){
      this.resetFields()
      this.$emit('dialog-status',status)
    },
    storeUpdateArea(){
        if(this.$refs.form_area.validate()){
          this.loadings = true;
          this.isEdit ? this.findIndexAreaArray() : null;
          this.isEdit ? this.$store.dispatch('area/updateArea',{area:this.area,indexArea:this.indexArea})
          : this.$store.dispatch('area/storeArea',this.area)

          this.$store.subscribe((mutation,state)=>{
            this.stateArea = state.area;
          })
         setTimeout(() =>{
            this.evaluateResponse()
          }, 1500);
        }
    },
       evaluateResponse(){
        let state = this.stateArea
        this.loadings = state.isLoading;

        if(state.status === 200 || state.status ===201){
          this.message = state.message
          this.statusSnack = true
          this.resetFields()
          this.closeDialog(false);
        }
        else {
          this.errors = errorList(state.errors)
          this.showAlert = true
        }

        setTimeout(() => {
            this.statusSnack = false
            this.message = null
        }, 3000);
    },
      findIndexAreaArray(){
        this.$store.dispatch('area/getAreaIndex',this.editArea);
        this.$store.watch((state,getters) =>{
          this.indexArea = state.area.findAreaIndex;
      })
    },
    resetFields(){
      Object.assign(this.area,this.areaDefault)
      this.showAlert = false
      this.errors = null
    }
  }
}
</script>
