<template>
    <div class="active">
        <v-container>
            <ContentActive />
        </v-container>
    </div>
</template>

<script>
import ContentActive from '../components/actives/ContentActive'
export default {
    components:{ContentActive}
}
</script>

<style>

</style>