<template>
    <div id="main-app">
        <v-app> <!-- El app deben ir para los componentes de vuetify  -->
            <Navigation />
            <v-content>
                <router-view></router-view> <!-- Aca se renderizaran las vistas vue dependiendo las rutas -->
            </v-content>   
        </v-app>  
    </div>
</template>

<script>
    import Navigation from '../components/Navigation/Navbar';   

    export default {
       data:()=>({

       }),
       components:{Navigation}
    }
</script>

<style >
    .v-application.v-application--is-ltr.theme--light{
        background-color: #eee;
    }
</style>