<template>
    <div class="dashboard">
       
        <v-container>
            <div style="height:30px">
            </div>
            <!-- <HeaderDashboard /> -->
            <FirstCardsDashboard/>
            <SecondCardDashboard/>
            <ThirdCardsDashboard/>
        </v-container>
            

        </div>
        
</template>
<script>
    import HeaderDashboard from '../components/Dashboard/HeaderDashboard' 
    import FirstCardsDashboard from '../components/Dashboard/FirstCardsDashboard'
    import SecondCardDashboard from '../components/Dashboard/SecondCardsDashboard'
    import ThirdCardsDashboard from '../components/Dashboard/ThirdCardsDashboard'
    export default {
        data:()=>({

        }),
        components:{HeaderDashboard, FirstCardsDashboard, SecondCardDashboard, ThirdCardsDashboard}
    }
</script>
