<template>
    <div class="warehouse">
        <v-container>
            <ContentUser />
        </v-container>
    </div>
</template>

<script>
import ContentUser from '../components/user/ContentUser'
export default {
    components:{ContentUser}
}
</script>