<template> 
    <div class="home">
      <HeaderUser /><br>
     
      <v-card>
        <v-sheet class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="80" max-width="calc(100% - 93%)">
          <h4 class="text-md-center pt-4 white--text title"><v-icon large dark>mdi-account-group</v-icon></h4>
          <p class="subtitle title"> Empleados </p>
        </v-sheet>
          <v-card-title>
          <v-spacer></v-spacer>
          <v-spacer>
          <v-overflow-btn  
                class="my-2"
                :items="orderList"
                label="Filtros"
                single-line
                item-value="id"
                item-text="type"
                prepend-inner-icon="list"
                v-model="valueFilter"
                v-on:change="filter"
                color="light-blue darken-1"
                style="max-width: 300px;">
            </v-overflow-btn>
            </v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              color="light-blue darken-1"
              style="max-width: 300px;"
              
          ></v-text-field>
            <v-btn rounded class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text" 
              @click.stop="dialogUser = !dialogUser, isEdit = false"> <v-icon>add</v-icon> Ingresar Empleado
            </v-btn>
          </v-card-title>
          <v-card-text>
            <div class="table-responsive">
              <v-data-table 
                  :headers="headers"
                  :items="users"
                  :search="search"
              >
                <template v-slot:item="props">
                    <tr>
                        <td class="font-weight-light">{{ props.item.id }}</td>
                        <td class="font-weight-light">{{ props.item.first_name +" "+ props.item.middle_name }}</td>
                        <td class="font-weight-light">{{ props.item.first_surname +" "+ props.item.second_surname }}</td>
                        <td class="font-weight-light">{{ props.item.dni }}</td>
                        <td class="font-weight-light">{{ props.item.email }}</td>
                        <!-- <td class="font-weight-light">{{ props.item.iron }}</td> -->
                        <td class="font-weight-light">{{ props.item.telephone }}</td>
                        <!-- <td class="font-weight-light">{{ props.item.direction }}</td> -->
                        <td class="font-weight-light"> 
                          <v-chip :color="props.item.status_id.type">
                              <v-icon left v-if="props.item.status_id.type == 'Activo'">check</v-icon>
                              <span class="font-weight-dark"> {{ props.item.status_id.type }} </span> 
                          </v-chip> 
                        </td>
                        <!-- <td class="font-weight-light">{{ props.item.created_at }}</td> -->
                        <!-- <td class="font-weight-light">{{ props.item.updated_at }}</td> -->
                        <td class="font-weight-light">
                            <v-menu bottom left transition="slide-x-transition">
                              <template v-slot:activator="{ on }">
                              <v-btn
                                success
                                icon
                                v-on="on"
                              >
                              <v-icon>mdi-dots-vertical</v-icon>
                              </v-btn>
                            </template>
                          
                            <v-list>
                              <v-list-item @click.stop="dialogUser = !dialogUser,isEdit = true,editUser = props.item">
                                  <v-list-item-title ><v-icon color="yellow" middle left>edit</v-icon> Editar</v-list-item-title >
                                </v-list-item>
                                <v-list-item>
                                  <DisableUser v-bind:status="props.item.status_id" v-bind:user="props.item"/>
                                </v-list-item>
                                <v-list-item @click.stop="deleteUser = props.item, dialogDelete = true"> 
                                  <v-list-item-title ><v-icon color="red" middle >delete</v-icon> Eliminar</v-list-item-title >
                                </v-list-item>

                                <v-list-item @click.stop="infoUser(props.item)">
                                  <v-list-item-title ><v-icon color="cyan" middle >info</v-icon> Detalles</v-list-item-title >
                              </v-list-item>
                            </v-list>
                          </v-menu>
                          </td>
                      </tr>
                    </template> 
                </v-data-table>
            </div>
          </v-card-text>
          
           </v-card>
        <Loader v-bind:loading="loading" />
        <!--  Dialogs o modals -->
        <DialogDelete v-bind:dialogDelete="dialogDelete" v-bind:deleteUser="deleteUser" @dialog-delete-status = "dialogDeleteUser"/>
        <DialogUser v-bind:dialogUser="dialogUser" v-bind:editUser="editUser" v-bind:isEdit="isEdit" @dialog-status = "dialogUserStatus" /> 
        <DialogDetail v-bind:dialogDetails="dialogDetails" v-bind:detailUser="detailUser" @dialog-detail-status = "dialogDetailUser"/>
        <!-- End Dialogs  -->
    </div>
</template>
<script>

import HeaderUser from './HeaderUser';
import DialogUser from './DialogUser';
import DialogDetail from './DialogDetail';
import DialogDelete from './DialogDelete';
import DisableUser from './DisableUser';

import Loader from '../../plugins/Loader'
import { mapGetters } from 'vuex';

export default {
    components:{DialogUser,DialogDetail,HeaderUser,DialogDelete,Loader, DisableUser}, // subscribe components to use
    data:()=>({
        valueFilter:1,
        dialogUser:false,
        dialogDetails: false,
        dialogDelete: false,
        deleteUser: {},
        detailUser:{
          status_id:{id:1,type:''}
        },
        isEdit:null,
        editUser:{},
        search: '',
        headers: [
          { text: 'ID', align: 'left',sortable: false, value: 'id'},
          { text: 'Nombre ', value: 'first_name' },
          { text: 'Apellidos', value: 'first_surname' },
          { text: 'Cédula', value: 'dni' },
          { text: 'Email', value: 'email' },
          // { text: 'Contraseña', value: 'password' },
          { text: 'Teléfono', value: 'telephone' },
          // { text: 'Dirección', value: 'direccion'},
          { text: 'Estado', value: 'status_id.type' },
          //{ text: 'Creado', value: 'created_at' },
          // { text: 'Modificado', value: 'updated_at' },
          { text: 'Acciones', value:'actions', sortable: false}
        ], 
        orderList:[
            {id:1,type:'Todos los empleados'},
            {id:2,type:'Habilitados'},
            {id:3,type:'Deshabilitados'},
        ],
    }),

    computed:{
      ...mapGetters({
          users : 'user/getUsers',
          loading: 'user/getLoading'
      }),
    },

    methods:{
      getUsers(){
        this.$store.dispatch('user/getUsers');
      },
      dialogUserStatus(status){
        this.dialogUser = status;
      },
      dialogDetailUser(status){
        this.dialogDetails = status;
      },
      dialogDeleteUser(status){
        this.dialogDelete = status;
      },
      infoUser(user){
        this.detailUser = user
        this.dialogDetails = !this.dialogDetails
      },
      filter(){
        this.$store.dispatch('user/filterUser',this.valueFilter);
      }
    },
    mounted(){
      this.getUsers();
    },
    
}
</script>

<style>
.btn-crear:hover {
  background-image: linear-gradient(270deg, #96c93d, #00b09b);
}

.v-chip.theme--light.Activo{
    background:#4caf50 ;
    color:white;
}
</style>

