<template>
  <div class="dialog-user">
    <v-dialog v-model="dialogUser" fullscreen>
      <v-card color="grey lighten-3">
        <v-toolbar dark color="green white--text">
          <v-toolbar-title>Perfil de empleado</v-toolbar-title>
            <div class="flex-grow-1"></div>
              <v-btn icon dark @click="closeDialog(!dialogUser)">
                <v-icon>close</v-icon>
              </v-btn>
          </v-toolbar>

          <v-container>
            <v-card class="elevation-0">
              <v-card-text>
                <v-container>
                  <v-form @submit.prevent="storeUpdateUser" ref="form_user">
                     <v-stepper v-model="e13">
                      <v-stepper-header >
                          <v-stepper-step step="1" :complete="e13 > 1">
                          Información Personal
                          </v-stepper-step>
                          <v-divider></v-divider>
                          <v-stepper-step step="2" :complete="e13 > 2">
                          Información Adicional
                            </v-stepper-step>
                      </v-stepper-header>
                        <v-stepper-content step="1">
                           <v-card class="mb-12">
                             <v-card-text>
                          <v-row>
                            <v-col cols="6" sm="12" md="6">
                              <v-text-field label="Primer Nombre" v-model="user.first_name" :rules="[rules.required,rules.max]"></v-text-field>
                            </v-col>

                            <v-col  cols="6" sm="12" md="6">
                              <v-text-field label="Segundo Nombre" v-model="user.middle_name" hint="Segundo nombre puede ser nulo" ></v-text-field>
                            </v-col>

                            <v-col cols="6" sm="12" md="6">
                              <v-text-field label="Primer Apellido" v-model="user.first_surname" :rules="[rules.required,rules.max]"></v-text-field>
                            </v-col>
                            
                            <v-col cols="6" sm="12" md="6">
                              <v-text-field label="Segundo Apellido" v-model="user.second_surname" :rules="[rules.required,rules.max]"></v-text-field>
                            </v-col>

                            <v-col cols="6" sm="12" md="6">
                              <v-text-field label="Cédula" v-model="user.dni" :rules="[rules.required,rules.minDni,rules.maxDni]"></v-text-field>
                            </v-col>

                            <v-col cols="6" sm="12" md="6">
                              <v-text-field label="Teléfono" v-model="user.telephone" :rules="[rules.required,rules.minTelephone]"></v-text-field>
                            </v-col>  

                            <v-col cols="6" sm="12" md="6">
                              <v-text-field label="Correo Electrónico" v-model="user.email" :rules="[rules.required,rules.email]"></v-text-field>
                            </v-col> 

                            <v-col cols="6" sm="12" md="6">
                              <v-textarea style="height: 48px;margin-top: -16px;" auto-grow rows="2" clearable counter="255" clear-icon="cancel" label="Dirección" v-model="user.direction" :rules="[rules.required,rules.maxDirection]"></v-textarea>
                            </v-col>      
                          </v-row>
                        </v-card-text>
                          </v-card>
                          <div style="float:right">
                          <v-btn class="ma-2" outlined color="indigo" disabled style="align:right">Previous</v-btn>
                          <v-btn raised color="primary" @click="e13 = 2">Continue</v-btn>
                          </div>
                        </v-stepper-content>

                      <!-- Second card -->
                      
                       <v-stepper-content step="2">
                          <v-card class="mb-12">
                               <v-card-text>
                            <v-row>
                              <v-col cols="6" sm="12" md="6"> 
                              <v-overflow-btn v-model="user.status_id" 
                                  ref="Recipients"
                                  :items="statusUser"
                                  editable
                                  label="Estado"
                                  item-value="id"
                                  item-text="type"
                                  prepend-inner-icon="label"
                                  reandonly>
                                </v-overflow-btn>
                            </v-col>

                            <v-col cols="6" sm="12" md="6" > 
                              <v-overflow-btn v-model="user.area_id" 
                                  ref="Recipients"
                                  :items="areasList"
                                  editable
                                  label="Departamento"
                                  item-value="id"
                                  item-text="name"
                                  prepend-inner-icon="mdi-office-building"
                                  reandonly>
                                </v-overflow-btn>
                            </v-col>

                              <v-col cols="12">
                                <v-file-input name="image" id="imageUser" label="Fotografía" @change="assignImage"></v-file-input>
                              </v-col>

                              <v-col cols="12" id="preview_image" class="d-flex justify-center">
                                <img v-if="isEdit" :src="editUser.image" id="img" width="500" height="350"/>
                              </v-col>

                              <!-- Visualizar imagen div -->
                            </v-row>
                          </v-card-text>

                          </v-card>
                              <div style="float:right">
                              <v-btn class="ma-2" outlined color="indigo" style="align:right" @click="e13 = 1">Previous</v-btn>
                              <v-btn raised color="primary" type="submit" :loading="loadings"> <v-icon left>mdi-pencil</v-icon> {{  textAction = chargeFields }}</v-btn>
                              </div>
                        </v-stepper-content>
                       

                    <div class="alert">
                      <v-alert
                        v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">
                        {{ message }}
                        <ul v-if="error != null && Array.isArray(error)">
                          
                          <li v-for="(value, index) in error" :key = index>
                            {{value[0]}}
                          </li>
  
                        </ul>
                        <p v-else>
                              {{ error }}
                        </p>
                      </v-alert>
                    </div>

                  </v-stepper>
                  </v-form>
                 
                </v-container>
              </v-card-text>
            </v-card>
          </v-container>
      </v-card> 
    </v-dialog>



    <!-- Notifications -->
    <div class="notification-user">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >
        {{ message }}

        <v-btn dark text @click="closeSnack(!statusSnack)"> Cerrar </v-btn>
      </v-snackbar>
    </div>


  </div> 
</template>

<script>
import errorList from '../../helpers/errorObjectList';
import { mapGetters } from 'vuex';
  export default {
      props:{
          dialogUser:{
              type:Boolean,
              default: ()=>dialogUser = false
          },
          isEdit:{
            type:Boolean,
            default: ()=>isEdit = false
          },
          editUser:{
            type:Object,
            default: ()=> editUser = {}
         },
      }, 
      data: () => ({

        /**alert */ 
        showAlert:false,
        dismissible:true,
        type:'error',
        errors:'',
        error:'',
        e13:1,
        /** */
        message:'',
        statusSnack:false,
        colorSnack:'primary',
        loadings:false,
        indexUser:-1,
        stateUser:{},
        rules:{
          required: value => !!value || 'Campo Requerido.',
          max: value => value.length <=50 || 'Máximo 50 caracteres',
          minDni: value => value.length >= 9 || 'Mínimo 9 caracteres',
          maxDni: value => value.length <= 20 || 'Máximo 20 caracteres',
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Correo inválido!'
          },
          minTelephone: value => value.length >=8 || 'Mínimo 8 caracteres',
          maxDirection: value =>value.length <= 255 || 'Máximo 255 caracteres',
        },
        user:{
          first_name:'',
          middle_name:' ',
          first_surname:'',
          second_surname:'',
          email:null,
          dni:'',
          telephone:'',
          image:'./images/user/default.jpg',
          direction:'',
          status_id:'',
          area_id:''
        },
        userDefault:{
          first_name:'',
          middle_name:'',
          first_surname:'',
          second_surname:'',
          email:null,
          dni:'',
          telephone:'',
          image:'./images/user/default.jpg',
          direction:'',
          status_id:'',
          area_id:''
        }, 
        isEditUser:{},
        img:''
    }),
    computed:{
      ...mapGetters({
        findUserIndex : 'user/findUserIndex',
        statusUser: 'status/getUserStatus',
        areasList: 'area/getAreas',
      }),
      chargeFields(){
        console.log(this.editUser,'edit')
        this.isEdit ? Object.assign(this.user,this.editUser) : Object.assign(this.user,this.userDefault); // sacamos o cargamos los campos si es para editar
        return this.isEdit ? "Editar" : "Crear";
      }
    },
    methods:{
      closeDialog(dialogStatus){
          this.$emit('dialog-status',dialogStatus)
      },
      closeSnack(status){
        this.statusSnack = status
      },
      assignImage(image){
        if(image){
          let fileReader = new FileReader(); 

          fileReader.readAsDataURL(image) // metodo que convierte la imagen a base_64
          fileReader.onload = e=>{
            this.user.image = e.target.result // guardamos el resultado una vez este cargada
            this.printPreviewImage(e)
          }
        }
        else{
          this.user.image = this.isEdit ? this.editUser.image: '/images/user/default.jpg';
        }
      },
      printPreviewImage(e){
        let preview = document.getElementById("preview_image"),
              image = document.createElement('img')
              
          image.src = e.target.result
          image.width = 500
          image.height = 350
          preview.innerHTML = null // evitamos que siga agregando fotos anteriores
          preview.appendChild(image)
      },
      storeUpdateUser(){
        if(this.$refs.form_user.validate()){
            this.loadings = true; // comienza la carga
            this.isEdit ? this.$store.dispatch('user/updateUser',this.user) : this.$store.dispatch('user/storeUser',this.user);
           
            this.$store.watch((state,getters)=>{
              this.stateUser = state.user;
            })

            setTimeout(() => {
              this.checkStatus();
            }, 1500);
        }
      },
      checkStatus(){
        let userStatus = this.stateUser;
        this.loadings = userStatus.isLoading ? true : false;
        if(userStatus.status === 200 || userStatus.status === 201)
        {
          this.statusSnack = true;
          this.message = userStatus.message;
          //this.closeDialog(false);
          window.location = '/user/employees'
        }
        else
        {
          this.message = userStatus.message;
          this.error = errorList(userStatus.errors);
          this.showAlert = true;
        }
        setTimeout(() => {
            this.showAlert = false;
            this.message = null;
            this.errors = {}
          }, 6000);
      },
      getStatuses(){
        this.$store.dispatch('status/getStatus')      
      },
      getAreas(){
        this.$store.dispatch('area/getAreas');
      }
    },
    mounted(){
      this.getStatuses();
      this.getAreas();
    },
  }
</script>

<style scoped>

.col{
  padding: 6px !important;
}
</style>