<template>
    <div class="dialog-details">
        <v-dialog v-model="dialogDetails" persistent max-width="600px"> 
            <v-card color="grey lighten-3">
                <v-toolbar dark color="green white--text">
                    <v-toolbar-title>Detalle Usuario</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                     <v-btn icon dark @click="closeDialogDetail(!dialogDetails)">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                
                <v-container class="d-flex justify-center">                   
                    <v-card class="ma-5" width="1950">
                        <v-row class="mb-6" justify="center">

                            <div align-self="center" class="pa-0" cols="6">
                                <v-avatar class="profile" color="grey" size="200" tile>
                                    <v-img  :src="detailUser.image"></v-img>
                                </v-avatar>
                            </div>
                            
                            <div>
                                <v-col>
                                    <v-card-text class="text">
                                        <div class=" body-1">{{ `${detailUser.first_name} ${detailUser.middle_name} ${detailUser.first_surname} ${detailUser.second_surname}` }}</div><br>
                                        <div class="body-2">Correo Electrónico </div>
                                        <div class="caption"> {{ detailUser.email }}</div><br>
                                        <div class="body-2">Cédula</div>
                                        <div class="caption">{{ detailUser.dni }}</div><br>
                                        <div class="body-2">Número de Teléfono </div>
                                        <div class="caption">{{ detailUser.telephone }}</div><br>
                                        <div class="body-2">Dirección</div> 
                                        <div class="caption">{{ detailUser.direction }}</div><br>
                                        <div class="body-2">Estado </div>
                                        <div class="caption">{{ detailUser.status_id.type }}</div><br>
                                        <div class="body-2">Creado </div>
                                        <div class="caption">{{ detailUser.created_at }}</div><br>
                                        <div class="body-2">Modificado </div>
                                        <div class="caption">{{ detailUser.updated_at }}</div><br>
                                    </v-card-text>
                                </v-col>
                                 
                                <v-col>
                                    <v-card-actions class="text">  
                                        
                                        <v-btn depressed color="error" @click="closeDialogDetail(!dialogDetails)"><v-icon>mdi-close</v-icon>Cerrar</v-btn>
                                        <v-btn depressed class="cyan white--text" @click.stop="dialogUser = true"><v-icon>edit</v-icon>Editar</v-btn>  
                                    
                                    </v-card-actions>
                                </v-col>
                            </div>   
                        </v-row>
                    </v-card>
                </v-container>
            </v-card>
        </v-dialog>

        <!-- Dialogs -->
        <DialogUser v-bind:dialogUser="dialogUser" v-bind:editUser="detailUser" v-bind:isEdit="true" @dialog-status = 'closeDialog'/> 
   
   </div>
</template>

<script>

import DialogUser  from './DialogUser';
export default {
    props:{
        dialogDetails:{
            type:Boolean,
            default:()=> dialogDetails = false
        },
        detailUser:{
            type:Object,
            default:()=> detailUser ={}
        }
    },
    data:()=>({
        dialogUser:false,
    }),
    methods:{
        closeDialogDetail(status){
            this.$emit('dialog-detail-status',status)
        },
        closeDialog(status){
            this.dialogUser = status
        }
    },
    components:{DialogUser}
}
</script>

<style  scoped>
.profile{
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.text{
    margin-left: 40px;
    margin-right: 10px
}
</style>
