<template>
   <div class="dialog-delete">
        <v-dialog v-model="dialogDelete" width="600" persistent trasition="slide-x-reverse-transition">
            <v-card>
                <v-card-title class="mx-4 mb-3 elevation-20 white--text red darken-2">
                    <h4>Eliminar Usuario <v-icon x-large>delete</v-icon> </h4>
                </v-card-title>
                <v-card-text>
                    <h3 class="">¿Está seguro que desea eliminar este usuario de la lista? </h3>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="d-flex justify-space-between">
                    <v-btn @click.stop="closeDialog(!dialogDelete)">Cancelar <v-icon>close</v-icon></v-btn>
                    <v-btn :loading="loading" @click.stop="deleteUserAction" class="red darken-1 white--text">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <!-- Notifications -->
        <div class="notification-user">
            <v-snackbar
                v-model="statusSnack"
                :color="colorSnack"
                :multi-line="true"
                :right="true"
                :timeout="5000"
                :top="true"
            >
            {{ message }}
            <v-btn dark text @click="closeSnack(!statusSnack)"> Cerrar </v-btn>
            </v-snackbar>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    props:{
        dialogDelete: {
            type:Boolean,
            default: ()=> dialogDelete = false 
        },
        deleteUser:{
            type:Object,
            default:()=> deleteUser = {}
        }
    },
    data:()=>({
        indexUser:0,
        loading:false,
        colorSnack:'',
        message:'',
        statusSnack:false,
    }),
    computed:{
        ...mapGetters({
        findUserIndex : 'user/findUserIndex'
      }),
    },
    methods:{
        closeDialog(status){
            this.$emit('dialog-delete-status',status);
        },
        closeSnack(status){
            this.statusSnack = status
        },
        deleteUserAction(){
            this.loading = true;
            this.setValueIndexUser();

            this.$store.dispatch('user/deleteUser',{user: this.deleteUser, indexDelete: this.indexUser})
            this.$store.subscribe((mutation,state)=>{
                this.evaluateState(state.user);
            })
        },
        evaluateState(state){
            if(state.status === 200){
                this.closeDialog(false);
                this.loading = state.isLoading;
                this.colorSnack = 'primary',
                this.message = state.message,
                this.statusSnack= true
            } 
            else
            {
                this.loading = state.isLoading;
                this.colorSnack = 'error',
                this.message = state.message,
                this.statusSnack= true
            }
            setTimeout(() => {
                this.statusSnack = false;
                this.show = false;
                this.message = null;
            }, 6000);
        },
        setValueIndexUser(){
        this.$store.dispatch('user/findUserIndex',this.deleteUser.id);
        this.$store.watch((state,getters)=>{
          this.indexUser = state.user.findUserIndex 
        })
      },
    }
}
</script>
