<template>
    <v-switch color="primary" v-model="disableUser" inset :label="labelText" @click.stop="showData">{{ disabled }}</v-switch>
</template>

<script>
  export default {
    props:{
      user:{
        type:Object,
        default:()=> user = {}
      },
      status:{
        type:Object,
        default:()=> status = 0
      }
    },
    data:()=> ({
        disableUser: false,
        user_data: {},
        labelText:''
    }),
    computed:{
      disabled:{
        get:function(){
          this.labelText = this.status.id == 1 ? 'Deshabilitar' : 'Habilitar'
          this.disableUser = (this.status.id !== 1) ? false : true
        },
        set:function(value){
          this.user_data = this.user
          this.labelText = (this.labelText == 'Deshabilitar') ? 'Habilitar' : 'Deshabilitar' 
          this.disableUser = value
        } 
      }
    },
    methods:{
      showData(){
        this.disabled = !this.disableUser
        this.$store.dispatch('user/disabledUser',{disableUser:this.disableUser,user:this.user})
      }
    }
  }
</script>