<script>
export default {
    props:{

    },
    data: ()=>({
        panel:[0],
    })
}
</script>




<template>
    <div class="header-user">
        <v-expansion-panels focusable v-model="panel" multiple>
            <v-expansion-panel>
                <v-expansion-panel-header><h3>Empleados</h3></v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-layout row wrap>
                        <v-flex xs12 sm12 md4 lg4 class="pa-1">
                            <v-card height="120" color="green">
                                <v-card-title class="white--text elevation-1 ">
                                    <h5>Cantidad usuarios </h5>
                                    <v-spacer />
                                    <h5>0</h5>
                                </v-card-title> 
                                <v-card-text class="mt-2 white--text title">
                                    Usuarios totales del sistema
                                </v-card-text>
                            </v-card>
                        </v-flex>

                        <v-flex xs12 sm12 md4 lg4 class="pa-1">
                            <v-card height="120" color="indigo">
                                <v-card-title class="white--text elevation-1">
                                    <h5>Usuarios activos</h5>
                                    <v-spacer />
                                    <h5>4</h5>
                                </v-card-title>
                                <v-card-text class="mt-2 white--text title">
                                    Usuarios activos del sistema
                                </v-card-text>
                            </v-card>
                        </v-flex>

                        <v-flex xs12 sm12 md4 lg4 class="pa-1">
                            <v-card height="120" color="cyan">
                                <v-card-title class="white--text elevation-1">
                                    <h5>Última actualización</h5>
                                     <v-spacer />
                                    <h5>2020-01-04</h5>
                                </v-card-title>
                                <v-card-text class="mt-2 white--text title">
                                    Actualización de usuarios
                                </v-card-text>
                            </v-card>
                        </v-flex>

                    </v-layout>

                </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        
    </div>
</template>


