<template>
<v-row>
 <div class="col-md-3 col-sm-6">     
   <v-card class="mt-2 mx-auto" height="120" >
            <v-sheet class="v-sheet--offset request ml-5" color="yellow darken-1 " elevation="12" height="78" max-width="calc(100% - 73%)">
                <h4 class="text-md-center text-sm-center text-center pt-4 white--text subtitle-1"><v-icon large dark>mdi-office-building</v-icon></h4>
            
            </v-sheet>
            <p class="subtitle-1 p-cards-text" > Departamentos </p>
            <h2 class="h2-cards-text"> <CountUp
                            :delay="delay"
                            :endVal="endVal"
                            :options="options"
                            /></h2>
            <v-card-actions>
                  <v-progress-linear
                color="teal"
                buffer-value="0"
                :value="endVal"
                stream
            ></v-progress-linear>                
            </v-card-actions>       
        </v-card>
        
 </div>
<!--------------------------------------------------------------------->
 <div class="col-md-3 col-sm-6">
      <v-card class="mt-2" height="120">
            <v-sheet class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="78" max-width="calc(100% - 73%)">
                <h4 class="text-md-center text-sm-center text-center pt-4 white--text title"><v-icon large dark>mdi-office-building</v-icon></h4>
            </v-sheet>
            <p class="subtitle-1 p-cards-text" > Departamentos </p>
            <h2 class="h2-cards-text"> <CountUp
                            :delay="delay"
                            :endVal="endVal"
                            :options="options"
                            /></h2>
            <v-card-actions>
                  <v-progress-linear
                color="teal"
                buffer-value="0"
                :value="endVal"
                stream
            ></v-progress-linear>                
            </v-card-actions>                       
        </v-card>
 </div>
<!----------------------------------------------------------------------->
    <div class="col-md-3 col-sm-6">
      <v-card class="mt-2" height="120">
            <v-sheet class="v-sheet--offset request ml-5" color="green darken-1 " elevation="12" height="78" max-width="calc(100% - 73%)">
                <h4 class="text-md-center text-sm-center text-center pt-4 white--text title"><v-icon large dark>mdi-office-building</v-icon></h4>
            </v-sheet>
            <p class="subtitle-1 p-cards-text" > Departamentos </p>
            <h2 class="h2-cards-text"> <CountUp
                            :delay="delay"
                            :endVal="endVal"
                            :options="options"
                            /></h2>
            <v-card-actions>
                  <v-progress-linear
                color="teal"
                buffer-value="0"
                :value="endVal"
                stream
            ></v-progress-linear>                
            </v-card-actions>       
        </v-card>
    </div>

<!---------------------------------------------------------------------------->
    <div class="col-md-3 col-sm-6">
       <v-card class="mt-2" height="120">
            <v-sheet class="v-sheet--offset request ml-5" color="red darken-1 " elevation="12" height="78" max-width="calc(100% - 73%)">
                <h4 class="text-md-center text-sm-center text-center pt-4 white--text title"><v-icon large dark>mdi-office-building</v-icon></h4>
            </v-sheet>
            <p class="subtitle-1 p-cards-text" > Departamentos </p>
            <h2 class="h2-cards-text"> <CountUp
                            :delay="delay"
                            :endVal="endVal"
                            :options="options"
                            /></h2>
            <v-card-actions>
                  <v-progress-linear
                color="teal"
                buffer-value="0"
                :value="endVal"
                stream
            ></v-progress-linear>                
            </v-card-actions>       
        </v-card>
    </div>
 </v-row> 
</template>

<script>
import CountUp from 'vue-countup-v2';
export default{
  data(){
    return{
      delay:1000,
      endVal:20,
      options:{
          useEasing: true,
          useGrouping: true,
          separator: ',',
          decimal: '.',
          prefix:'',
          suffix:''
      }
    };
  },
  components:{CountUp},
};
</script>
<style>
.p-cards-text{
    margin-top: -62px;
    padding-top: -19px;
    padding-right: 11px;
     text-align:right;
}
.h2-cards-text{
    text-align:right;
    padding-top: -19px;
    margin-top: -21px;
    padding-right: 11px;
}
</style>