<template>
    <div class="content-subcategory">
        <v-container class="pa-2 text-center">
                <!-- Search and button -->
            <div class="header-subcategory" >
                <v-card class="elevation-0">
                    <v-layout row wrap>
                        <v-flex xs12 sm12 md4 lg4>
                            <v-card-title><h4 class="grey--text"><v-icon color="blue">mdi-file-tree</v-icon> Subpartidas </h4></v-card-title>
                        </v-flex>

                        <v-flex xs12 sm12 md8 lg8>
                            <v-card-text class="d-flex justify-end"> 
                                <v-layout row wrap>
                                    <v-flex md6 lg6>
                                        <v-text-field placeholder="Buscar" append-outer-icon="search" @keyup="filterSubcategory"></v-text-field>   
                                    </v-flex>
                                    <v-flex md6 lg6>
                                        <v-btn rounded depressed class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text" @click="dialogSubcategory = !dialogSubcategory, isEdit=false"><v-icon>add</v-icon>Ingresar Subpartida</v-btn>  
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                </v-card>
            </div>
            <!-- End -->
            <v-row class="fill-height" align="center" justify="center">
                <template v-for="(item, i) in itemSubcategories">
                
                    <v-col :key="i" cols="12" sm="12" md="3" lg="3">
                        <v-hover v-slot:default="{ hover }">
                            <v-card  class="border" :elevation="hover ? 12 : 2" :class="{ 'on-hover': hover }" >
                                <v-card-title>
                                    <p class="title">{{ item.name }}</p>
                                </v-card-title>
                                <v-card-text>
                                    <div>
                                        <v-row class="fill-height flex-column" justify="space-between">
                                            <div class="align-self-center">
                                                <span>Fecha de creación: </span>
                                                <p class="ma-0 body-1 font-weight-bold font-italic text-center">
                                                    {{ item.created_at }}
                                                </p>
                                                <p>--------------------------------------</p>
                                                <span>Partida Correspondiente:</span>
                                                <p class="ma-0 body-1 font-weight-bold font-italic text-center">
                                                    {{item.category_id.name}}
                                                </p>
                                            </div>
                                        </v-row>
                                    </div>
                                    <v-row class="fill-height flex-column" justify="space-between">
                                        <div class="align-self-center">
                                            <v-tooltip left="">
                                                <template v-slot:activator="{ on }">
                                                    <v-btn color="white" icon @click="dialogSubcategory = !dialogSubcategory,isEdit = true,editSubcategory = item" v-on="on">
                                                        <v-icon :class="{ 'show-btns-edit': hover }"> edit </v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Editar</span>
                                            </v-tooltip>

                                            <v-tooltip right>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn color="white" icon @click="dialogDelete= !dialogDelete,deleteSubcategory = item" v-on="on">
                                                        <v-icon :class="{ 'show-btns-delete': hover }"> delete </v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Eliminar</span>
                                            </v-tooltip>
                                        </div>
                                    </v-row>
                                </v-card-text>

                                <v-expansion-panels>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header class="subtitle-1"> Descripción </v-expansion-panel-header>
                                        <v-expansion-panel-content>   
                                            <v-card-text>
                                                <div class="">
                                                    <p class="ma-0 body-1 font-weight-bold font-italic text-center">
                                                        {{ item.description }}
                                                    </p>
                                                </div>
                                            </v-card-text>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card>
                        </v-hover>
                    </v-col>
                </template>
            </v-row>  

        </v-container>
        <!-- Dialogs -->
            <DialogSubcategory  v-bind:dialogSubcategory="dialogSubcategory" 
                                v-bind:isEdit="isEdit" v-bind:editSubcategory="editSubcategory" 
                                @dialog-status = "dialogSubategoryStatus"/>
            <DialogDelete   v-bind:dialogDelete="dialogDelete" 
                            v-bind:deleteSubcategory="deleteSubcategory" @dialog-status = "dialogDeleteStatus" />
        
        <!--  Loader -->
        <Loader v-bind:loading="loading"/>
        <!--  Pagination -->
        <div class="text-center">
            <v-pagination 
                v-model="currentPage" :length="numPaginates"
                prev-icon="mdi-menu-left" next-icon="mdi-menu-right" :value="currentPage" circle 
            ></v-pagination>
        </div>
    </div>
</template>

<script>
import DialogSubcategory from './DialogSubcategory';
import DialogDelete from './DialogDelete';
import Loader from '../../../plugins/Loader'
import { filterObject } from '../../../helpers/filterObject';
import { currentItems, totalPaginates } from '../../../helpers/pagination';

import { mapGetters } from 'vuex';
export default {
    data:()=>({
        page: 1,
        dialogSubcategory:false,
        dialogDelete:false,
        editSubcategory:{},
        isEdit:false,
        deleteSubcategory:{},
        itemSub:0,
        icons: ['edit', 'delete'],
        labels: ['12am','3am','6am','9am','12pm','3pm','6pm','9pm',],
        value: [200,675,410,390,500,460,700,240,],
        // pagination 
        currentPage:1,
        itemsPerPage:4,
    }),
    computed:{
        ...mapGetters({
            subcategories: 'subcategory/getSubcategories',
            loading: 'subcategory/getLoading'
        }),
        itemSubcategories(){
            return this.itemSub == 0 ? currentItems(this.subcategories,this.currentPage,this.itemsPerPage) : this.itemSub // error
        },
        numPaginates(){
            return totalPaginates(this.subcategories.length, this.itemsPerPage)
        }
    },
    methods:{
        getSubcategories(){
            this.$store.dispatch('subcategory/getSubcategories');
        },
        dialogSubategoryStatus(status){
            this.itemSub = filterObject(this.subcategories, null); // update state when close the door
            this.dialogSubcategory = status;
        },
        dialogDeleteStatus(status){
            this.itemSub = filterObject(this.subcategories, null); // update state when close the door
            this.dialogDelete = status;
        },
        filterSubcategory(e){
            this.itemSub = filterObject(this.subcategories, e.target.value);
        }
    },
    mounted(){
        this.getSubcategories();
    },
    components:{DialogSubcategory,DialogDelete, Loader}
}
</script>

<style scoped>
    
.v-card {
  transition: opacity .4s ease-in-out;
}

.show-btns-edit {
  color: #FFEB3B !important;
  border-color: #FFEB3B !important;
}

.show-btns-delete {
    color: #F44336 !important;
    border-color: #F44336 !important;
}

.v-sheet--offset {
    top: -24px;
    position: relative;
}

.border{
    border-left: solid;
    border-color: #00E676 !important;
}
</style>