<template>
  <div class="dialog-category">
      <v-row justify="center">
          <v-dialog v-model="dialogSubcategory" persistent max-width="600px">
              <v-card>
                  <v-card-title class="green white--text">
                      <h4 class="title">{{ actionSubcategory }} Subpartida</h4>
                  </v-card-title>
                  <v-card-text>
                     <v-container>
                         <v-form @submit.prevent="saveSubcategory" ref="form_subcategory">
                             <v-row>
                                 <v-col cols="12">
                                     <v-text-field label="Nombre" 
                                        v-model="subcategory.name" 
                                        :rules="[rules.required,rules.maxName]"
                                     >
                                    </v-text-field>                                     
                                 </v-col>
                                 <v-col cols="12">
                                     <v-text-field label="Código" 
                                        v-model="subcategory.code" 
                                        :rules="[rules.required,rules.maxCode]"
                                     >
                                    </v-text-field>  
                                 </v-col>
                                 <v-col cols="12">
                                    <v-textarea 
                                        auto-grow rows="4" 
                                        clearable counter="100" 
                                        clear-icon="cancel" 
                                        label="Descripción" 
                                        v-model="subcategory.description" 
                                        :rules="[rules.required,rules.maxDescription]"
                                        >
                                    </v-textarea>
                                 </v-col>
                                <v-col class="d-flex" cols="12" sm="12" md="12" lg="12"> 
                                    <v-overflow-btn v-model="subcategory.category_id" 
                                        editable
                                        :items="categories"
                                        label="Partida"
                                        item-value="id"
                                        item-text="name"
                                        prepend-inner-icon="label"
                                        color="cyan"
                                        :rules="[rules.required]"
                                        >
                                    </v-overflow-btn>
                                </v-col>
                             </v-row>
                              <!-- alert -->
                             <div class="alert">
                                <v-alert
                                v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">
                                <!-- {{ message }} -->
                                    <ul>
                                        <li v-for="(error,i) in errors" :key="i">
                                            {{ error[0] }}
                                        </li>
                                    </ul>
                                </v-alert>
                            </div>
                             <!-- end alert -->
                             <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="ma-2" color="error" @click="closeDialog(!dialogSubcategory)">
                                    <v-icon left>mdi-close</v-icon> Cerrar
                                </v-btn>
                                <v-btn :loading="loadings" class="ma-2" color="cyan white--text" type="submit" >
                                    <v-icon left>{{ icon }}</v-icon> {{ actionSubcategory }}
                                </v-btn>
                             </v-card-actions>
                         </v-form>
                     </v-container>
                  </v-card-text>
                  <v-card-actions>

                  </v-card-actions>
              </v-card>
          </v-dialog>
      </v-row>
       <!-- Notifications -->
    <div class="notification-user">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >
        {{ message }}
        <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import errorList from '../../../helpers/errorObjectList';
export default {
    props:{
        dialogSubcategory:{
            type:Boolean,
            default: ()=> dialogSubcategory = false
        },
        isEdit:{
            type:Boolean,
            default:()=> isEdit = false
        },
        editSubcategory:{
            type:Object,
            default:()=> editSubcategory = {}
        }
    },
    data:()=>({
        icon:'edit',
        loadings:false,
        indexSubcategory:1,
        stateObject:{},
        colorSnack:'primary',
        statusSnack:false,
        showAlert:false,
        dismissible:true,
        type:'error',
        message:'',
        errors:'',
        rules:{
            required: value => !!value || 'Campo Requerido.',
            maxCode: value =>value.length <= 20 || 'Máximo 20 caracteres',
            maxName: value =>value.length <= 50 || 'Máximo 50 caracteres',
            maxDescription: value =>value.length <= 100 || 'Máximo 100 caracteres',
        },
        subcategory:{
            id:'',
            name:'',
            code:'',
            description:'',
            category_id: ''
        },
        defaultSubcategory:{
            id:'',
            name:'',
            code:'',
            description:'',
            category_id:'',
        }
    }),
    computed:{
        actionSubcategory(){
            this.isEdit ? Object.assign(this.subcategory,this.editSubcategory) : Object.assign(this.subcategory,this.defaultSubcategory);
            return this.isEdit ? 'Editar' : 'Crear'
        },
        ...mapGetters({
            categories: 'category/getCategories'
        }),
    },
    methods:{
        closeDialog(status){
            this.resetFields()
            this.$emit('dialog-status',status)
        },
        saveSubcategory(){
            if(this.$refs.form_subcategory.validate())
            {
                this.loadings = true;
                this.isEdit ? this.findIndexSubcategoryArray() : null;
                this.isEdit ? this.$store.dispatch('subcategory/updateSubcategory',{subcategory: this.subcategory,indexSubcategory:this.indexSubcategory }) 
                    : this.$store.dispatch('subcategory/storeSubcategory',this.subcategory);

                this.$store.subscribe((mutation,state)=>{
                    this.stateObject = state;
                })
                setTimeout(() => {
                    this.evaluateResponse()
                }, 1500);
            }
        },
        evaluateResponse()
        {
            let state = this.stateObject.subcategory
            this.loadings = state.isLoading; // lo detenemos
            if(state.status === 200 || state.status === 201)
            {
                this.message = state.message
                this.statusSnack = true
                this.subcategory = {}
                this.resetFields()
                this.closeDialog(false);
            }
            else
            {
                this.errors = errorList(state.errors);
                this.showAlert = true
            }
                
            setTimeout(() => {
                this.statusSnack = false
                this.message = null
            }, 3000);
        },
        getCategories(){
            this.$store.dispatch('category/getCategories') 
        },
        findIndexSubcategoryArray(){
            this.$store.dispatch('subcategory/getSubcategoryIndex',this.editSubcategory);
            this.$store.watch((state,getters)=>{
                this.indexSubcategory = state.subcategory.findSubcategoryIndex;
            })
        },
        resetFields(){
            this.showAlert = false
            this.errors = null
        }
    },
    mounted(){
        this.getCategories();
    }
}
</script>

<style>

</style>