<template>
    <div class="dialog-delete">
        <v-dialog v-model="dialogDelete" width="600" persistent trasition="slide-x-reverse-transition">
            <v-card>
                <v-card-title class="mx-4 mb-3 elevation-20 white--text red darken-2">
                    <h4>Eliminar subpartida <v-icon x-large>delete</v-icon> </h4>
                </v-card-title>
                <v-card-text>
                    <h3 class="">¿Está seguro que desea eliminar esta subpartida de la lista? </h3>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="d-flex justify-space-between">
                    <v-btn @click.stop="closeDialog(!dialogDelete)">Cancelar <v-icon>close</v-icon></v-btn>
                    
                    <v-btn depressed :loading="loadings" class="red darken-1 white--text" @click.stop="DeleteSubcategory">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
         <!-- Notifications -->
        <div class="notification-subcategory">
            <v-snackbar
                v-model="statusSnack"
                :color="colorSnack"
                :multi-line="true"
                :right="true"
                :timeout="5000"
                :top="true"
                >
                {{ message }}
                <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
            </v-snackbar>
        </div>
    </div>
</template> 

<script>
export default {
    props:{
        dialogDelete: {
            type:Boolean,
            default: ()=> dialogDelete = false
        },
        deleteSubcategory:{
            type:Object,
            default:()=>deleteSubcategory = {}
        }
    },
    data:()=>({
        indexSubcategory:-1,
        stateSubcategory:{},
        loadings:false,
        statusSnack:false,
        colorSnack:'primary',
        message:'',
    }),
    methods:{
        closeDialog(status){
            this.$emit('dialog-status',status);
        },
        DeleteSubcategory()
        {
            this.loadings = true;
            this.findIndexSubcategoryArray();
            this.$store.dispatch('subcategory/deleteSubcategory',{subcategory:this.deleteSubcategory,indexSubcategory: this.indexSubcategory})
            
            this.$store.subscribe((mutation,state)=>{
                this.stateSubcategory = state.subcategory;
            })

            setTimeout(() => {
                this.evaluateResponse();
            }, 1500);
        },
        evaluateResponse(){
            this.loadings = this.stateSubcategory.isLoading; 
            switch(this.stateSubcategory.status)
            {
                case 200:
                    this.message = this.stateSubcategory.message
                    this.statusSnack = true
                    this.closeDialog(false);
                    break;
                default:
                    this.message = this.stateSubcategory.message
                    this.colorSnack = 'error'
                    this.statusSnack = true
                    this.closeDialog(false);
                    break;
            }
            setTimeout(() => {
                this.statusSnack = false
                this.message = null
            }, 5000);
        },
        findIndexSubcategoryArray(){
            this.$store.dispatch('subcategory/getSubcategoryIndex',this.editSubcategory);
            this.$store.watch((state,getters)=>{
                this.indexSubcategory = state.subcategory.findSubcategoryIndex;
            })
        }
    },
    components:{}
}
</script>

<style>

</style>