<template>
    <div class="subcategeory">
        <v-container>
            <ContentSubcategory/>
        </v-container>
    </div>
</template>

<script>
import HeaderSubcategory from './HeaderSubcategory';
import ContentSubcategory from './ContentSubcategory'
export default {
    components:{HeaderSubcategory, ContentSubcategory}
}
</script>

<style>

</style>