<template>
  <div class="dialog-commodity">
      <v-dialog v-model="dialogCommodity" persistent max-width="956px">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>Mercadería</v-card-title>
            <v-card-text>
              <v-container>
                <v-form @submit.prevent="storeUpdateCommodity" ref="form_commodity">
                  <v-row>
                    <v-col cols="12" sm="12" md="4" lg="4">
                      <v-text-field label="Nombre del Artículo" v-model="active.code" :rules="[rules.required,rules.maxCode]"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="4" lg="4">
                      <v-text-field label="Precio Unitario" v-model="active.brand" :rules="[rules.required,rules.max,rules.min]"></v-text-field>
                    </v-col>
                    
                    <v-col cols="12" sm="12" md="4" lg="4">
                      <v-text-field label="Precio Total" v-model="active.model" :rules="[rules.required,rules.max,rules.min]"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Existencia" v-model="active.value" :rules="[rules.required,rules.value]"></v-text-field>
                    </v-col>

                    <v-col class="d-flex" cols="12" sm="12" md="12" lg="12"> 
                      <v-overflow-btn v-model="active.status_id" 
                          ref="Recipients"
                          :items="statusList"
                          editable
                          label="SubPartida"
                          item-value="id"
                          item-text="name"
                          prepend-icon="label"
                          color="cyan"
                          :rules="[rules.required]"
                          >
                        </v-overflow-btn>
                    </v-col>
                    
                    <v-col class="d-flex" cols="12" sm="12" md="12" lg="12"> 
                      <v-overflow-btn v-model="active.status_id" 
                          ref="Recipients"
                          :items="statusList"
                          editable
                          label="Estado"
                          item-value="id"
                          item-text="type"
                          prepend-icon="label"
                          color="cyan"
                          :rules="[rules.required]"
                          >
                        </v-overflow-btn>
                    </v-col>

                    <v-col class="d-flex" cols="12" sm="12" md="12" lg="12"> 
                      <v-overflow-btn v-model="active.area_id" 
                          ref="Recipients"
                          :items="areasList"
                          editable
                          label="Bodega"
                          item-value="id"
                          item-text="name"
                          prepend-icon="label"
                          color="cyan"
                          :rules="[rules.required]"
                          >
                        </v-overflow-btn>
                    </v-col>
                  </v-row>

                  <div class="alert">
                    <v-alert
                      v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">
                      {{ message }}
                      {{ errors }}
                    </v-alert>
                  </div>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="ma-2" outlined color="error" @click="closeDialog(!dialogActive)">Cerrar</v-btn>
                    <v-btn :loading="loadings" class="ma-2" color="primary" type="submit" >
                      <v-icon left>mdi-pencil</v-icon> {{  textAction = chargeFields }} 
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
    <!-- Notification -->
    <div class="notification-user">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >

        {{ message }}
        <v-btn dark text @click="closeSnack(!statusSnack)"> Cerrar </v-btn>
    </v-snackbar>
    </div>
    <!-- <NotificationActive v-bind:message="message" v-bind:statusSnack="statusSnack" v-bind:colorSnack="colorSnack" /> -->
    <!-- End Notification  -->
  </div>
</template>

<script>
export default {

}
</script>
