<template>
  <div class="login" >
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="animated fadeInDown" data-tilt>
                        <img src="images/login/Logo ACT.png" width="300" height="270" alt="IMG" />
                    </div>

                    <form class="login100-form validate-form" ref="form_login" @submit.prevent="authenticate()">
                        <span class="login100-form-title">
                            Iniciar sesión
                        </span>

                        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <input class="input100" type="text" name="dni" placeholder="Cedula" v-model="form.dni"  />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Password is required">
                            <input class="input100" type="password" name="password" placeholder="Contraseña " v-model="form.password" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit" :loading="loadings"> 
                                Acceder
                            </button>
                        </div>

                        <div class="text-center p-t-12">
                            <span class="txt1">
                                Forgot
                            </span>
                            <a class="txt2" href="#!">
                                Username / Password?
                            </a>
                        </div>

                        <div class="text-center p-t-136">
                            <a class="txt2" href="#!">
                                Create your Account
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- SNACKBAR -->
        <v-snackbar
            v-model="snackbar"
            :bottom="false"
            :top="true"
            :right="true"
            color="#1ab394"
            :multi-line="true"
            :timeout="6000"
            >
            <h3>{{ text }}</h3>
            <v-btn dark text @click="snackbar = false">Cerrar</v-btn>
        </v-snackbar>
        <!-- END SNACKBAR -->
    </div>
</template>

<script>
export default {
    data:()=>({
        form:{
            dni:"",
            password:""
        },
        stateLogin:'',
        stateMutation:'',
        loadings: false,
        snackbar: false,
        text:"",
        showPassword: false,
        rules: {
          required: value => !!value || 'Campo Requerido.',
          password: v => v.length >= 6 || 'Minimo 6 caracteres',
          name: val => val.length >= 4 || 'Minimo 4 caracteres'
        },
    }),
    methods:{
        click(){alert('here')},
        Register(){
            this.$router.push({path:'/register'});
        },
        authenticate(){
            //console.log(this.form)
            /*if(this.$refs.form_login.validate())
            { 
              */this.loadings = true;
                this.$store.dispatch('login/login',{form: this.form})

                this.$store.subscribe((mutation,state)=>{
                   this.evaluateResponse(mutation,state.login)
                })
            
        },
        evaluateResponse(mutation,state){

            this.loadings = state.loading ? true : false;
            if(state.status == 200)
            {
                this.text = state.message
                this.snackbar = true;
                mutation.type === "login/loginSuccess" ? this.$router.push({path:'/'}) : null;
            }
            else
            {
                this.text = state.auth_error
                this.snackbar = true;
            }

            setTimeout(()=>{
                this.text = null
                this.snackbar = false
            },6000)
        },
    }
}
</script>

<!-- email: value => {
//     const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
//     return pattern.test(value) || 'Invalid e-mail.'
//     }
 -->