<template>
    <div class="logout">
        <v-menu :nudge-width="100" v-if="currentUser">
            <template v-slot:activator="{ on }">
              <v-btn depressed  class="text-capitalize title font-weight-light" color="rgb(146, 198, 60)" v-on="on">
                <span>{{ currentUser.first_name }}</span>
                <v-icon>arrow_drop_down</v-icon>
              </v-btn>
            </template>

       <v-list class="list_logout">
            <v-card class="mt-4 card_logout">
                  <v-row justify="center">    
                          <v-avatar
                            slot="offset"
                            class="mx-auto d-block avatar_logout"
                            size="130"
                          >
                          <img :src="currentUser.image">
                        </v-avatar>
                  </v-row>
                <v-card-text class="pt-0">
                    <div class="title font-weight-light mb-2">{{currentUser.first_name}} {{currentUser.first_surname}} {{currentUser.second_surname}} </div>
                    <div class="subheading font-weight-light grey--text">Administrador</div>
                    <v-divider class="my-2"></v-divider>
                    <v-btn block rounded color="red" @click.prevent="logout">
                      <v-icon color="white" dark >exit_to_app</v-icon>
                    </v-btn>
                </v-card-text>
             </v-card>
          </v-list>
        </v-menu>
    </div>
</template>
<script>
import {mapGetters} from 'vuex';

export default {
   data(){
      return{
        Nombre:"Josue Vásquez Sequeira",
        Puesto:""
      };
     },
    computed:{
        ...mapGetters({
            currentUser: 'login/currentUser'
        })
    },
    methods:{
        logout(){
            this.$store.commit('login/logOut');
            this.$router.push('/login');
        }
    }
}
</script>
<style>
.list_logout{
padding-right: 13px;
padding-left: 13px;
padding-bottom: 15px;
}
.avatar_logout{
  height: 130px; 
  min-width: 130px; 
  width: 130px;
  bottom: 19px;
}
.card_logout{
  margin-left: -3px;
  margin-right: -34px;
  left: 2px;
}

</style>