<template>
    <div class="Actives_asigned">
        <v-container>
            <ContentActivesAsigned />
        </v-container>
    </div>
</template>

<script>
import ContentActivesAsigned from './ContentActivesAsigned';
export default {

    components:{ContentActivesAsigned}
}
</script>
