<template> 
    <div class="actives_Asigned">
      <v-card>
        <v-sheet class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="80" max-width="calc(100% - 93%)">
            <h4 class="text-md-center pt-4 white--text title"><v-icon large dark>mdi-format-list-checks</v-icon></h4>
            <p class="subtitle title">  Activos asignados</p>
        </v-sheet>
        <v-card-text>
            <v-row>
                <v-col class="d-flex justify-end">
                    <v-text-field
                        v-model="search"
                        append-icon="search"
                        label="Buscar"
                        single-line
                        hide-details
                        color="light-blue darken-1"
                        style="max-width: 300px;"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-divider />
          <div class="table-responsive">
            <v-data-table
                :headers="headers"
                :items="activesAsigned"
                :search="search"
            >
              <template v-slot:item="props">
                <tr>
                      <td class="subheading">{{ props.item.id }}</td>
                      <td class="subheading">{{ props.item.active_id.code }}</td>
                      <td class="subheading text-truncate">{{ props.item.active_id.description }}</td>
                      <td class="subheading">{{ props.item.active_id.brand }}</td>
                      <td class="subheading">{{ props.item.active_id.model }}</td>
                      
                      <td class="subheading">{{ props.item.user_id.dni }}</td>
                      <td class="subheading">{{ props.item.user_id.first_name }}</td>
                      <td class="subheading">{{ props.item.created_at }}</td>
                      <td class="subheading">
                        <v-menu bottom left  transition="slide-x-transition">
                          <template v-slot:activator="{ on }">
                            <v-btn
                              success
                              icon
                              v-on="on"
                            >
                            <v-icon>mdi-dots-vertical</v-icon> 
                            </v-btn>
                         </template>

                            <!-- <v-list>
                              <v-list-item @click.stop="infoActive(props.item)">
                                <v-list-item-title ><v-icon color="cyan" middle >info</v-icon> Detalles</v-list-item-title>
                            </v-list-item>
                          </v-list> -->
                        </v-menu>
                      </td>
                  </tr>
                </template> 
             </v-data-table>
            </div>
        </v-card-text>
        <!--  Dialogs o modals -->
          <!-- <DialogAsigned v-bind:dialogAsigned="dialogAsigned" v-bind:asignedActive="asignedActive" @dialog-asigned-status = "dialogActiveAsignedStatus"/>
          <DialogActive v-bind:dialogActive="dialogActive" v-bind:isEdit="isEdit" v-bind:editActive="editActive" @dialog-status = "dialogActiveStatus" /> 
          <DialogDetail v-bind:dialogDetailsActive="dialogDetailsActive" v-bind:detailActive="detailActive" @dialog-detail-status = "dialogDetailActive"/>  -->
        <!-- End Dialogs  -->
    </v-card>
   </div>
</template>
<script>
import Loader from '../../../plugins/Loader'

import { mapGetters } from 'vuex';
export default {
    data:()=>({
      panel:[0],
      search: '',
      headers: [
        { text: 'ID', align: 'left', sortable: false, value: 'id'},
        { text: 'Código ', value: 'active_id' },
        { text: 'Descripción', value: 'active_id' },
        { text: 'Marca', value: 'active_id' },
        { text: 'Modelo', value: 'active_id' },
        { text: 'Cédula Empleado', value: 'user_id' },
        { text: 'Nombre Empleado', value: 'user_id' },
        { text: 'Creado', value: 'created_at' },
      ], 
    }),

    computed:{
      ...mapGetters({
          activesAsigned : 'active_user/getActiveAsignedList',
          loading: 'active_user/getLoading'
      }),
    },
    methods:{
      getActiveAsignedList(){
        this.$store.dispatch('active_user/getActiveAsignedList'); 
      },
    },
    mounted(){
      this.getActiveAsignedList();
    },
    components:{Loader}
}
</script>

<style>

</style>
