<template>
    <div class="supplier-company">
        <v-container>
            <ContentCompanySupplier />
        </v-container>
    </div>
</template>

<script>
import ContentCompanySupplier from './ContentCompanySupplier'
export default {
    components:{ContentCompanySupplier}
}
</script>