<template> 
    <div class="company-supplier">     
      <v-card>
        <v-card-title>
        <v-spacer></v-spacer>
        
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            color="light-blue darken-1"
            style="max-width: 300px;"   
        ></v-text-field>

          <v-btn rounded class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text"> <v-icon>add</v-icon> Ingresar Proveedor</v-btn>
        </v-card-title>
        <v-card-text>
          <div class="table-responsive">
            <v-data-table 
                :headers="headers"
                :items="companySuppliers"
                :search="search"
            >
              <template v-slot:item="props">
                  <tr>
                      <td class="font-weight-light">{{ props.item.id }}</td>
                      <td class="font-weight-light">{{ props.item.dni }}</td>
                      <td class="font-weight-light">{{ props.item.name }}</td>
                      <td class="font-weight-light">{{ props.item.telephone }}</td>
                      <td class="font-weight-light">{{ props.item.direction }}</td>
                      <td class="font-weight-light"> {{props.item.bank_account}}</td>
                        
                      <td class="font-weight-light">
                          <v-menu bottom left transition="slide-x-transition">
                            <template v-slot:activator="{ on }">
                            <v-btn
                              success
                              icon
                              v-on="on"
                            >
                            <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                          </template>
                        
                          <v-list>
                            <v-list-item>
                              <v-list-item-title ><v-icon color="yellow" middle left>edit</v-icon> Editar</v-list-item-title >
                              </v-list-item>
                              <v-list-item>
                                
                              </v-list-item>
                          </v-list>
                        </v-menu>
                      </td>
                    </tr>
                  </template> 
              </v-data-table>
          </div>
        </v-card-text>
        
      </v-card>
      <!--  Dialogs o modals -->
      <!-- End Dialogs  -->
  </div>
</template>


<script>
import Loader from '../../../plugins/Loader'
import { mapGetters } from 'vuex';

export default {
  data:()=>({
    itemCompanySupplier: 0,
    search: '',
    headers: [
      { text: 'ID', align: 'left',sortable: false, value: 'id'},
      { text: 'Cédula Jurídica ', value: 'dni' },
      { text: 'Nombre', value: 'name' },
      { text: 'Teléfono', value: 'telephone' },
      { text: 'Dirección', value: 'direction'},
      {text: 'Cuenta Cliente', value: 'bank_account'},         
      { text: 'Acciones', value:'actions', sortable: false}
    ], 
  }),

  computed:{
    ...mapGetters({
        companySuppliers : 'companySupplier/getCompanySuppliers',
        loading: 'companySupplier/getLoading'
    }),
    itemCompanySuppliers(){
      return this.itemCompanySupplier == 0 ? this.companySuppliers : this.itemCompanySupplier;
    }  
  },

  methods:{
    getCompanySuppliers(){
      this.$store.dispatch('companySupplier/getCompanySuppliers');
    },
  },
  mounted(){
    this.getCompanySuppliers();
  },
}
</script>

