<template> 
    <div class="person-supplier">     
      <v-card>
        <v-card-title>
        <v-spacer></v-spacer>
        
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            color="light-blue darken-1"
            style="max-width: 300px;"   
          ></v-text-field>

          <v-btn rounded class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text" @click.stop="dialogPersonSupplier = !dialogPersonSupplier, isEdit = false"> <v-icon>add</v-icon> Ingresar Proveedor</v-btn>
        </v-card-title>
        <v-card-text>
          <div class="table-responsive">
            <v-data-table 
                :headers="headers"
                :items="personSuppliers"
                :search="search"
            >
              <template v-slot:item="props">
                  <tr>
                      <td class="font-weight-light">{{ props.item.id }}</td>
                      <td class="font-weight-light">{{ props.item.dni }}</td>
                      <td class="font-weight-light">{{ props.item.first_name +" "+ props.item.middle_name }}</td>
                      <td class="font-weight-light">{{ props.item.first_surname +" "+ props.item.second_surname }}</td>
                      <td class="font-weight-light">{{ props.item.telephone }}</td>
                      <td class="font-weight-light">{{ props.item.direction }}</td>
                      <td class="font-weight-light"> {{props.item.bank_account}}</td>
                      <td class="font-weight-light"> 
                        <v-chip :color="props.item.status_id.type">
                            <v-icon left v-if="props.item.status_id.type == 'Activo'">check</v-icon>
                            <span class="font-weight-dark"> {{ props.item.status_id.type }} </span> 
                        </v-chip> 
                      </td>
                      <td class="font-weight-light">
                          <v-menu bottom left transition="slide-x-transition">
                            <template v-slot:activator="{ on }">
                            <v-btn
                              success
                              icon
                              v-on="on"
                            >
                            <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                          </template>
                        
                          <v-list>
                            <v-list-item @click.stop="dialogPersonSupplier = !dialogPersonSupplier, isEdit = true, editPersonSupplier = props.item">
                              <v-list-item-title ><v-icon color="yellow" middle >edit</v-icon> Editar</v-list-item-title>
                            </v-list-item>
                              <v-list-item>
                                <DisablePersonSupplier v-bind:status="props.item.status_id" v-bind:personSupplier="props.item"/>
                              </v-list-item>
                          </v-list>
                        </v-menu>
                      </td>
                    </tr>
                  </template> 
              </v-data-table>
          </div>
        </v-card-text>
        
      </v-card>
      <!--  Dialogs o modals -->
      <DialogPersonSupplier v-bind:dialogPersonSupplier="dialogPersonSupplier" v-bind:isEdit="isEdit" v-bind:editPersonSupplier="editPersonSupplier" @dialog-status = "dialogPersonSupplierStatus" /> 
      <!-- End Dialogs  -->
  </div>
</template>


<script>
import Loader from '../../../plugins/Loader';
import DialogPersonSupplier from './DialogPersonSupplier';
import DisablePersonSupplier from './DisablePersonSupplier';
import { mapGetters } from 'vuex';

export default {
    data:()=>({
      dialog:false,
      dialogPersonSupplier:false,
      isEdit: false,
      editPersonSupplier:{},
      itemPersonSupplier: 0,
      panel:[0],
      search: '',
      headers: [
        { text: 'ID', align: 'left',sortable: false, value: 'id'},
        { text: 'Cédula ', value: 'dni' },
        { text: 'Nombre ', value: 'first_name' },
        { text: 'Apellidos', value: 'first_surname' },
        { text: 'Teléfono', value: 'telephone' },
        { text: 'Dirección', value: 'direction'},
        {text:  'Cuenta Cliente', value: 'bank_account'}, 
        { text: 'Estado', value: 'status_id.type' },        
        { text: 'Acciones', value:'actions', sortable: false}
      ], 
  }),

  computed:{
    ...mapGetters({
        personSuppliers : 'personSupplier/getPersonSuppliers',
        loading: 'personSupplier/getLoading'
    }),
    itemPersonSuppliers(){
      return this.itemPersonSupplier == 0 ? this.personSuppliers : this.itemPersonSupplier;
    }
  },

    methods:{
      getPersonSuppliers(){
        this.$store.dispatch('personSupplier/getPersonSuppliers');
      },
      dialogPersonSupplierStatus(status){
        this.dialogPersonSupplier = status;
      },
    },
    mounted(){
      this.getPersonSuppliers();
    },
    components: {DialogPersonSupplier,DisablePersonSupplier}
}
</script>

<style scoped>

.v-chip.theme--light.Activo{
    background:#4caf50 ;
    color:white;
}
</style>