<template>
  <div class="dialog-personSupplier">
      <v-dialog v-model="dialogPersonSupplier" persistent max-width="600px">
        <v-card>
          <v-card-title class="green white--text">Crear Proveedor Persona</v-card-title>
            <v-card-text>
              <v-container>
                <v-form @submit.prevent="storeUpdatePersonSupplier" ref="form_personSupplier">
                  <v-row>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Primer Nombre" v-model="personSupplier.first_name"></v-text-field>
                    </v-col>
                    
                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Segundo Nombre" v-model="personSupplier.middle_name"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Primer Apellido" v-model="personSupplier.first_surname"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Segundo Apellido" v-model="personSupplier.second_surname"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Cédula" v-model="personSupplier.dni"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Teléfono" v-model="personSupplier.telephone"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Cuenta Cliente" v-model="personSupplier.bank_account"></v-text-field>
                    </v-col>
                    
                    <v-col class="d-flex" cols="12" sm="12" md="6" lg="6"> 
                      <v-overflow-btn v-model="personSupplier.status_id" 
                          ref="Recipients"
                          :items="supplierStatus"
                          editable
                          label="Estado"
                          item-value="id"
                          item-text="type"
                          prepend-inner-icon="label"
                          color="cyan"
                          
                          >
                        </v-overflow-btn>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" lg="12">
                      <v-textarea label="Dirección" v-model="personSupplier.direction" auto-grow rows="2" clearable clear-icon="cancel" counter="255"></v-textarea>
                    </v-col>
                    
                  </v-row>                                      
                  <div class="alert">
                    <v-alert
                      v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">

                      <ul>
                        <li v-for="(item,index) in errors" :key="index">
                              {{ item[0] }}
                        </li>
                      </ul>
                      
                    </v-alert>
                  </div>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="ma-2" color="error" @click="closeDialog(!dialogPersonSupplier)">
                      <v-icon left>mdi-close</v-icon>Cerrar
                    </v-btn>

                    <v-btn :loading="loadings" class="ma-2" color="cyan white--text" type="submit" >
                      <v-icon left>mdi-pencil</v-icon> {{  textAction = chargeFields }} 
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
    <!-- Notification -->
    <div class="notification-user">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >

        {{ message }}
        <v-btn dark text @click="closeSnack(!statusSnack)"> Cerrar </v-btn>
    </v-snackbar>
    </div>
  </div>
    
</template>

<script>
import { mapGetters } from 'vuex';

export default { 
    props: {
        dialogPersonSupplier: {
          type:Boolean,
          default:()=> dialogPersonSupplier = false
        },
        isEdit:{
          type:Boolean,
          default:()=> isEdit = false
        },
        editPersonSupplier:{
          type:Object,
          default:()=>editPersonSupplier = {}
        }
    },
    data:()=>({
       /**alert */
      showAlert:false,
      dismissible:true,
      type:'error',
      errors:{},
      /** */
      statePersonSupplier:{},
      message:'',
      colorSnack:'primary',
      statusSnack:false,
      findCurrentIndexPersonSupplier:-1,
      personSupplier:{
        dni:'',
        first_name:'',
        middle_name:'',
        first_surname:'',
        second_surname:'',
        telephone:'',
        direction:'',
        bank_account:'',
        status_id:'',
      },
      personSupplierDefault:{
        dni:'',
        first_name:'',
        middle_name:'',
        first_surname:'',
        second_surname:'',
        telephone:'',
        direction:'',
        bank_account:'',
        status_id: 1,
      },
      loadings:false,
    }),
    computed:{
      ...mapGetters({
          supplierStatus: 'status/getSupplierStatus',
      }),
      chargeFields(){
        this.isEdit ? Object.assign(this.personSupplier,this.editPersonSupplier) : Object.assign(this.dialogPersonSupplier,this.personSupplierDefault) ; // sacamos o cargamos los campos si es para editar
        return this.isEdit ? "Editar" : "Crear";
      }
    },
    methods:{
      closeSnack(status){
        this.statusSnack = status
      },
      closeDialog(status){
        this.$emit('dialog-status',status)
      },
      async storeUpdatePersonSupplier(){

        if(this.$refs.form_personSupplier.validate()){
            this.loadings = true;
            this.isEdit ? this.$store.dispatch('personSupplier/updatePersonSupplier',this.personSupplier) 
              : this.$store.dispatch('personSupplier/storePersonSupplier',this.personSupplier);
              
            await this.$store.watch((state,getters)=>{
              this.statePersonSupplier = state.personSupplier
            })

            setTimeout(()=>{
              this.evaluateState();
            },1500)
        }
      },
      evaluateState(){
        let state = this.statePersonSupplier;
        this.loadings = state.isLoading ? true : false;
        if(state.status == 200 || state.status == 201)
        {
          this.statusSnack = true;
          this.message = state.message;
          this.closeDialog(false);
        }
        else
        {
          this.message = state.message;
          this.errors = state.errors;
          this.showAlert = true;   
        }
        setTimeout(() => {
            this.showAlert = false;
            this.message = null;
            this.errors = {}
          }, 5000)    
      },
      /** charge methods overflow btn */
      getStatuses(){
        this.supplierStatus.length === 0 ? this.$store.dispatch('status/getStatus') : null;
      },
    },
    mounted(){
      this.getStatuses();
    },
}
</script>