<template>
    <v-switch color="primary" v-model="disablePersonSupplier" inset :label="labelText" @click.stop="showData">{{ disabled }}</v-switch>
</template>

<script>
  export default {
    props:{
      personSupplier:{
        type:Object,
        default:()=> personSupplier = {}
      },
      status:{
        type:Object,
        default:()=> status = {}
      }
    },
    data:()=> ({
        disablePersonSupplier: false,
        labelText:''
    }),
    computed:{
      disabled:{
        get:function(){
          this.labelText = this.status.id == 1 ? 'Deshabilitar' : 'Habilitar'
          this.disablePersonSupplier = (this.status.id !== 1) ? false : true
        },
        set:function(value){
          this.labelText = (this.labelText == 'Deshabilitar') ? 'Habilitar' : 'Deshabilitar' 
          this.disablePersonSupplier = value
        } 
      }
    },
    methods:{
      showData(){
        this.disabled = !this.disablePersonSupplier
        let data = {
          query: {
            status_id:this.disablePersonSupplier,
            id:this.personSupplier.id
          },
          user: this.personSupplier
        }
        this.$store.dispatch('personSupplier/disabledPersonSupplier',data)
      }
    }
  }
</script>