<template>
    <div class="supplier-person">
        <v-container>
            <ContentPersonSupplier />
        </v-container>
    </div>
</template>

<script>
import ContentPersonSupplier from './ContentPersonSupplier'
export default {
    components:{ContentPersonSupplier}
}
</script>