<template>
  <div class="article">
      <v-container>
        <ContentArticle />
      </v-container>
  </div>
</template>

<script>
import ContentArticle from './ContentArticle';
export default {
  components:{ContentArticle}
}
</script>
