<template> 
    <div class="articles">
        <v-card>
            <v-sheet class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="80" max-width="calc(100% - 93%)">
                <h4 class="text-md-center pt-4 white--text title"><v-icon large dark>shop_two</v-icon></h4>
                <p class="subtitle title"> Artículos </p>
            </v-sheet>

            <v-card-title>
                <v-spacer></v-spacer>
                <v-spacer>
                <v-overflow-btn   
                    class="my-2"
                    :items="orderList"
                    label="Filtros"
                    single-line
                    item-value="id"
                    item-text="type"
                    prepend-inner-icon="list"
                    v-model="valueFilter"
                    v-on:change="filter"
                    color="light-blue darken-1"
                    style="max-width: 300px;">
                </v-overflow-btn>
                </v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Buscar"
                    single-line
                    color="light-blue darken-1"
                    style="max-width: 300px;">
                </v-text-field>
                <v-btn rounded class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text" @click.stop="dialogArticle = !dialogArticle, isEdit = false"> <v-icon>add</v-icon> Ingresar Artículo</v-btn>
            </v-card-title>
            <v-card-text>
                <div class="table-responsive">
                    <v-data-table
                        :headers="headers"
                        :items="articles"
                        :search="search">

                        <template v-slot:item="props">
                            <tr>
                                <td class="font-weight-light">{{ props.item.id }}</td>
                                <td class="font-weight-light">{{ props.item.name }}</td>
                                <td class="font-weight-light">{{ props.item.price_unit }}</td>
                                <td class="font-weight-light">{{ props.item.price_total }}</td>
                                <td class="font-weight-light">
                                    <v-chip :color="getColorStock(props.item.quantity_id.stock)" dark>{{ props.item.quantity_id.stock }}</v-chip>
                                </td>
                                <td class="font-weight-light">{{ props.item.subcategory_id.name }}</td>
                                <td class="font-weight-light">{{ props.item.warehouse_id.name }}</td>
                                <td class="font-weight-light"> 
                                    <v-chip :color="props.item.status_id.type">
                                        <v-icon left v-if="props.item.status_id.type == 'Activo'">check</v-icon>
                                        <span class="font-weight-dark"> {{ props.item.status_id.type }} </span> 
                                    </v-chip> 
                                </td>
                                <td class="font-weight-light">
                                    <v-menu bottom left transition="slide-x-transition">
                                        <template v-slot:activator="{ on }">
                                            <v-btn success icon v-on="on">
                                                <v-icon>mdi-dots-vertical</v-icon>
                                            </v-btn>
                                        </template>
                            
                                        <v-list>
                                            <v-list-item @click.stop="dialogArticle = !dialogArticle,isEdit = true,editArticle = props.item">
                                                <v-list-item-title ><v-icon color="yellow" middle >edit</v-icon> Editar</v-list-item-title >
                                            </v-list-item>
                                            <v-list-item>
                                                <DisableArticle v-bind:status="props.item.status_id" v-bind:id="props.item.id"/>
                                            </v-list-item>
                                            <v-list-item @click.stop="infoArticle(props.item)">
                                                <v-list-item-title ><v-icon color="cyan" middle >info</v-icon> Detalles</v-list-item-title >
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>
                                </td>
                            </tr>
                        </template> 
                    </v-data-table>
                </div>
            </v-card-text>
            
        </v-card>

        <Loader v-bind:loading="loading" />
        <!--  Dialogs o modals -->
        <DialogArticle v-bind:dialogArticle="dialogArticle" v-bind:editArticle="editArticle" v-bind:isEdit="isEdit" @dialog-status = "dialogArticleStatus" /> 
        <DialogDetail v-bind:dialogDetail="dialogDetail" v-bind:detailArticle="detailArticle" @dialog-detail-status = "dialogDetailArticle"/>
        <!-- End Dialogs  -->
    </div>
</template>

<script>
import DialogArticle from './DialogArticle';
import DisableArticle from './DisableArticle';
import DialogDetail from './DialogDetail'
import Loader from '../../../plugins/Loader'
import { mapGetters } from 'vuex';

export default {
    data:()=>({
        valueFilter:1,
        dialog:false,
        dialogArticle:false,
        dialogDetail: false,
        isEdit:null,
        editArticle:{},
        panel:[0],
        search: '',
        detailArticle:{
          status_id:{id:1,type:''},
          warehouse_id:{id:1,name:''},
          subcategory_id:{id:1,name:''},
          quantity_id:{ id: 0, stock: 0, amount: 9489, unit_measure_id: 5, type_commodity_id: 0 }
        },
        headers: [
            { text: 'ID', align: 'left', sortable: false, value: 'id'},
            { text: 'Nombre de Artículo ', value: 'name' },
            { text: 'Precio Unitario', value: 'price_unit' },
            { text: 'Precio Total', value: 'price_total' },
            { text: 'Cantidad', value:'quantity_id'},
            { text: 'Subpartida', value: 'subcategory_id.name' },
            { text: 'Bodega', value: 'warehouse_id.name'},
            { text: 'Estado', value: 'status_id.type' },
            { text: 'Acciones', value:'actions', sortable: false}
        ], 
        orderList:[
            {id:1,type:'Todos los artículos'},
            {id:2,type:'Artículos Habilitados'},
            {id:3,type:'Artículos Inhabilitados'},
            {id:4,type:'Artículos cantidad baja'}
        ]
       }),

    computed:{
        ...mapGetters({
            articles:'commodity/getCommodity',
            loading: 'commodity/getLoading'
        })
    },
    methods:{

        getArticles(){
            this.$store.dispatch('commodity/getCommodity')
        },
        dialogDetailArticle(status){
            this.dialogDetail = status;
        },
        dialogArticleStatus(status){
            this.dialogArticle = status;
        },
        infoArticle(article){
            this.detailArticle = article
            this.dialogDetail = !this.dialogDetail
        },
        filter(){
            this.$store.dispatch('commodity/filterCommodity',this.valueFilter);
        },
        getColorStock(stock){
            if (stock >500) return 'green'
            else if(stock > 300) return 'orange'
            else return 'red'
        }   
    },
    mounted(){
      this.getArticles();
    },
    components:{DialogArticle, DisableArticle, DialogDetail, Loader}
}
</script>
<style>

.v-chip.theme--light.Activo{
    background:#4caf50 ;
    color:white;
}
</style>
