<template>
      <div class="dialog-article">
      <v-dialog v-model="dialogArticle" fullscreen>
        <v-card color="grey lighten-3">

          <v-toolbar dark color="green white--text">
              <v-toolbar-title>Crear Artículo</v-toolbar-title>
              <div class="flex-grow-1"></div>
                <v-btn icon dark @click="closeDialog(!dialogArticle)">
                  <v-icon>close</v-icon>
              </v-btn>
          </v-toolbar>

          <v-container>
            <v-card class="elevation-0" >
                <v-card-text>
                  <v-container>
                    <v-form @submit.prevent="saveArticle" ref="form_article">
                      <v-row>
                        <v-col cols="12" sm="12" md="6" lg="6">
                          <v-card class="mr-8 ml-10">
                            <v-card-title class="cyan white--text">
                              Artículo
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col class="px-12" cols="12" sm="6" md="12" lg="12">
                                      <v-text-field class="title" label="Código" v-model="article.code"></v-text-field>
                                    </v-col>
                                    <v-col class="px-12" cols="12" sm="6" md="6" lg="12">
                                      <v-text-field class="title" label="Nombre" v-model="article.name"></v-text-field>
                                    </v-col>

                                     <v-col class="px-12" cols="12" sm="6" md="12" lg="12"> 
                                      <v-overflow-btn v-model="article.subcategory_id" 
                                          ref="Recipients"
                                          :items="subcategoryList"
                                          editable
                                          label="SubPartida"
                                          item-value="id"
                                          item-text="name"
                                          prepend-inner-icon="mdi-file-tree"
                                          reandonly>
                                        </v-overflow-btn>
                                    </v-col>
                                    <v-col class="px-12" cols="12" sm="6" md="12" lg="12"> 
                                      <v-overflow-btn v-model="article.warehouse_id" 
                                          ref="Recipients"
                                          :items="warehouseList"
                                          editable
                                          label="Bodega"
                                          item-value="id"
                                          item-text="name"
                                          prepend-inner-icon="mdi-home-variant"
                                          reandonly>
                                        </v-overflow-btn>
                                    </v-col>

                                    <v-col class="px-12" cols="12" sm="12" md="12" lg="12"> 
                                      <v-overflow-btn v-model="article.status_id" 
                                          ref="Recipients"
                                          :items="statusArticle"
                                          editable
                                          label="Estado"
                                          item-value="id"
                                          item-text="type"
                                          prepend-inner-icon="label"                                          
                                          reandonly>
                                      </v-overflow-btn>
                                  </v-col>
                                </v-row>
                            </v-card-text>
                          </v-card>
                        </v-col>
                        <!-- Second card -->
                        <v-col cols="12" sm="12" md="6" lg="6">
                            <v-card class="mr-10 ml-8">
                              <v-card-title class="green white--text">
                                Cantidad
                              </v-card-title>

                              <v-card-text>
                                <v-row>

                                  <v-col cols="12" sm="6" md="6" lg="6"> 
                                    <v-overflow-btn v-model="article.quantity_id.type_commodity_id" 
                                        ref="Recipients"
                                        :items="typeCommodityList"
                                        editable
                                        label="Tipo de Mercadería"
                                        item-value="id"
                                        item-text="name"
                                        prepend-inner-icon="label"
                                        reandonly>
                                      </v-overflow-btn>

                                  </v-col>

                                  <v-col cols="12" sm="6" md="6" lg="6"> 
                                    <v-overflow-btn v-model="article.quantity_id.unit_measure_id" 
                                        ref="Recipients"
                                        :items="unitMeasureList"
                                        editable
                                        label="Unidad de medida"
                                        item-value="id"
                                        item-text="name"
                                        prepend-inner-icon="label"
                                        reandonly
                                        >
                                      </v-overflow-btn>
                                  </v-col>

                                  <v-col cols="12" sm="6" md="6" lg="6">
                                    <v-text-field class="title" :label="'Precio por unidad de '+article.name" v-model="article.price_unit" @keyup="calcTotalAmount"></v-text-field>
                                  </v-col>

                                  <v-col cols="12" sm="6" md="6" lg="6">
                                    <v-text-field class="title" label="Stock de artículo" v-model="article.quantity_id.stock" @keyup="calcTotalAmount"></v-text-field>
                                  </v-col>

                                  <v-col cols="12" sm="6" md="6" lg="12">
                                    <v-text-field class="title" :label="'Cantidad ' + article.name + ' en unidad'" v-model="article.quantity_id.quanty" @keyup="calcTotalAmount"></v-text-field>
                                  </v-col>

                                  <v-col cols="12" sm="6" md="6" lg="6">
                                      <v-text-field class="title" label="Precio Total" v-model="article.price_total" disabled=""></v-text-field>
                                  </v-col>

                                  <v-col cols="6">
                                    <v-text-field v-if="isEdit"  class="title" type="number" :label="'Cantidad total ' + article.name + ' en unidades'" v-model="article.quantity_id.total_quanty" @keyup="calcReductionStock"></v-text-field>
                                    <v-text-field v-else class="title" type="number" :label="'Cantidad total ' + article.name + ' en unidades'" disabled v-model="article.quantity_id.total_quanty"></v-text-field>
                                  </v-col>
                                  
                                </v-row>
                              </v-card-text>
                            </v-card>

                            <div class="text-center mt-12">
                                <v-btn class="mx-8" width="200" x-large color="error" close @click="closeDialog(!dialogArticle)">
                                  <v-icon left>mdi-close</v-icon> Cerrar
                                </v-btn>
                            
                                <v-btn class="mx-8" width="200" x-large :loading="loadings" color="cyan white--text" type="submit" >
                                  <v-icon left>mdi-pencil</v-icon> {{  textAction = chargeFields }} 
                                </v-btn>
                              </div>
                        </v-col>
                      </v-row>
                       <!-- alert -->
                          <div class="alert">
                            <v-alert
                            v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">
                            {{ message }}
                            {{ errors }}
                            </v-alert>
                        </div>
                      <!-- end alert -->
                        
                    </v-form>
                  </v-container>
                </v-card-text>
            </v-card>
          </v-container>
        </v-card>
    </v-dialog>
     <!-- Notifications -->
    <div class="notification-user">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >
        {{ message }}
        <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
      </v-snackbar>
    </div>
   </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
     props:{
          dialogArticle:{
              type:Boolean,
              default: ()=>dialogArticle = false
          },
          isEdit:{
            type:Boolean,
            default: ()=>isEdit = false
          },
          editArticle:{
            type:Object,
            default: ()=> editArticle = {}
          },
      },
     data: () => ({

        /**alert */
        showAlert:false,
        dismissible:true,
        type:'error',
        errors:'',
        /** */
        status:[],
        message:'',
        statusSnack:false,
        colorSnack:'primary',
        dniError:"",
        loadings:false,
        indexArticle:-1,
        stateArticule:{},
        article:{
          code:'',
          name:'',
          price_unit:'',
          price_total:'',
          subcategory_id:'',
          status_id:'',
          warehouse_id:'',
          quantity_id: {
              id: 0,
              stock: 0,
              quanty: 0,
              total_quanty:0,
              unit_measure_id: 0,
              type_commodity_id: 0
          },
        },
        articleDefault:{
          code:'',
          name:'',
          price_unit:'',
          price_total:'',
          subcategory_id:'',
          status_id:'',
          warehouse_id:'',
          quantity_id: {
              id: 0,
              stock: 0,
              quanty: 0,
              total_quanty:0,
              unit_measure_id: 0,
              type_commodity_id: 0
          },
        },
    }),
    computed:{
      ...mapGetters({
        findArticleIndex : 'commodity/findCommodityIndex',
        statusArticle: 'status/getArticleStatus',
        subcategoryList: 'subcategory/getSubcategories', // Realizar esto donde pertenece
        warehouseList: 'warehouse/getWarehouses', // Realizar esto donde pertenece
        typeCommodityList: 'quantity/getTypeCommodities',
        unitMeasureList: 'quantity/getUnitMeasures',

      }),
      chargeFields(){
        this.isEdit ? this.article = Object.assign({},this.editArticle) : this.article = Object.assign({},this.articleDefault) ; // sacamos o cargamos los campos si es para editar
        return this.isEdit ? "Editar" : "Crear";
      }
    },
    methods:{
      closeDialog(dialogStatus){
          this.$emit('dialog-status',dialogStatus)
      },
      closeSnack(status){
        this.statusSnack = status
      },
      saveArticle(){
        if(this.$refs.form_article.validate())
        {
            this.loadings = true;
            this.isEdit ? this.findIndexArticleArray() : null;
            this.isEdit ? this.$store.dispatch('commodity/updateCommodity',{article:this.article,indexArticle:this.indexArticle}) : this.$store.dispatch('commodity/storeCommodity',this.article);

            this.$store.watch((state,getters)=>{
                this.stateArticule = state.commodity;
            })

            setTimeout(() => {
              this.evaluateResponse();
            }, 1500);
        }
      },
      evaluateResponse(){
          let state = this.stateArticule;
          this.loadings = state.isLoading;
        
          if(state.status === 200 || state.status === 201)
          {
              this.message = state.message;
              this.statusSnack = true
              this.closeDialog(false);
          }
          else{
            this.errors = state.errors;
            this.message = state.message;
            this.showAlert = true;
          }

          setTimeout(() => {
              this.showAlert = false
              this.statusSnack = false
              this.message = null
              this.errors = null
          }, 6000);
      },
      findIndexArticleArray(){
        this.$store.dispatch('commodity/findIndexArticle',this.editArticle);
        this.$store.watch((state,getters)=>{
          this.indexArticle = state.commodity.findCommodityIndex;
        })
      },
      getFieldsByArticle(){
        this.$store.dispatch('status/getStatus');
        this.$store.dispatch('warehouse/getWarehouses');
        this.$store.dispatch('subcategory/getSubcategories');
        this.$store.dispatch('quantity/getTypeCommodity');
        this.$store.dispatch('quantity/getUnitMeasure');
      },
      calcTotalAmount(){
        this.article.quantity_id.total_quanty = this.article.quantity_id.quanty * this.article.quantity_id.stock;
        this.article.price_total = this.article.price_unit * this.article.quantity_id.stock;
        
      },
      calcReductionStock(){
        let total_quanty = 0, reduction = 0, reductionToStock = 0
        this.article.quantity_id.stock = this.article.price_total / this.article.quantity_id.quanty

        total_quanty = this.article.quantity_id.stock * this.article.quantity_id.quanty
        reduction = total_quanty - this.article.quantity_id.total_quanty

        reductionToStock = reduction / this.article.quantity_id.quanty
        
        this.article.quantity_id.stock = this.article.quantity_id.stock - reductionToStock
        this.calcTotalAmount()
      }
    },
    mounted(){
      this.getFieldsByArticle();
    },
    components:{}
}
</script>
