<template>
    <div class="dialog-details">
        <v-dialog v-model="dialogDetail" persistent max-width="600px"> 
            <v-card color="grey lighten-3">  
                <v-toolbar dark color="green white--text">
                    <v-toolbar-title>Detalle Artículo</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                     <v-btn icon dark @click="closeDialogDetail(!dialogDetail)">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                
                <v-container class="d-flex justify-center">                   
                    <v-card class="ma-5" width="1950">
                        <v-row
                        class="mb-6"
                        justify="center">

                            <div
                            align-self="center"
                            class="pa-0"
                            cols="6">
                                <v-avatar class="profile" color="teal" size="200" tile>
                                    <span class="text-center white--text display-2">Artículo</span>       
                                </v-avatar>
                            </div>

                            <div>
                                <v-col>
                                    <v-card-text class="text">  
                                        <div class=" body-1">{{ `${detailArticle.name} ` }}</div><br>
                                        <div class="body-2">Código</div>
                                        <div class="caption"> {{ detailArticle.code }}</div><br>
                                        <div class="body-2">Cantidad</div>
                                        <div class="caption">{{ detailArticle.quantity_id.stock  }}</div><br>
                                        <div class="body-2">Precio unitario </div>
                                        <div class="caption">{{ detailArticle.price_unit }}</div><br>
                                        <div class="body-2">Precio total </div> 
                                        <div class="caption">{{ detailArticle.price_total }}</div><br>
                                        <div class="body-2">Subpartida </div>
                                        <div class="caption">{{ detailArticle.subcategory_id.name }}</div><br>
                                        <div class="body-2">Bodega </div>
                                        <div class="caption">{{ detailArticle.warehouse_id.name }}</div><br>
                                        <div class="body-2">Estado </div>
                                        <div class="caption">{{ detailArticle.status_id.type }}</div><br>
                                        <div class="body-2">Creado </div>
                                        <div class="caption">{{ detailArticle.created_at }}</div><br>
                                        <div class="body-2">Modificado </div>
                                        <div class="caption">{{ detailArticle.updated_at }}</div><br>       
                                        </v-card-text>  
                                </v-col>

                                <v-col>
                                    <v-card-actions class="text">                      
                                        <v-btn depressed color="error" @click="closeDialogDetail(!dialogDetail)"><v-icon>mdi-close</v-icon>Cerrar</v-btn>   
                                        <v-btn depressed class="float-right cyan white--text" @click.stop="dialogArticle = true"><v-icon>edit</v-icon>Editar</v-btn>                                     
                                    </v-card-actions>
                                </v-col>
                            </div>
                        </v-row>                
                    </v-card>
                </v-container>
            </v-card>
        </v-dialog>

        <!-- Dialogs -->
        <DialogArticle v-bind:dialogArticle="dialogArticle" v-bind:editArticle="detailArticle" v-bind:isEdit="true" @dialog-status = 'closeDialog'/> 
    </div>
</template>

<script>
import DialogArticle from './DialogArticle';
export default {
    props:{
        dialogDetail:{
            type:Boolean,
            default:()=> dialogDetail = false
        },
        detailArticle:{
            type:Object,
            default:()=> detailArticle ={}
        }
    },
    data:()=>({
        dialogArticle:false,
    }),
    methods:{
        closeDialogDetail(status){
            this.$emit('dialog-detail-status',status)
        },
        closeDialog(status){
            this.dialogArticle = status
        }
    },
    components:{DialogArticle}
}
</script>

<style>
.profile{
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.text{
    margin-left: 40px;
    margin-right: 10px
}
</style>