<template>
    <v-switch color="primary" v-model="disableArticle" inset :label="labelText" @click.stop="showData">{{ disabled }}</v-switch>
</template>

<script>
  export default {
    props:{
      id:{
        type:Number,
        default:()=> id = 0
      },
      status:{
        type:Object,
        default:()=> id = {}
      }
    },
    data:()=> ({
        disableArticle: false,
        article_id: 0,
        labelText:''
    }),
    computed:{
      disabled:{
        get:function(){
          this.labelText = this.status.id == 1 ? 'Deshabilitar' : 'Habilitar'
          this.disableArticle = (this.status.id !== 1) ? false : true
        },
        set:function(value){
          this.article_id = this.id
          this.labelText = (this.labelText == 'Deshabilitar') ? 'Habilitar' : 'Deshabilitar' 
          this.disableArticle = value
        } 
      }
    },
    methods:{
      showData(){
        this.disabled = !this.disableArticle
        this.$store.dispatch('commodity/disabledCommodity',{disableArticle:this.disableArticle,article:this.article_id})
      }
    }
  }
</script>