<template>
  <div class="dialog-center">
      <v-row justify="center">
          
          <v-dialog v-model="dialogCenter" persistent max-width="600px" transition="scroll-x-transition">
              <v-card>
                  <v-card-title class="green white--text">
                      <h4 class="title">{{ actionCenter }} Bodega</h4>
                  </v-card-title>
                  <v-card-text>
                     <v-container>
                         <v-form @submit.prevent="saveCenter" ref="form_center">
                             <v-row>
                                 <v-col cols="12">
                                     <v-text-field 
                                        label="Nombre" 
                                        v-model="managementCenter.name"
                                        :rules="[rules.required,rules.maxName]"
                                    ></v-text-field>                                     
                                 </v-col>
                                 <v-col cols="12">
                                     <v-text-field 
                                        label="Código" 
                                        v-model="managementCenter.code"
                                        :rules="[rules.required,rules.maxCode]"
                                    ></v-text-field>  
                                 </v-col>
                             </v-row>
                              <!-- alert -->
                             <div class="alert">
                                <v-alert
                                v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">
                                    <ul>
                                        <li v-for="(error,i) in errors" :key="i">
                                            {{ error[0] }}
                                        </li>
                                    </ul>
                                </v-alert>
                            </div>
                             <!-- end alert -->
                             <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="ma-2" color="error" @click="closeDialog(!dialogCenter)"> <v-icon left>mdi-close</v-icon> Cerrar</v-btn>
                                <v-btn :loading="loadings" class="ma-2" color="cyan white--text" type="submit" >
                                    <v-icon left>{{ icon }}</v-icon> {{ actionCenter }}
                                </v-btn>
                             </v-card-actions>
                         </v-form>
                     </v-container>
                  </v-card-text>
              </v-card>
          </v-dialog>
      </v-row>
       <!-- Notifications -->
    <div class="notification-warehouse">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >
        {{ message }}
        <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import errorList from '../../helpers/errorObjectList'
export default {
    props:{
        dialogCenter:{
            type:Boolean,
            default:()=>  dialogCenter = false
        },
        isEdit:{
            type:Boolean,
            default:()=> isEdit = false
        },
        editCenter:{
            type:Object,
            default:()=>editCenter = {}
        }
    },
    data:()=>({
        icon:'edit',
        loadings:false,
        indexCenter:-1,
        stateCenter:{},
        colorSnack:'primary',
        statusSnack:false,
        showAlert:false,
        dismissible:true,
        stateObject:{},
        type:'error',
        message:'',
        errors:null,
        rules:{
            required: value => !!value || 'Campo Requerido.',
            maxCode: value =>value.length <= 20 || 'Máximo 20 caracteres',
            maxName: value =>value.length <= 50 || 'Máximo 50 caracteres',
            maxDescription: value =>value.length <= 100 || 'Máximo 100 caracteres',
        },
        managementCenter:{
            id:'',
            name:'',
            code:'',
        },
        defaultManagementCenter:{
            id:'',
            name:'',
            code:''
        }

    }),
    computed:{
        actionCenter()
        {
            this.isEdit ? Object.assign(this.managementCenter, this.editCenter) : Object.assign(this.managementCenter, this.defaultManagementCenter)
            return this.isEdit ? 'Editar' :'Crear';
        }
    },
    methods:{
        closeDialog(status){
            this.resetFields()
            this.$emit('dialog-status',status)
        },
        saveCenter(){
            if(this.$refs.form_center.validate()){
                this.loadings = true;
                this.isEdit ? this.$store.dispatch('managementCenter/updateManagementCenter',this.managementCenter) 
                        : this.$store.dispatch('managementCenter/storeManagementCenter', this.managementCenter)

                this.$store.subscribe((mutation, state)=>{
                    this.stateCenter = state.managementCenter
                })
                console.log('correct');

                setTimeout(()=>{
                    this.evaluateResponse()
                },1000);
            }
          },
        evaluateResponse(){
                let state = this.stateCenter
                this.loadings = state.isLoading;
                if(state.status === 200 || state.status === 201)
                {
                    this.message = state.message
                    this.statusSnack = true
                    this.managementCenter = {}
                    this.resetFields()
                    this.closeDialog(false);
                   
                }
                else
                {
                    this.errors = errorList(state.errors)
                    this.showAlert = true
                }
                
                setTimeout(() =>{
                    this.statusSnack = false
                    this.message = null
                },3000);
            },
        resetFields(){
            this.showAlert = false
            this.errors = null
        }
    }
}
</script>

<style>

</style>