<template>
    <div class="header-management" >
        <v-card :class="`elevation-${1}`">
            <v-layout row wrap>
                <v-flex xs12 sm12 md4 lg4>
                    <v-card-title><h4 class="grey--text"><v-icon color="blue"> mdi-home-variant </v-icon> Centros Gestores</h4></v-card-title>
                </v-flex>

                <v-flex xs12 sm12 md8 lg8>
                    <v-card-text class="d-flex justify-end"> 
                        <v-btn icon>
                            <v-icon>search</v-icon>
                        </v-btn>

                        <v-btn icon>
                            <v-icon>apps</v-icon>
                        </v-btn>

                        <v-btn icon>
                            <v-icon>refresh</v-icon>
                        </v-btn>

                        <v-btn icon>
                            <v-icon>more_vert</v-icon>
                        </v-btn>    
                    </v-card-text>
                </v-flex>
            </v-layout>
        </v-card>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>