<template>
        <v-container>
            
              <ContentManagementCenter/>
        </v-container>
</template>

<script>
import ContentManagementCenter from './ContentManagementCenter'
export default {
    components:{
        ContentManagementCenter
    }
}
</script>

<style>

</style>