<template>
  <v-container>
    <v-card color="basil">
      <v-card-title class="text-center justify-center py-2">
        <h1 class="headline basil--text"></h1>
      </v-card-title>

      <v-tabs v-model="tab"
        background-color="light-blue darken-1"
        color="basil"
        grow
      >
        <v-tab><v-icon> mdi-home-modern</v-icon> Proveedor Empresa</v-tab>
        <v-tab><v-icon>mdi-account</v-icon> Proveedor Persona</v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-card
            color="basil"
            flat
          >
            <CompanySupplier/>
          </v-card>
        </v-tab-item>

        <v-tab-item>
          <v-card
            color="basil"
            flat
          >
            <PersonSupplier/>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-container>
</template>

<script>
import CompanySupplier from './company-supplier/CompanySupplier';
import PersonSupplier from './person-supplier/PersonSupplier';

export default {
  data:()=>({
    tab: null,
  }),
  components:{CompanySupplier, PersonSupplier}
}
</script>

<style>
.basil {
  background-color: #F5F5F5 !important;
}
.basil--text {
  color: #ffffff  !important;
}
</style>