<template>
    <div class="content-sale">
        <v-card class="mt-2">
          <v-sheet class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="80" max-width="calc(100% - 93%)">
            <h4 class="text-md-center pt-4 white--text title"><v-icon large dark>shopping_cart</v-icon></h4>
            <p class="subtitle title"> Facturas </p>
          </v-sheet>

            <v-card-title>
                <v-spacer></v-spacer>
                <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="date"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                    <v-text-field
                        v-model="date"
                        label="Picker in menu"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                        style="max-width: 250px;"
                    ></v-text-field>
                    </template>
                    <v-date-picker v-model="date" scrollable color="green" locale="es" no-title>
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary" @click="menu = false">Cancelar</v-btn>
                    <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                    </v-date-picker>
                </v-menu>

                <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                    <v-text-field
                        v-model="date"
                        label="Picker without buttons"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                        style="max-width: 250px;"
                    ></v-text-field>
                    </template>
                    <v-date-picker color="green" locale="es" v-model="date" @input="menu2 = false" no-title></v-date-picker>
                </v-menu>
            
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
                    style="max-width: 250px;"
                ></v-text-field>

                <v-btn depressed class="ml-5 font-weight-medium text-capitalize primary" @click.stop="dialogSale = !dialogSale"> <v-icon>add</v-icon> Crear Factura</v-btn>
            </v-card-title>

            <div class="table-responsive">
                    <v-data-table
                        :headers="headers"
                        :items="sales"
                        :search="search"
                    >
                    <template v-slot:item="props">
                        <tr>
                            <td class="subheading">{{ props.item.id }}</td>
                            <td class="subheading">{{ props.item.saller_user_id}}</td>
                            <td class="subheading">{{ props.item.buyer_user_id }}</td>
                            <td class="subheading">{{ props.item.area_id.name }}</td>
                            <td class="subheading">{{ props.item.created_at }}</td>
                            <td class="subheading">
                                <v-menu bottom left transition="slide-x-transition">
                                    <template v-slot:activator="{ on }">
                                        <v-btn success icon v-on="on">
                                            <v-icon>mdi-dots-vertical</v-icon>
                                        </v-btn>
                                    </template>
                                </v-menu>
                            </td>
                        </tr>
                    </template> 
                </v-data-table>
            </div>
            <DialogSale v-bind:dialogSale="dialogSale" @dialog-status = "dialogSaleStatus" /> 
        </v-card>
    </div>  
</template>

<script>
import DialogSale from '../sale/DialogSale';
import { mapGetters } from 'vuex';
export default {
  data:()=>({
      date: new Date().toISOString().substr(0, 10),
      menu:false,
      menu2:false,
        dialog:false,
        dialogSale:false,
        panel:[0],
        search: '',
        headers: [
            { text: 'ID', align: 'left', sortable: false, value: 'id'},
            { text: 'Hecho por ', value: 'saller_user_id' },
            { text: 'Enregado a', value: 'buyer_user_id' },
            { text: 'Área', value: 'area_id' },
            { text: 'Creado', value: 'created_at' },
        ], 
       }),
      computed:{
        ...mapGetters({
           sales:'sale/getSales',
        })
      },
      methods:{
        getSale(){
           this.$store.dispatch('sale/getSales')
        },
        dialogSaleStatus(status){
            this.dialogSale = status;
        },

      },
      mounted(){
      this.getSale();
      },
      components:{DialogSale}

}
</script>
