<template>
<div class="dialog-sale">

  <v-dialog v-model="dialogSale" fullscreen>
    <v-card class="grey lighten-3">

      <v-toolbar dark color="green">
          <v-toolbar-title>Facturación</v-toolbar-title>
          <div class="flex-grow-1"></div>
            <v-btn icon dark @click="closeDialog(!dialogSale)">
              <v-icon>close</v-icon>
          </v-btn>
       </v-toolbar>

        <v-container>
          <v-card>
           <v-card-title class="text-center justify-center py-6">
              <h2 class="font-weight-light display-2 basil--text">FACTURACIÓN DE ARTICULOS</h2>
            </v-card-title>
            <v-card-text>
              <v-tabs 
                v-model="tab"
                background-color="deep-purple accent-4"
                center-active
                dark
                centered
                grow
              >
              <v-tabs-slider></v-tabs-slider>
              <v-tab href="#tab-1">Lista de Articulos</v-tab>
              <v-tab href="#tab-2">Facturación</v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
              <!-- TAB 1 -->
              <v-tab-item
                :key="1"
                value="tab-1"
              >
                <v-row justify="center">
                    <v-col cols="12" sm="12" md="12" lg="7">
                      <v-expansion-panels popout focusable v-model="panel" multiple>
                        <v-expansion-panel>
                          <v-expansion-panel-header class="grey lighten-3" style="color:blue"><h3>Lista de Articulos</h3></v-expansion-panel-header>
                          <v-expansion-panel-content>                              
                              <v-text-field
                                v-model="search"
                                append-icon="search"
                                label="Buscar"
                                single-line
                                hide-details
                              >
                            </v-text-field>
                                <v-data-table 
                                    :headers="headers"
                                    :items="articles"
                                    :search="search"
                                    :items-per-page="5"
                                >
                                <template v-slot:item="props">
                                    <tr>
                                        <td class="subheading">{{ props.item.id }}</td>
                                        <td class="subheading">{{ props.item.name }}</td>
                                        <td class="subheading">{{ props.item.quantity_id.stock}}</td>
                                        <td class="subheading">{{ props.item.subcategory_id.name }}</td>
                                        <td class="subheading">{{ props.item.warehouse_id.name }}</td>
                                        <td class="subheading">{{ props.item.status_id.type }}</td>
                                        <td><v-text-field type="number"></v-text-field></td>
                                        <td>
                                          <v-btn class="mx-5" dark color="indigo">
                                            <v-icon dark>mdi-plus</v-icon>
                                          </v-btn>
                                        </td>
                                    </tr>
                                </template>
                            </v-data-table>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panels>
                  </v-col>

                  <v-col cols="12" sm="12" md="12" lg="5">
                    <v-card>
                      <v-card-title class="grey lighten-3" style="color:green">Factura</v-card-title>
                            <!-- <v-layout row wrap class="colorflex" >
                              <v-flex col12 md6>
                                <div class= "caption grey--text">Articulo</div>
                                <div>pinto</div>
                              </v-flex>
                              <v-flex col6 sm4 md2>
                                <div class="caption grey--text">Cantidad</div>
                                <div>6</div>
                              </v-flex>      
                              <v-flex col6 sm4 md2>
                              <div class="caption grey--text">Precio Unitario</div>
                              <div>$2</div>
                              </v-flex>   
                            </v-layout> 
                            
                            PONER UNA TABLA DISTINTA
                            -->

                        <v-card-text class="text-right">
                          <h3>Precio Total</h3>
                          <span class="text--primary">
                            <h2>$2</h2><br>
                          </span>
                        </v-card-text>
                        
                        <div class="text-center">
                            <v-btn class="ma-2"  x-large color="error" @click="closeDialog(!dialogSale)">Cerrar</v-btn>
                            <v-btn class="ma-2"  x-large color="success" @click="closeDialog(!dialogSale)">Facturar</v-btn>
                        </div>
                    </v-card>
                  </v-col>
                </v-row>
              </v-tab-item>

              <!-- TAB 2 -->
              <v-tab-item 
                :key="2"
                value="tab-2"
              >
              <v-expansion-panels popout focusable v-model="panel" multiple>
                <v-expansion-panel  class="ma-2">
                  <v-expansion-panel-header class="green lighten-4 green--text"><h3>Factura</h3></v-expansion-panel-header>
                  <v-expansion-panel-content> 
                    <v-card flat > 
                        <!-- <v-layout row wrap class="colorflex" >
                          <v-flex col12 md6>
                            <div class= "caption grey--text">Articulo</div>
                            <div>pinto</div>
                          </v-flex>
                          <v-flex col6 sm4 md2>
                            <div class="caption grey--text">Cantidad</div>
                            <div>6</div>
                          </v-flex>      
                          <v-flex col6 sm4 md2>
                            <div class="caption grey--text">Precio Unitario</div>
                            <div>$2</div>
                          </v-flex>   
                        </v-layout> 
                          poNER UNA TABLA Y SEPARAR LOS ELEMNTOS
                        -->
                        <v-card-text style="text-align:right">
                          <h3 >Precio Total</h3>
                          <span class="text--primary">
                            <h2>$2</h2><br>
                          </span>
                        </v-card-text>
                         <div style="text-align:right">
                          <v-btn class="ma-2" style="align:right" x-large color="error" @click="closeDialog(!dialogSale)">Cerrar</v-btn>
                          <v-btn class="ma-2"  x-large color="success" @click="closeDialog(!dialogSale)">Facturar</v-btn>
                        </div>
                      </v-card>
                    </v-expansion-panel-content>  
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-tab-item>

             </v-tabs-items>
            </v-card-text>
          </v-card>
        </v-container> 
     </v-card>
    </v-dialog>
  </div>
</template>

<script>
//import ContentArticle from '../article/ContentArticle';
import { mapGetters } from 'vuex';
export default {

    props:{
        dialogSale:{
            type:Boolean,
            default: ()=> dialogSale = false
        },
    },
    data:()=>({
      
    panel:[0],
    tab: null,
    items: [
          'Lista de Articulos', 'Facturacion'
        ],
    currentTab:1,
    search: '',
    headers: [
            { text: 'ID', align: 'left', sortable: false, value: 'id'},
            { text: 'Nombre del Articulo ', value: 'name' },
            { text: 'Cantidad Disponible', value:'quantity_id'},
            { text: 'Sub Partida', value: 'subcategory_id' },
            { text: 'Bodega', value: 'warehouse_id'},
            { text: 'Estado', value: 'status_id' },
            { text: 'Cantidad', value:'actions', sortable: false}
        ],       
    }),
    computed:{
    ...mapGetters({
          articles:'commodity/getCommodity',
         }),
    },
    methods:{
      closeDialog(dialogStatus){
          this.$emit('dialog-status',dialogStatus)
      },
      selectTab(selectedTab){
        this.currentTab = selectedTab;
      },
      getArticles(){
            this.$store.dispatch('commodity/getCommodity')
      },
    },
    mounted(){
      this.getArticles();
    }
}
</script>

<style>
.colorflex{
  border-left:4px solid #3cd1c2;
}
</style>