<template>
  <div class="sale">
      <v-container>
          <ContentSale/>
      </v-container>
  </div>
</template>

<script>
import ContentSale from './ContentSale';

export default {
      components:{ContentSale}
}
</script>