<template> 
    <div class="actives">
      <v-card>
        <v-sheet row wrap class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="80" max-width="calc(100% - 93%)">
          <h4 class="text-md-center pt-4 white--text title"><v-icon large dark>assignment</v-icon></h4>
          <p class="subtitle title"> Activos </p>
        </v-sheet>
        
        <v-card-title>
          <v-spacer></v-spacer>
          <v-spacer>
          <v-overflow-btn  
              class="my-2"
              :items="orderList"
              label="Filtros"
              item-value="id"
              item-text="type"
              prepend-inner-icon="list"
              v-model="valueFilter"
              v-on:change="filter"
              color="light-blue darken-1"
              style="max-width: 300px;">
          </v-overflow-btn>
          </v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            color="light-blue darken-1"
            style="max-width: 300px;">
          </v-text-field>
          <v-btn rounded class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text" @click.stop="dialogActive = !dialogActive, isEdit = false"> <v-icon>add</v-icon> Ingresar activo</v-btn>
        </v-card-title>

        <div class="table-responsive">
          <v-data-table
              :headers="headers"
              :items="actives"
              :search="search"
          >
          <template v-slot:item="props">
              <tr>
                <td class="subheading">{{ props.item.id }}</td>
                <td class="subheading">{{ props.item.code }}</td>
                <td class="subheading text-truncate">{{ props.item.description }}</td>
                <td class="subheading">{{ props.item.brand }}</td>
                <td class="subheading">{{ props.item.model }}</td>
                <td class="subheading">{{ props.item.value }}</td>
                <!-- <td class="subheading">{{ props.item.dependency }}</td> -->
                <td class="subheading">
                  <v-chip :color="getColorStatus(props.item.status_id.type)" dark>{{ props.item.status_id.type }}</v-chip>
                </td>
                <!-- <td class="subheading">{{ props.item.created_at }}</td>
                      <td class="subheading">{{ props.item.updated_at }}</td> -->
                <td class="subheading">
                  <v-menu bottom left  transition="slide-x-transition">
                    <template v-slot:activator="{ on }">
                    <v-btn
                      success
                      icon
                      v-on="on"
                    >
                    <v-icon>mdi-dots-vertical</v-icon> 
                    </v-btn>
                    </template>

                    <v-list>
                      <v-list-item @click.stop="dialogActive = !dialogActive, isEdit = true, editActive = props.item">
                        <v-list-item-title ><v-icon color="yellow" middle >edit</v-icon> Editar</v-list-item-title>
                      </v-list-item>

                       <v-list-item @click.stop="deleteActive = props.item, dialogDelete = true"> 
                          <v-list-item-title ><v-icon color="red" middle >delete</v-icon> Eliminar</v-list-item-title >
                        </v-list-item>

                      <v-list-item>
                      <DisableActive v-bind:status="props.item.status_id" v-bind:id="props.item.id"/>
                      </v-list-item>

                        <v-list-item @click.stop="infoActive(props.item)">
                          <v-list-item-title ><v-icon color="cyan" middle >info</v-icon> Detalles</v-list-item-title>
                      </v-list-item>

                      <v-list-item @click.stop="infoAsigned(props.item)" >
                          <v-list-item-title ><v-icon color="green" middle >add_box</v-icon> Asignar </v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                  </td>
              </tr>
            </template> 
          </v-data-table>
        </div>
      </v-card>  
      <Loader v-bind:loading="loading" />
    <!--  Dialogs o modals -->
      <DialogAsigned v-bind:dialogAsigned="dialogAsigned" v-bind:asignedActive="asignedActive" @dialog-asigned-status = "dialogActiveAsignedStatus"/>
      <DialogActive v-bind:dialogActive="dialogActive" v-bind:isEdit="isEdit" v-bind:editActive="editActive" @dialog-status = "dialogActiveStatus" /> 
      <DialogDelete v-bind:dialogDelete="dialogDelete" v-bind:deleteActive="deleteActive" @dialog-delete-status = "dialogDeleteActive"/>
      <DialogDetail v-bind:dialogDetailsActive="dialogDetailsActive" v-bind:detailActive="detailActive" @dialog-detail-status = "dialogDetailActive"/> 
    <!-- End Dialogs  -->
  </div>
</template>

<script>
import DialogActive from './DialogActive';
import DialogAsigned from './DialogAsigned';
import DialogDetail from './DialogDetail';
import DisableActive from './DisableActive';
import DialogDelete from './DialogDelete';
import Loader from '../../plugins/Loader';

import { mapGetters } from 'vuex';
export default {
    data:()=>({
      valueFilter:1,
      dialog:false,
      dialogAsigned:false,
      dialogActive:false,
      asignedActive:{},
      isEdit:false,
      editActive:{},
      itemActive: 0,
      dialogDelete: false,
      deleteActive:{},
      dialogDetails:false,
      dialogDetailsActive:false,
      detailActive:{
        status_id:{id:1,type:''}
      },
      panel:[0],
      search: '',
      headers: [
        { text: 'ID', align: 'left', sortable: false, value: 'id'},
        { text: 'Código ', value: 'code' },
         { text: 'Descripción', value: 'description' },
        { text: 'Marca', value: 'brand' },
        { text: 'Modelo', value: 'model' },
        { text: 'Valor', value: 'value' },
        // { text: 'Dependencia', value: 'dependency' },
        { text: 'Estado', value: 'status_id.type' },
        //{ text: 'Creado', value: 'created_at' },
        { text: 'Acciones', value:'actions', sortable: false}
      ], 
      orderList:[
            {id:1,type:'Todos los activos'},
            {id:2,type:'Buen estado'},
            {id:3,type:'Estado regular'},
            {id:4,type:'Mal estado'},
        ],
    }),
    computed:{
      ...mapGetters({
          actives : 'active/getActiveList',
          loading: 'active/getLoading'
      }),
      itemActives(){
        return this.itemActive == 0 ? this.actives : this.itemActive;
      }
    },
    methods:{
      getActiveList(){
        this.$store.dispatch('active/getActiveList'); 
      },
      dialogActiveAsignedStatus(status){
        this.dialogAsigned = status;
      },
      dialogDetailActive(status){
        this.dialogDetailsActive = status;
      },
      infoActive(active){
        this.detailActive = active;
        this.dialogDetailsActive = !this.dialogDetails;
      },
      infoAsigned(active){
        
        this.asignedActive = active;
        this.dialogAsigned = !this.dialog_asigned;
      },
       dialogDeleteActive(status){
        this.item = this.actives; 
        this.dialogDelete = status;
        },

      dialogActiveStatus(status){
        this.dialogActive = status;
      },
      filter(){
        this.$store.dispatch('active/filterActive',this.valueFilter);
      },
      getColorStatus(type){
        if (type == "Bueno") return 'green'
        else if(type == "Regular") return 'orange'
        else return 'red'
      }
    },
    mounted(){
      this.getActiveList();
    },
    components:{DialogAsigned,DialogActive,DialogDetail,DisableActive,Loader,DialogDelete}
}
</script>

<style>

</style>
