<template>
    <div class="dialog-asigned">
        <v-dialog v-model="dialogAsigned" width="600" height="400" persistent trasition="slide-x-reverse-transition">
           <v-card>
             <v-card-title class="font-weight-regular">
                <span>{{ titleAsigned }}</span>
             </v-card-title>
            
                <v-card-text>
                    <v-divider class="mb-5"></v-divider>
                    <div class="my-2">
                        <h3 class="font-weight-medium mb-2">Codigo</h3>
                        <p class="font-weight-light">{{asignedActive.code}}</p>
                    </div>

                    <div class="my-2">
                        <h3 class="font-weight-medium mb-2">Modelo</h3>
                        <p class="font-weight-light">{{asignedActive.model}}</p>
                    </div>

                    <div class="my-2">
                        <h3 class="font-weight-medium mb-2">Marca</h3>
                        <p class="font-weight-light">{{asignedActive.brand}}</p>
                    </div>

                    <div class="my-2">
                        <h3 class="font-weight-medium mb-2">Descripción</h3>
                        <p class="font-weight-light">{{asignedActive.description}}</p>
                    </div>
                </v-card-text>

                <v-form @submit.prevent="asignedActiveStore" ref="form_asigned_active">
                    <v-col class="d-flex" cols="12" sm="12" md="12" lg="12"> 
                        <v-overflow-btn v-model="activeAsigned.user_id" 
                            ref="Recipients"
                            :items="userList"
                            editable
                            label="Seleccionar empleado"
                            item-value="id"
                            item-text="dni"
                            prepend-icon="label"
                            color="cyan" 
                            :rules="[rules.required]"
                            >
                        </v-overflow-btn>
                    </v-col>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="ma-1" outlined color="error" @click="closeDialog(!dialogAsigned)">Cerrar</v-btn>
                        <v-btn :loading="loadings" class="ma-2" color="cyan white--text" type="submit">Asignar</v-btn>
                    </v-card-actions>
                </v-form>
           </v-card>
        </v-dialog>
         <!-- Notification -->
        <div class="notification-activeAsigned">
            <v-snackbar
                v-model="statusSnack"
                :color="colorSnack"
                :multi-line="true"
                :right="true"
                :timeout="4000"
                :top="true"
            >

            <span class="title"><v-icon color="white">mdi-information-outline</v-icon> {{ message }}</span>
            <v-btn dark text @click="closeSnack(!statusSnack)"> Cerrar </v-btn>
        </v-snackbar>
        </div>
    </div>
</template> 

<script>
import NotificationActive from './NotificationActive';
import {mapGetters} from 'vuex'
export default {
    props:{
        dialogAsigned: {
            type:Boolean,
            default: ()=> dialogAsigned = false
        },
        asignedActive:{
            type:Object,
            default:()=> asignedActive = {}
        }
    },
    data:()=>({
        loadings:false,
        message:'',
        resultActive:'',
        colorSnack:'',
        statusSnack:'',
        activeAsigned:{
            active_id:{
                id:''
            },
            user_id:'',
        },
        activeAsignedDefault:{
            active_id:{
                id:''
            },
            user_id:'',
        },
        rules:{
            required: value => !!value || 'Campo Requerido.',
        }
    }),
    computed:{
        ...mapGetters({
          userList: 'user/getUsers',
        }),
        titleAsigned(){
            return 'Asignacion de Activos';
        }
    },
    methods:{
        closeDialog(status){
            this.$emit('dialog-asigned-status',status);
        },
        asignedActiveStore(){
            if(this.$refs.form_asigned_active.validate())
            {
                this.loadings = true
                this.$store.dispatch('active_user/storeActiveAsigned',{user_id: this.activeAsigned.user_id,active_id: this.asignedActive.id})   

                this.$store.subscribe((mutation,state)=>{
                    this.resultActive = state.active_user
                })

                setTimeout(() => {
                    this.evaluateResponse(this.resultActive)
                }, 1500);
            }
        },
        evaluateResponse(stateActive)
        {
            let state = stateActive
            this.loadings = state.isLoading;
            if(state.status == 200)
            {
                this.closeDialog(false)
                this.colorSnack = 'primary'
                this.message = state.message
                this.statusSnack = true
            }
            else
            {
                this.colorSnack = 'red'
                this.message = state.errors
                this.statusSnack = true
            }

            setTimeout(() => {
                this.message = null
                this.colorSnack = null
                this.statusSnack = false
            }, 4000);
        },
        closeSnack(status){
            this.statusSnack = status
        },
        getUserList(){
            this.userList.length === 0 ? this.$store.dispatch('user/getUsers') : null;
        },

    },
    mounted(){
      this.getUserList();
    },
    components:{
        NotificationActive
    }
}
</script>

<style>

</style>