<template>
  <div class="dialog-active">
      <v-dialog v-model="dialogActive" persistent max-width="956px">
        <v-card>
          <v-card-title class="green white--text">Crear Activo</v-card-title>
            <v-card-text>
              <v-container>
                <v-form @submit.prevent="storeUpdateActive" ref="form_active">
                  <v-row>
                    <v-col cols="12" sm="12" md="4" lg="4">
                      <v-text-field label="Código" v-model="active.code" :rules="[rules.required,rules.maxCode]"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="4" lg="4">
                      <v-text-field label="Marca" v-model="active.brand" :rules="[rules.required,rules.max,rules.min]"></v-text-field>
                    </v-col>
                    
                    <v-col cols="12" sm="12" md="4" lg="4">
                      <v-text-field label="Modelo" v-model="active.model" :rules="[rules.required,rules.max,rules.min]"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Valor en libros" v-model="active.value" :rules="[rules.required,rules.value]"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-text-field label="Dependencia" v-model="active.dependency" :rules="[rules.required,rules.maxDependency]"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" lg="12">
                      <v-textarea label="Descripción" v-model="active.description" auto-grow rows="2" clearable clear-icon="cancel" counter="100" :rules="[rules.required,rules.maxDescription]"></v-textarea>
                    </v-col>
                    
                    <v-col class="d-flex" cols="12" sm="12" md="12" lg="12"> 
                      <v-overflow-btn v-model="active.status_id" 
                          ref="Recipients"
                          :items="statusActive"
                          editable
                          label="Estado"
                          item-value="id"
                          item-text="type"
                          prepend-inner-icon="label"
                          color="cyan"
                          :rules="[rules.required]"
                          >
                        </v-overflow-btn>
                    </v-col>
                    
                  </v-row>                                      
                  <div class="alert">
                    <v-alert
                      v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">

                      <ul>
                        <li v-for="(item,index) in errors" :key="index">
                              {{ item[0] }}
                        </li>
                      </ul>
                      
                    </v-alert>
                  </div>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="ma-2" color="error" @click="closeDialog(!dialogActive)">
                      <v-icon left>mdi-close</v-icon>Cerrar
                    </v-btn>

                    <v-btn :loading="loadings" class="ma-2" color="cyan white--text" type="submit" >
                      <v-icon left>mdi-pencil</v-icon> {{  textAction = chargeFields }} 
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
    <!-- Notification -->
    <div class="notification-user">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >

        {{ message }}
        <v-btn dark text @click="closeSnack(!statusSnack)"> Cerrar </v-btn>
    </v-snackbar>
    </div>
  </div>
    
</template>

<script>
import { mapGetters } from 'vuex';
import NotificationActive from './NotificationActive';

export default { 
    props: {
        dialogActive: {
          type:Boolean,
          default:()=> dialogActive = false
        },
        isEdit:{
          type:Boolean,
          default:()=> isEdit = false
        },
        editActive:{
          type:Object,
          default:()=>editActive = {}
        }
    },
    data:()=>({
       /**alert */
      showAlert:false,
      dismissible:true,
      type:'error',
      errors:{},
      /** */
      stateActive:{},
      message:'',
      colorSnack:'primary',
      statusSnack:false,
      findCurrentIndexActive:-1,
      rules:{
        required: value => !!value || 'Campo Requerido.',
        max: value => value.length <=50 || 'Máximo 50 caracteres',
        min: value => value.length >=2 || 'Mínimo 2 caracteres',
        maxCode: value => value.length <= 30 || 'Máximo 30 caracteres',
        maxDescription: value => value.length <= 100 || 'Máximo 100 caracteres',
        value: v => {
          const pattern = /^\d+\.?\d{0,2}$/
          return pattern.test(v) || 'Sólo números con 2 decimales'
        },
        maxDependency: value => value.length <= 100 || 'Máximo 100 caracteres',
      },
      active:{
        code:'',
        brand:'',
        model:'',
        value:'',
        dependency:'',
        description:'',
        status_id:'',
      },
      activeDefault:{
        code:'',
        brand:'',
        model:'',
        value:'',
        dependency:'',
        description:'',
        status_id:1,
      },
      loadings:false,
    }),
    computed:{
      ...mapGetters({
          statusActive: 'status/getActiveStatus',
      }),
      chargeFields(){
        this.isEdit ? this.active = Object.assign({},this.editActive) : this.active = Object.assign({},this.activeDefault) ; // sacamos o cargamos los campos si es para editar
        return this.isEdit ? "Editar" : "Crear";
      }
    },
    methods:{
      closeSnack(status){
        this.statusSnack = status
      },
      closeDialog(status){
        this.$emit('dialog-status',status)
      },
      storeUpdateActive(){

        if(this.$refs.form_active.validate()){
            this.loadings = true;
            this.isEdit ? this.findActive() : null;
            this.isEdit ? this.$store.dispatch('active/updateActive',{index: this.findCurrentIndexActive,active: this.active}) 
              : this.$store.dispatch('active/storeActive',this.active);

            this.$store.watch((state,getters)=>{
              this.stateActive = state.active
            })

            setTimeout(()=>{
              this.evaluateState();
            },1500)
        }
      },
      evaluateState(){
        let state = this.stateActive;
        this.loadings = state.isLoading ? true : false;
        if(state.status == 200 || state.status == 201)
        {
          this.statusSnack = true;
          this.message = state.message;
          this.closeDialog(false);
        }
        else
        {
          this.message = state.message;
          this.errors = state.errors;
          this.showAlert = true;   
        }
        setTimeout(() => {
            this.showAlert = false;
            this.message = null;
            this.errors = {}
          }, 5000)    
      },
      findActive(){
        this.$store.dispatch('active/findIndexActive',this.active.id);
        this.$store.watch((state,getters)=>{
          this.findCurrentIndexActive = state.active.findCurrentIndex
        })
      },
      /** charge methods overflow btn */
      getStatuses(){
        this.statusActive.length === 0 ? this.$store.dispatch('status/getStatus') : null;
      },
    },
    mounted(){
      this.getStatuses();
    },
    components:{NotificationActive}
}
</script>