<template>
    <div class="dialog-delete">
        <v-dialog v-model="dialogDelete" width="600" persistent trasition="slide-x-reverse-transition">
            <v-card>
                <v-card-title class="mx-4 mb-3 elevation-20 white--text red darken-2">
                    <h4>Eliminar Activo <v-icon x-large>delete</v-icon> </h4>
                </v-card-title>
                <v-card-text>
                    <h3 class="">¿Está seguro que desea eliminar este activo de la lista? </h3>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="d-flex justify-space-between">
                    <v-btn @click.stop="closeDialog(!dialogDelete)">Cancelar <v-icon>close</v-icon></v-btn>
                    <v-btn :loading="loading" @click.stop="deleteActiveAction" class="red darken-1 white--text">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
         <!-- Notifications -->
         
        <NotificationActive v-bind:message="message" v-bind:colorSnack="colorSnack" v-bind:statusSnack="statusSnack" @status-snackActive = "closeSnack" />
        <!-- End Notificacions -->
    </div>
</template> 

<script>
import NotificationActive from './NotificationActive';
import {mapGetters} from 'vuex'
export default {
    props:{
        dialogDelete: {
            type:Boolean,
            default: ()=> dialogDelete = false
        },
        deleteActive:{
            type:Object,
            default:()=> deleteActive = {}
        }
    },
    data:()=>({
        indexActive:0,
        loading:false,
        colorSnack:'',
        message:'',
        statusSnack:false,
        stateActive:{}
    }),
    computed:{
    //     ...mapGetters({
    //     findActiveIndex : 'active/findActiveIndex'
    //   }),
    },
    methods:{
        closeDialog(status){
            this.$emit('dialog-delete-status',status);
        },
         closeSnack(status){
            this.statusSnack = status
        },
        deleteActiveAction(){
            this.loading = true;
            this.setValueIndexActive();

            this.$store.dispatch('active/deleteActive',{active:this.deleteActive, indexDelete:this.indexActive})

            this.$store.watch((state,getters)=>{
                this.stateActive = state.active;
            })

             setTimeout(() => {
                this.evaluateState();    
             }, 1000); 

        },
        evaluateState(){
            let state = this.stateActive;

            if(state.status === 200){
                this.closeDialog(false);
                this.loading = state.isLoading;
                this.colorSnack = 'primary',
                this.message = state.message,
                this.statusSnack= true
            } 
            else
            {
                this.loading = state.isLoading;
                this.colorSnack = 'error',
                this.message = state.message,
                this.statusSnack= true
            }
            setTimeout(() => {
                this.statusSnack = false;
                this.show = false;
                this.message = null;
            }, 6000);
        },
        setValueIndexActive(){
        this.$store.dispatch('active/findIndexActive',this.deleteActive.id);
        this.$store.watch((state,getters)=>{
          this.indexActive = state.active.findCurrentIndex 
        })
      },
      
    },
    components:{
        NotificationActive
    }
}
</script>

<style>

</style>