<template>
    <div class="dialog-details-active">
        <v-dialog v-model="dialogDetailsActive" persistent max-width="600px"> 
            <v-card color="grey lighten-3">
                <v-toolbar dark color="green white--text">
                    <v-toolbar-title>Detalle Activo</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                     <v-btn icon dark @click="closeDialogDetail(!dialogDetailsActive)">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                
                <v-container class="d-flex justify-center">                   
                    <v-card class="ma-5" width="1950">
                            <v-row
                            class="mb-6"
                            justify="center">

                            

                            <div>
                                <v-col>
                                    <v-card-text class="text">
                                        <div class=" body-1">{{ `${detailActive.description} ` }}</div><br>
                                        <div class="body-2">Código</div>
                                        <div class="caption"> {{ detailActive.code }}</div><br>
                                        <div class="body-2">Marca</div>
                                        <div class="caption">{{ detailActive.brand  }}</div><br>
                                        <div class="body-2">Modelo </div>
                                        <div class="caption">{{ detailActive.model }}</div><br>
                                        <div class="body-2">Valor en libros </div> 
                                        <div class="caption">{{ detailActive.value }}</div><br>
                                        <div class="body-2">Subpartida </div>
                                        <div class="caption">{{ detailActive.subcategory_id.name }}</div><br>
                                        <div class="body-2">Bodega </div>
                                        <div class="caption">{{ detailActive.warehouse_id.name }}</div><br>
                                        <div class="body-2">Dependencia </div>
                                        <div class="caption">{{ detailActive.dependency }}</div><br>
                                        <div class="body-2">Estado </div>
                                        <div class="caption">{{ detailActive.status_id.type }}</div><br>
                                        <div class="body-2">Creado </div>
                                        <div class="caption">{{ detailActive.created_at }}</div><br>
                                        <div class="body-2">Modificado </div>
                                        <div class="caption">{{ detailActive.updated_at }}</div><br>   
                                    </v-card-text>
                                </v-col>

                                <v-col>
                                    <v-card-actions class="text">
                                        <v-btn depressed color="error" @click="closeDialogDetail(!dialogDetailsActive)"><v-icon>mdi-close</v-icon>Cerrar</v-btn>
                                        <v-btn depressed class="float-right cyan white--text" @click.stop="dialogActive = true"><v-icon>edit</v-icon>Editar</v-btn>
                                    </v-card-actions>
                                </v-col>
                            </div>
                        </v-row>
                    </v-card>
                </v-container>
            </v-card>
        </v-dialog>
        <DialogActive v-bind:dialogActive="dialogActive" v-bind:editActive="detailActive" v-bind:isEdit="true" @dialog-status = 'closeDialog'/>
    </div>
</template>

<script>
import DialogActive from './DialogActive';
export default {
    props:{
        dialogDetailsActive:{
            type:Boolean,
            default:()=> dialogDetailsActive = false
        },
        detailActive:{
            type:Object,
            default:()=> detailActive ={}
        }
    },
    data:()=>({
         dialogActive:false,
    }),
    methods:{
        closeDialogDetail(status){
            this.$emit('dialog-detail-status',status)
        },
        closeDialog(status){
            this.dialogActive = status
        }

    },
     components:{DialogActive}
}
</script>

<style>
.profile{
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.text{
    margin-left: 40px;
    margin-right: 10px
}
</style>