<template>
    <v-switch color="primary" v-model="disableActive" inset :label="labelText" @click.stop="showData">{{ disabled }}</v-switch>
</template>

<script>
  export default {
    props:{
      id:{
        type:Number,
        default:()=> id = 0
      },
      status:{
        type:Object,
        default:()=> id = {}
      }
    },
    data:()=> ({
        disableActive: false,
        active_id: 0,
        labelText:''
    }),
    computed:{
      disabled:{
        get:function(){
          this.labelText = this.status.id == 1 ? 'Deshabilitar' : 'Habilitar'
          this.disableActive = (this.status.id !== 1) ? false : true
        },
        set:function(value){
          this.active_id = this.id
          this.labelText = (this.labelText == 'Deshabilitar') ? 'Habilitar' : 'Deshabilitar' 
          this.disableActive = value
        } 
      }
    },
    methods:{
      showData(){
        this.disabled = !this.disableActive
        this.$store.dispatch('active/disabledActive',{disableActive:this.disableActive,active:this.active_id})
      }
    }
  }
</script>