<template>
    <div class="notification-active">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="6000"
            :top="true"
        >
        {{ message }}
        <v-btn dark text @click="closeSnack(!statusSnack)"> Cerrar </v-btn>
    </v-snackbar>
    </div>
</template>

<script>
export default {
    props:{
        message:{
            type:String,
            default:()=> textMessage = ''
        },
        statusSnack:{
            type:Boolean,
            default:()=> statusSnack = false
        },
        colorSnack:{
            type:String,
            default:()=> colorSnack = "primary"
        }
    },
    data:()=>({
        
    }),
    methods:{
        closeSnack(status){
            this.$emit('status-snack-active',status)
        }   
    },
}
</script>

<style>
    .v-snack--active.v-snack--top{
        margin-top:60px;
    }
</style>