 <template>
        <div class="content-role">
            <v-card>
                <v-sheet class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="80" max-width="calc(100% - 93%)">
                    <h4 class="text-md-center pt-4 white--text title"><v-icon large dark>mdi-account-badge</v-icon></h4>
                    <p class="subtitle title">  Usuarios</p>
                </v-sheet>
                <v-card-text>
                    <v-row>
                        <v-col class="d-flex justify-end">
                            <v-text-field
                                v-model="search"
                                append-icon="search"
                                label="Buscar"
                                single-line
                                hide-details
                                color="light-blue darken-1"
                                style="max-width: 300px;"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-divider />

                <div class="table-responsive">
                    <v-data-table
                        :headers="headers"
                        :items="roleUser"
                        :search="search"
                        multi-sort
                    >
                    <template v-slot:item="props">
                        <tr>
                        <td class="subheading">{{ props.item.id }}</td>
                        <td class="subheading">{{ props.item.first_name}}</td>
                        <td class="subheading">{{ props.item.first_surname +" "+ props.item.second_surname }}</td>
                        <td class="subheading">{{ props.item.dni }}</td>
                        <td class="subheading">{{ props.item.telephone }}</td>
                        <td class="subheading">
                            <span v-for="(value,index) in props.item.type " :key="index">
                                {{ value.type }}, 
                            </span>
                        </td>
                        <td class="subheading">
                            <v-btn depressed @click.stop="dialogRole = !dialogRole,isEdit = true, editRole = props.item">
                                <v-icon  middle >mdi-account-edit</v-icon>
                            </v-btn>
                        </td>
                        </tr>
                    </template> 
                </v-data-table>
            </div>
        </v-card-text>
            <!--  Dialogs o modals -->
            <DialogRole v-bind:dialogRole="dialogRole" v-bind:isEdit="isEdit" v-bind:editRole="editRole" @dialog-status = "dialogRolesStatus" /> 
            <!-- End Dialogs  -->
        </v-card>
    </div>
</template>

<script>

import DialogRole from './DialogRole'
import { mapGetters } from 'vuex';

export default {
    data:()=>({
        switch1:false,
        dialog:false,
        dialogRole:false,
        isEdit:false,
        editRole:{},
        //itemArea: 0,
        panel:[0],
        search: '',
        headers: [
            { text: 'ID', align: 'left', sortable: false, value: 'id'},
            { text: 'Cédula', value: 'dni' },
            { text: 'Nombre ', value: 'first_name' },
            { text: 'Apellidos', value: 'first_surname' },
            { text: 'Teléfono', value: 'telephone' },
            { text: 'Roles', value: 'type' },
            { text: 'Acciones', value:'actions', sortable: false}
        ], 
       }), 

    computed:{
        ...mapGetters({
            roleUser: 'role_user/getRoleUsers'
        }),
    },
    methods:{
        getRoleUser(){
            this.$store.dispatch('role_user/getRoleUsers')
        },
        dialogRolesStatus(status){
            this.dialogRole = status;
        },
    },
    mounted(){
        this.getRoleUser();
    },
    components:{DialogRole}
}
</script>
