<template>
  <div class="dialog-role">
      <v-dialog v-model="dialogRole" max-width="1024px" persistent>
        <v-card color="grey lighten-3">

          <v-toolbar dark color="green">
              <v-toolbar-title> {{ actionsRoles }} </v-toolbar-title>

              <div class="flex-grow-1"></div>
                <v-btn icon dark @click="closeDialog(!dialogRole)">
                  <v-icon>close</v-icon>
              </v-btn>
          </v-toolbar>

          <v-container>
            <v-card class="elevation-0" >
                <v-card-text>
                  <v-container>
                    <v-form @submit.prevent="saveRoles" ref="form_role">
                      <v-row>
                        <v-col cols="12">
                          <v-card>
                            <v-card-title class="cyan white--text">
                              Usuario
                            </v-card-title>
                            <v-card-text>
                              <template>
                                <v-simple-table>
                                  <template v-slot:default>
                                    <thead>
                                      <tr>
                                        <th class="text-left">Nombre</th>
                                        <th class="text-left">Apellidos</th>
                                        <th class="text-left">Roles</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                     <tr>
                                       <td>{{ editRole.first_name }}</td>
                                       <td>{{ `${editRole.first_surname} ${editRole.second_surname}` }}</td>
                                       <td v-for="(item,index) in editRole.type" :key="index">
                                            <span>
                                              {{item.type}}
                                            </span>
                                       </td>
                                     </tr>
                                    </tbody>
                                  </template>
                                </v-simple-table>
                               </template>
                               <v-col cols="12"> 
                                  <v-overflow-btn v-model="rolesItem" 
                                      ref="Recipients"
                                      :items="roles"
                                      editable
                                      label="Rol"
                                      item-value="id"
                                      item-text="type"
                                      prepend-icon="mdi-account-badge"
                                      reandonly
                                      chips
                                      deletable-chips
                                      multiple
                                      >
                                    </v-overflow-btn>
                                </v-col>   
                            </v-card-text>
                          </v-card>
                        </v-col>
                      </v-row>

                      <v-card-actions>
                       <v-row>
                         <v-col cols="6">
                            <v-btn block outlined color="error" @click="closeDialog(!dialogRole)">Cerrar</v-btn>
                         </v-col>
                         <v-col cols="6">
                          <v-btn block :loading="loadings" color="cyan white--text" type="submit" >
                            <v-icon left>mdi-content-save-edit</v-icon>Guardar 
                            </v-btn>
                         </v-col>
                       </v-row>
                      </v-card-actions>
                    </v-form>
                  </v-container>
                </v-card-text>
            </v-card>
          </v-container>
        </v-card>
    </v-dialog>
     <!-- Notifications -->
    <div class="notification-roleUser">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >
        {{ message }}
        <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
      </v-snackbar>
    </div>
   </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
   props:{
          dialogRole:{
              type:Boolean,
              default: ()=>dialogRole = false
          },
          isEdit:{
            type:Boolean,
            default: ()=>isEdit = false
          },
          editRole:{
            type:Object,
            default: ()=> editRole = {}
          },
      },
      data: ()=>({
        loadings:false,
        errors:'',
        colorSnack:'',
        statusSnack:'',
        message:'',
        rolesItem:[],
        stateRoleUser:''
    }),
    computed:{
      ...mapGetters({
          roles:'role_user/getRoles'
      }),
      actionsRoles(){
        this.rolesItem = this.editRole.type
        return 'Gestión de Roles'
      }
    },
    methods:{
    closeDialog(dialogStatus){
      this.$emit('dialog-status',dialogStatus)
    },
    getRoles(){
      this.roles.length === 0 ? this.$store.dispatch('role_user/getRoles') : null;
    },
    saveRoles(){
      this.$store.dispatch('role_user/modifyRoleUser',{roles:this.rolesItem,user:this.editRole})
      this.$store.watch((state,getters)=>{
        this.stateRoleUser = state.role_user
      })

      setTimeout(()=>{
        this.evaluateResp(this.stateRoleUser)
      },1500)
     
    },
    evaluateResp(state){
     if(state.status == 200)
     {
        this.colorSnack ='primary'
        this.statusSnack = true
        this.message = state.message
        this.closeDialog(false)
     }
     else
     {
        this.colorSnack ='red'
        this.statusSnack = true
        this.message = state.message
     }  
     setTimeout(()=>{
       this.message = null
       this.colorSnack = null
     },5000)
    }
  },
  mounted(){
    this.getRoles()
  }

}
</script>