<template>
    <div class="role">
        <v-container>
            <ContentRole />
        </v-container>
    </div>
</template>

<script>
import ContentRole from './ContentRole'
export default {
    components:{ContentRole}
}
</script>

<style>

</style>