<template>
    <div class="content-warehouse">
        <v-container class="pa-2 text-center">
            <!-- Search and button -->
            <div class="header-subcategory" >
                <v-card class="elevation-0">
                    <v-layout row wrap>
                        <v-flex xs12 sm12 md4 lg4>
                            <v-card-title><h4 class="grey--text"><v-icon color="blue"> mdi-home-variant </v-icon> Bodegas</h4></v-card-title>
                        </v-flex>

                        <v-flex xs12 sm12 md8 lg8>
                            <v-card-text class="d-flex justify-end"> 
                                <v-layout row wrap>
                                    <v-flex md6 lg6>
                                        <v-text-field placeholder="Buscar" append-icon="search" @keyup="filterWarehouse"></v-text-field>    
                                    </v-flex>
                                    <v-flex md6 lg6>
                                        <v-btn rounded depressed class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text" @click="dialogWarehouse = !dialogWarehouse, isEdit=false"><v-icon>add</v-icon> Ingresar Bodega</v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-flex>
                    </v-layout> 
                </v-card>
            </div>
            <!-- End -->
            <v-row class="fill-height" align="center" justify="center">
                <template v-for="(item, i) in itemWarehouse">
                   
                    <v-col :key="i" cols="12" sm="12" md="3" lg="3">
                        <v-hover v-slot:default="{ hover }">
                            <v-card :elevation="hover ? 12 : 2" :class="{ 'on-hover': hover }" >
                                <v-card-title class="grey lighten-3 title">
                                    <p class="subheading text-left">{{ item.name }}</p>
                                </v-card-title>
                                <v-card-text>
                                    <div>
                                        <v-row class="fill-height flex-column" justify="space-between">
                                            <div class="align-self-center">
                                                <span>Fecha de creación: </span>
                                                <p class="ma-0 body-1 font-weight-bold font-italic text-center">
                                                    {{ item.created_at }}
                                                </p>
                                                
                                            </div>
                                        </v-row>
                                    </div>
                                    <v-row class="fill-height flex-column" justify="space-between">
                                        <div class="align-self-center">
                                            <v-tooltip left="">
                                                <template v-slot:activator="{ on }">
                                                     <v-btn color="white" icon @click="dialogWarehouse = !dialogWarehouse,isEdit = true,editWarehouse = item" v-on="on">
                                                        <v-icon :class="{ 'show-btns-edit': hover }"> edit </v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Editar</span>
                                            </v-tooltip>

                                             <v-tooltip right>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn color="white" icon @click="dialogDelete = !dialogDelete,deleteWarehouse = item" v-on="on">
                                                        <v-icon :class="{ 'show-btns-delete': hover }"> delete </v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Eliminar</span>
                                            </v-tooltip>
                                        </div>
                                    </v-row>
                                </v-card-text>

                                <v-expansion-panels>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header class="subtitle-1"> Descripción </v-expansion-panel-header>
                                        <v-expansion-panel-content>   
                                            <v-card-text>
                                                <div class="">
                                                    <p class="ma-0 body-1 font-weight-bold font-italic text-center">
                                                        {{ item.description }}
                                                    </p>
                                                </div>
                                            </v-card-text>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card>
                        </v-hover>
                    </v-col>
                </template>
            </v-row>  
           
        </v-container>

        <!-- Dialogs -->
        <DialogWarehouse v-bind:dialogWarehouse="dialogWarehouse" v-bind:isEdit="isEdit" v-bind:editWarehouse="editWarehouse" @dialog-status = "dialogWarehouseStatus"/>
        <DialogDelete v-bind:dialogDelete="dialogDelete" v-bind:deleteWarehouse="deleteWarehouse" @dialog-status = "dialogDeleteStatus" />
        
        <!--  Loader -->
        <Loader v-bind:loading="loading"/>
        <!--  Pagination -->
        <div class="text-center">
            <v-pagination 
                v-model="currentPage" :length="numPaginates"
                prev-icon="mdi-menu-left" next-icon="mdi-menu-right" :value="currentPage" circle 
            ></v-pagination>
        </div>
    </div>
</template>

<script>
import DialogWarehouse from './DialogWarehouse';
import DialogDelete from './DialogDelete';
import { filterObject } from '../../../helpers/filterObject';
import { currentItems, totalPaginates } from '../../../helpers/pagination';

import Loader from '../../../plugins/Loader'
import { mapGetters } from 'vuex';
export default {
    data:()=>({
        page: 1,
        dialogWarehouse:false,
        dialogDelete: false,
        isEdit:false,
        editWarehouse:{},
        deleteWarehouse:{},
        itemWare:0,
        icons: ['edit', 'delete'],
        labels: ['12am','3am','6am','9am','12pm','3pm','6pm','9pm',],
        value: [200,675,410,390,500,460,700,240,],
        // pagination 
        currentPage:1,
        itemsPerPage:4,
    }),
    computed:{
        ...mapGetters({
            warehouses: 'warehouse/getWarehouses',
            loading: 'warehouse/getLoading'
        }),
        itemWarehouse(){
            return this.itemWare == 0 ? currentItems(this.warehouses,this.currentPage,this.itemsPerPage) : this.itemWare;
        },
        numPaginates(){
            return totalPaginates(this.warehouses.length, this.itemsPerPage)
        },
    },
    methods:{
        getWarehouses(){
            this.$store.dispatch('warehouse/getWarehouses');
        },
        dialogWarehouseStatus(status){
            this.itemWare = filterObject(this.warehouses, null); 
            this.dialogWarehouse = status;
        },
         dialogDeleteStatus(status){
            this.itemWare = filterObject(this.warehouses, null); 
            this.dialogDelete = status;
        },
        filterWarehouse(e){
            this.itemWare = filterObject(this.warehouses, e.target.value);
        }
    },
    mounted(){
        this.getWarehouses();
    },
    components:{DialogWarehouse, DialogDelete, Loader}
}
</script>

<style scoped>
      
.v-card {
  transition: opacity .4s ease-in-out;
} 

.show-btns-edit { 
  color: #FFEB3B !important;
  border-color: #FFEB3B !important;
}

.show-btns-delete {
    
    color: #F44336 !important;
    border-color: #F44336 !important;
}
  .v-sheet--offset {
    top: -24px;
    position: relative;
  }
</style>