<template>
  <div class="dialog-warehouse">
      <v-row justify="center">
          
          <v-dialog v-model="dialogWarehouse" persistent max-width="600px" transition="scroll-x-transition">
              <v-card>
                  <v-card-title class="green white--text">
                      <h4 class="title">{{ actionWarehouse }} Bodega</h4>
                  </v-card-title>
                  <v-card-text>
                     <v-container>
                         <v-form @submit.prevent="saveWarehouse" ref="form_warehouse">
                             <v-row>
                                 <v-col cols="12">
                                     <v-text-field 
                                        label="Nombre" 
                                        v-model="warehouse.name"
                                        :rules="[rules.required,rules.maxName]"
                                    ></v-text-field>                                     
                                 </v-col>
                                 <v-col cols="12">
                                     <v-text-field 
                                        label="Código" 
                                        v-model="warehouse.code"
                                        :rules="[rules.required,rules.maxCode]"
                                    ></v-text-field>  
                                 </v-col>
                                 <v-col cols="12">
                                    <v-textarea 
                                        auto-grow 
                                        rows="4" 
                                        clearable 
                                        counter="100" 
                                        clear-icon="cancel" 
                                        label="Descripción" 
                                        v-model="warehouse.description"
                                        :rules="[rules.required,rules.maxDescription]"
                                    ></v-textarea>
                                 </v-col>
                             </v-row>
                              <!-- alert -->
                             <div class="alert">
                                <v-alert
                                v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">
                                    <ul>
                                        <li v-for="(error,i) in errors" :key="i">
                                            {{ error[0] }}
                                        </li>
                                    </ul>
                                </v-alert>
                            </div>
                             <!-- end alert -->
                             <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="ma-2" color="error" @click="closeDialog(!dialogWarehouse)"> <v-icon left>mdi-close</v-icon> Cerrar</v-btn>
                                <v-btn :loading="loadings" class="ma-2" color="cyan white--text" type="submit" >
                                    <v-icon left>{{ icon }}</v-icon> {{ actionWarehouse }}
                                </v-btn>
                             </v-card-actions>
                         </v-form>
                     </v-container>
                  </v-card-text>
              </v-card>
          </v-dialog>
      </v-row>
       <!-- Notifications -->
    <div class="notification-warehouse">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >
        {{ message }}
        <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import errorList from '../../../helpers/errorObjectList';

export default {
    props:{
        dialogWarehouse:{
            type:Boolean,
            default: ()=> dialogWarehouse = false
        },
        isEdit:{
            type:Boolean,
            default:()=>isEdit = false
        },
        editWarehouse:{
            type:Object,
            default:()=>editWarehouse = {}
        }
    },
    data:()=>({
        icon:'edit',
        loadings:false,
        indexWarehouse:-1,
        stateWarehouse:{},
        colorSnack:'primary',
        statusSnack:false,
        showAlert:false,
        dismissible:true,
        stateObject:{},
        type:'error',
        message:'',
        errors:null,
        rules:{
            required: value => !!value || 'Campo Requerido.',
            maxCode: value =>value.length <= 20 || 'Máximo 20 caracteres',
            maxName: value =>value.length <= 50 || 'Máximo 50 caracteres',
            maxDescription: value =>value.length <= 100 || 'Máximo 100 caracteres',
        },
        warehouse:{
            id:'',
            name:'',
            code:'',
            description:'',
        },
        defaultWarehouse:{
            id:'',
            name:'',
            code:'',
            description:'',
        }
    }), 
    computed:{
        actionWarehouse()
        {
            this.isEdit ? Object.assign(this.warehouse,this.editWarehouse) : Object.assign(this.warehouse,this.defaultWarehouse)
            return this.isEdit ? 'Editar' : 'Crear';
        }
    },  
    methods:{
        closeDialog(status){
            this.resetFields()
            this.$emit('dialog-status',status)
        },
        saveWarehouse(){
            
            if(this.$refs.form_warehouse.validate()){
                this.loadings = true;
                this.isEdit ? this.findIndexWarehouseArray() : null;
                this.isEdit ? this.$store.dispatch('warehouse/updateWarehouse',{warehouse: this.warehouse, indexWarehouse:this.indexWarehouse}) : this.$store.dispatch('warehouse/storeWarehouse',this.warehouse)

                this.$store.subscribe((mutation,state)=>{
                    this.stateWarehouse = state.warehouse
                })

                setTimeout(() => {
                    this.evaluateResponse()
                }, 1000);
            }   
        },
        evaluateResponse(){
            let state = this.stateWarehouse
            this.loadings = state.isLoading; // lo detenemos
            if(state.status === 200 || state.status === 201)
            {
                this.message = state.message
                this.statusSnack = true
                this.warehouse = {}
                this.resetFields()
                this.closeDialog(false);
                
            }
            else
            {
                this.errors = errorList(state.errors)
                this.showAlert = true
            }
                
            setTimeout(() => {
                this.statusSnack = false
                this.message = null
            }, 3000);
        },
        findIndexWarehouseArray(){
            this.$store.dispatch('warehouse/getWarehouseIndex',this.editWarehouse);
            this.$store.watch((state,getters)=>{
                this.indexWarehouse = state.warehouse.findWarehouseIndex;
            })
        },
        resetFields(){
            this.showAlert = false
            this.errors = null
        }
    }
}
</script>

<style>

</style>