<template>
    <div class="dialog-delete">
        <v-dialog v-model="dialogDelete" width="600" persistent trasition="slide-x-reverse-transition">
            <v-card width="600" class="pt-5">
                <v-sheet class="v-sheet--offset mx-auto" color="red" elevation="12" height="60" max-width="calc(100% - 32px)">
                    <h4 class="text-md-center pt-4 white--text title">Eliminar Bodega  <v-icon x-large>delete</v-icon></h4>
                </v-sheet>
                <v-card-text>
                    <h3 class="title">¿Está seguro que desea eliminar esta bodega de la lista? </h3>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="d-flex justify-space-between">
                    <v-btn @click.stop="closeDialog(!dialogDelete)">Cancelar <v-icon>close</v-icon></v-btn>
                    <v-btn depressed :loading="loadings" class="red darken-1 white--text" @click.stop="DeleteWarehouse">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- Notifications -->
        <div class="notification-warehouse">
            <v-snackbar
                v-model="statusSnack"
                :color="colorSnack"
                :multi-line="true"
                :right="true"
                :timeout="5000"
                :top="true"
            >
            {{ message }}
                <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
            </v-snackbar>
        </div>
    </div>
</template> 

<script>
export default {
    props:{
        dialogDelete: {
            type:Boolean,
            default: ()=> dialogDelete = false
        },
        deleteWarehouse:{
            type:Object,
            default:()=>deleteWarehouse = {}
        }
    },
    data:()=>({
        indexWarehouse:-1,
        stateWarehouse:{},
        loadings:false,
        statusSnack:false,
        colorSnack:'primary',
        message:'',
    }),
    methods:{
        closeDialog(status){
            this.$emit('dialog-status',status);
        },
        DeleteWarehouse(){
            this.loadings = true;
            this.findIndexWarehouseArray();
            this.$store.dispatch('warehouse/deleteWarehouse',{warehouse:this.deleteWarehouse,indexWarehouse: this.indexWarehouse})
            
            this.$store.subscribe((mutation,state)=>{
                this.stateWarehouse = state.warehouse;
            })

            setTimeout(() => {
                this.evaluateResponse();
            }, 1500);
        },
        evaluateResponse(){
            this.loadings = this.stateWarehouse.isLoading; 
            switch(this.stateWarehouse.status)
            {
                case 200:
                    this.message = this.stateWarehouse.message
                    this.statusSnack = true
                    this.closeDialog(false);
                    break;
                default:
                    this.message = this.stateWarehouse.message
                    this.colorSnack = 'error'
                    this.statusSnack = true
                    this.closeDialog(false);
                    break;
            }
            setTimeout(() => {
                this.statusSnack = false
                this.message = null
            }, 5000);
        },
        findIndexWarehouseArray(){
            this.$store.dispatch('warehouse/getWarehouseIndex',this.deleteWarehouse);
            this.$store.watch((state,getters)=>{
                this.indexWarehouse = state.warehouse.findWarehouseIndex;
            })
        }
    },
    components:{}
}
</script>

<style>
    .v-sheet--offset {
        top: -24px;
        position: relative;
    }
</style>