<template>
    <div class="warehouse">
        <v-container>
            <ContentWarehouse />
        </v-container>
    </div>
</template>

<script>
import HeaderWarehouse from './HeaderWarehouse'; 
import ContentWarehouse from './ContentWarehouse';
export default {

    components:{HeaderWarehouse,ContentWarehouse}
}
</script>