<template>
    <div class="form-register">
        <v-form class="ma-2" ref="form_register" @submit.prevent="registerSave">
            <v-row justify="center">
                <v-col cols="12" md="6" lg="6">
                    <v-text-field
                        v-model="register.first_name"
                        label="Primer Nombre"
                        prepend-icon="mdi-account-circle"
                        color="light-blue "
                        :rules="[rules.required,rules.max]"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" lg="6">
                    <v-text-field
                        v-model="register.middle_name"
                        label="Segundo Nombre"
                        prepend-icon=""
                        color="light-blue "
                        :rules="[rules.max]"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" lg="6">
                    <v-text-field
                        v-model="register.first_surname"
                        label="Primer Apellido"
                        prepend-icon=""
                        color="light-blue "
                        :rules="[rules.required,rules.max]"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" lg="6">
                    <v-text-field
                        v-model="register.second_surname"
                        label="Segundo Apellido"
                        prepend-icon=""
                        color="light-blue "
                        :rules="[rules.required,rules.max]"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" md="6" lg="6">
                    <v-text-field
                        v-model="register.email"
                        label="Correo Electrónico"
                        prepend-icon="mdi-email"
                        color="light-blue "
                        :rules="[rules.required,rules.email]"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" lg="6">
                    <v-text-field
                        v-model="register.dni"
                        label="Cédula"
                        prepend-icon="mdi-account-card-details"
                        color="light-blue"
                        :rules="[rules.required,rules.minDni,rules.maxDni]"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" md="6" lg="6">
                    <v-text-field
                        v-model="register.password"
                        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                        :rules="[rules.required, rules.min]"
                        :type="showPassword ? 'text' : 'password'"
                        color="light-blue "
                        label="Contraseña"
                        hint="Al menos 6 caracteres"
                        class="input-group--focused"
                        @click:append="showPassword = !showPassword" prepend-icon="vpn_key"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" md="6" lg="6">
                    <v-text-field
                        v-model="register.telephone"
                        label="Teléfono"
                        prepend-icon="mdi-phone"
                        color="light-blue "
                        :rules="[rules.required,rules.minTelephone]"
                    ></v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-textarea
                        v-model="register.direction"
                        auto-grow rows="3" 
                        clearable counter="255" 
                        clear-icon="cancel" label="Dirección"
                        prepend-icon="mdi-arrow-left-right-bold" color="light-blue "
                        :rules="[rules.required,rules.maxDirection]"
                    ></v-textarea>
                </v-col>

                <v-btn :loading="loadings" type="submit" block class="gradient subtitle-1 font-weight-bold white--text">Registrarse</v-btn>
            </v-row>
        </v-form>

         <!-- SNACKBAR -->
            <v-snackbar
                v-model="snackbar"
                :bottom="false"
                :top="true"
                :right="true"
                :color="colorSnack"
                :multi-line="true"
                :timeout="3000"
                >
                <ul v-if="errors">
                    <li v-for="(error,i) in errors" :key="i">
                        {{ error[0] }}
                    </li>
                </ul>
                {{ message }}
                <v-btn dark text @click="snackbar = false">Cerrar</v-btn>
            </v-snackbar>
        <!-- END SNACKBAR -->

    </div>
</template>

<script>
export default {
    data:()=>({
        showPassword: false,
        loadings:false,
        snackbar:false,
        respRegister:'',
        message:'',
        errors:null,
        colorSnack:'',
        register:{
            first_name:'',
            middle_name:'',
            first_surname: '',
            second_surname:'',
            email:'',
            dni:'',
            password:'',
            telephone:'',
            direction:''
        },
        rules:{
            required: value => !!value || 'Campo Requerido.',
            max: value => value.length <=50 || 'Máximo 50 caracteres',
            min: v => v.length >= 6 || 'Minimo 6 caracteres',
            minDni: value => value.length >= 9 || 'Mínimo 9 caracteres',
            maxDni: value => value.length <= 20 || 'Máximo 20 caracteres',
            email: value => {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                return pattern.test(value) || 'Correo inválido!'
            },
            minTelephone: value => value.length >=8 || 'Mínimo 8 caracteres',
            maxDirection: value =>value.length <= 255 || 'Máximo 255 caracteres',
        }
    }),
    methods:{
        registerSave(){
            if(this.$refs.form_register.validate())
            {
                this.loadings = true;
                this.$store.dispatch('register/storeRegister',this.register);
                this.$store.subscribe((mutation,state)=>{
                    this.respRegister = state.register;
                })
                setTimeout(()=>{
                    this.evaluateRegister(this.respRegister)
                },1500)
            }
        },
        evaluateRegister(register){
            
            this.loadings = register.isLoadings ? true : false;
            if(register.status == 201 || register.status == 200)
            {
                this.message = register.message;
                this.snackbar = true;
                this.colorSnack = 'cyan'
            }
            else
            {
                this.errors = register.errors
                this.snackbar = true
                this.colorSnack = 'red'
            }

            setTimeout(()=>{
                this.message = null
                this.snackbar = false
                this.errors = null;
                (register.status == 200 || register.status == 201) ? this.$router.push({path:'/login'}) : null;
            },3000)
        }
    }
}
</script>

<style>
    .gradient{
  /* background: linear-gradient(40deg,#ff6ec4,#7873f5) !important; */
  background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
}
</style>

<!--  <v-text-field
            outlined
            label="Prepend"
            prepend-icon="place"
            color="indigo"
        ></v-text-field> --> 