<template>
    <div class="info-register">
       <v-row align="start" justify="start">
           <!-- <v-col cols="12">
               <div class="text">
                   <p class="title"><v-icon large left color="cyan">home</v-icon>  </p>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum consectetur 
                       molestiae accusamus sint officiis praesentium, repellat esse atque quo quasi natus voluptatibus repudiandae in voluptas 
                       fuga quod similique! Temporibus, nostrum.
                    </p>
               </div>
           </v-col> -->
            <v-col cols="12">
               <div class="text">
                   <p class="title"><v-icon large left color="primary">mdi-domain</v-icon> SINAC-ACT </p>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum consectetur 
                       molestiae accusamus sint officiis praesentium fuga quod similique! Temporibus, nostrum.
                    </p>
               </div>
           </v-col>

           <v-col cols="12">
               <div class="text">
                   <p class="title"><v-icon large left color="green">mdi-account-star</v-icon> Usuario </p>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum consectetur 
                       molestiae accusamus sint officiis praesentium fuga quod similique! Temporibus, nostrum.
                    </p>
               </div>
           </v-col>

           <v-col cols="12" class="mt-reg-10">
               <v-btn block class="gradient-back subtitle-1 font-weight-bold white--text" @click.stop="toLogin">
                   Regresar
               </v-btn>
           </v-col>
        </v-row> 
    </div>
</template>

<script>
export default {
    methods:{
        toLogin(){
            this.$router.push({path:'/login'})
        }
    }
}
</script>

<style>
    .mt-reg-10{
        margin-top: 192px;
    }
    .gradient-back{
        /*background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;*/
        background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
        /* background: linear-gradient(40deg,#2096ff,#05ffa3) !important; */
    }
</style>