<template>
  <div class="register">
    <v-img src="https://demos.creative-tim.com/vuetify-material-dashboard-pro/img/lock.9ae20e99.jpg" 
      min-height="100%"  
      gradient="to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)" >

    <!-- Register form -->
    <div class="container container-register">
      <v-row justify="center">
        <v-card width="1200"> 
          <v-card-title >
            <h3 class="text-md-center font-weight-medium">Registrarse</h3>
          </v-card-title>
          <v-card-text>
            <v-row justify="center">
                <v-col cols="12" md="6" lg="6">
                  <v-card flat>
                    <v-card-text>
                        <!-- Information -->
                        <InfoRegister />
                    </v-card-text>
                  </v-card>
                </v-col>

                <v-col ools="12" md="6" lg="6">
                  <v-card flat>
                    <v-card-text>
                      <!-- Formulario -->
                      <FormRegister />
                    </v-card-text>
                  </v-card>
                </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
    </div>
  </v-img>
  </div>
</template>

<script>
import FormRegister from './FormRegister'
import InfoRegister from './InformationRegister' 
export default {
  data:()=>({
      
  }),
  method:{
    
  },
  components:{FormRegister,InfoRegister}
}
</script>

<style>
  .container-register{
    margin:150px 0 150px 0;
  }
</style>

  <!-- https://demos.creative-tim.com/vuetify-material-dashboard-pro/img/lock.9ae20e99.jpg -->

  <!-- https://demos.creative-tim.com/vuetify-material-dashboard-pro/img/login.d6d3bb09.jpg -->