<template>
    <div class="category">
        <v-container>
            <ContentCategory />
        </v-container>
    </div>
</template>

<script>
import ContentCategory from './ContentCategory';
export default {

    components:{ContentCategory}
}
</script>

