<template>
    <div class="content-category">
        <v-container class="pa-2 text-center">

            <div class="header-category" >
                <v-card class="elevation-0">
                    <v-layout row wrap>
                        <v-flex xs12 sm12 md4 lg4>
                            <v-card-title><h4 class="grey--text"><v-icon color="blue">mdi-animation</v-icon> Partidas </h4></v-card-title>
                        </v-flex>

                        <v-flex xs12 sm12 md8 lg8>
                            <v-card-text class="d-flex justify-end"> 
                                <v-layout row wrap>
                                    <v-flex md6 lg6>
                                        <v-text-field placeholder="Buscar" append-icon="search" @keyup="filterCategory"></v-text-field>   
                                    </v-flex>
                                    <v-flex md6 lg6>
                                        <v-btn rounded depressed class="ml-5 font-weight-medium text-capitalize light-blue darken-1 white--text" @click="dialogCategory = !dialogCategory, isEdit=false"><v-icon>add</v-icon>Ingresar partida</v-btn>  
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                </v-card>
            </div>
            <!-- End -->
            <v-row class="fill-height" align="center" justify="center">
                <template v-for="(item, i) in itemCategories">
                   
                    <v-col :key="i" cols="12" sm="12" md="3" lg="3">
                        <v-hover v-slot:default="{ hover }">
                            <v-card class="border" :elevation="hover ? 12 : 2" :class="{ 'on-hover': hover }" >
                                <v-card-title >
                                    <p class="title">{{ item.name }}</p>
                                </v-card-title>
                                <v-card-text>
                                    <div>
                                        <v-row class="fill-height flex-column" justify="space-between">
                                            <div class="align-self-center">
                                                <span>Fecha de creación: </span>
                                                <p class="ma-0 body-1 font-weight-bold font-italic text-center">
                                                    {{ item.created_at }}
                                                </p>
                                            </div>
                                        </v-row>
                                    </div>
                                    <v-row class="fill-height flex-column" justify="space-between">
                                        <div class="align-self-center">
                                            <v-tooltip left>
                                                <template v-slot:activator="{ on }">
                                                     <v-btn color="white" icon @click="dialogCategory = !dialogCategory, isEdit = true,editCategory = item" v-on="on">
                                                        <v-icon :class="{ 'show-btns-edit': hover }"> edit </v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Editar</span>
                                            </v-tooltip>

                                             <v-tooltip right>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn color="white" icon @click="dialogDelete = !dialogDelete, deleteCategory=item" v-on="on">
                                                        <v-icon :class="{ 'show-btns-delete': hover }"> delete </v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Eliminar</span>
                                            </v-tooltip>
                                        </div>
                                    </v-row>
                                </v-card-text>

                                <v-expansion-panels>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header class="subtitle-1"> Descripción </v-expansion-panel-header>
                                        <v-expansion-panel-content>   
                                            <v-card-text>
                                                <div class="">
                                                    <p class="ma-0 body-1 font-weight-bold font-italic text-center">
                                                        {{ item.description }}
                                                    </p>
                                                </div>
                                            </v-card-text>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card>
                        </v-hover>
                    </v-col>
                </template>
            </v-row>  
        </v-container>

        <!-- Dialogs -->
            <DialogCategory  v-bind:dialogCategory="dialogCategory" v-bind:isEdit="isEdit" v-bind:editCategory="editCategory" @dialog-status = "dialogCategoryStatus"/>
            <DialogDelete v-bind:dialogDelete="dialogDelete" v-bind:deleteCategory="deleteCategory" @dialog-status = "dialogDeleteStatus" />
       <!--  Loader -->
        <Loader v-bind:loading="loading"/>
        <!--  Pagination -->
        <div class="text-center">
            <v-pagination 
                v-model="currentPage" :length="numPaginates"
                prev-icon="mdi-menu-left" next-icon="mdi-menu-right" :value="currentPage" circle 
            ></v-pagination>
        </div>
    </div>
</template>

<script>
import DialogCategory from './DialogCategory';
import DialogDelete from './DialogDelete';
import Loader from '../../../plugins/Loader'
import { currentItems, totalPaginates } from '../../../helpers/pagination'
import { filterObject } from '../../../helpers/filterObject';

import { mapGetters } from 'vuex';
export default {
    data:()=>({
        page: 1,
        dialogCategory:false,
        isEdit:false,
        editCategory:{},
        dialogDelete: false,
        deleteCategory:{},
        itemCate:0,
        icons: ['edit', 'delete'],
        labels: ['12am','3am','6am','9am','12pm','3pm','6pm','9pm',],
        value: [200,675,410,390,500,460,700,240,],
        // pagination 
        currentPage:1,
        itemsPerPage:4,
    }),
    computed:{
        ...mapGetters({
            categories: 'category/getCategories',
            loading: 'category/getLoading'
        }),
        itemCategories(){
           return this.itemCate == 0 ? currentItems(this.categories,this.currentPage,this.itemsPerPage) : this.itemCate;
        },
        numPaginates(){
            return totalPaginates(this.categories.length, this.itemsPerPage)
        },
    },
    methods:{
        getCategories(){
            this.$store.dispatch('category/getCategories');
        },
        dialogCategoryStatus(status){
            this.itemCate = filterObject(this.categories, null); 
            this.dialogCategory = status;
         },
        dialogDeleteStatus(status){
            this.itemCate = filterObject(this.categories, null); 
            this.dialogDelete = status;
        },
        filterCategory(e){
            this.itemCate = filterObject(this.categories, e.target.value);
        }
    },
    mounted(){
        this.getCategories();
    },
    components:{ DialogCategory, DialogDelete, Loader }
}
</script>

<!--box-shadow: -10px 0 15px -5px #1E88E5 !important;-->
<style scoped>
    
.v-card {
  transition: opacity .4s ease-in-out;
}

.show-btns-edit {
  color: #FFEB3B !important;
  border-color: #FFEB3B !important;
}

.show-btns-delete {
    color: #F44336 !important;
    border-color: #F44336 !important;
}
.v-sheet--offset {
    top: -24px;
    position: relative;
}
.border{
    border-left: solid;
    border-color: #1E88E5;

}
</style>