<template>
    <div class="dialog-delete">
        <v-dialog v-model="dialogDelete" width="600" persistent trasition="slide-x-reverse-transition">
            <v-card>
                <v-card-title class="mx-4 mb-3 elevation-20 white--text red darken-2">
                    <h4>Eliminar partida <v-icon x-large>delete</v-icon> </h4>
                </v-card-title>
                <v-card-text>
                    <h3 class="">¿Está seguro que desea eliminar esta partida de la lista? </h3>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="d-flex justify-space-between">
                    <v-btn @click.stop="closeDialog(!dialogDelete)">Cancelar <v-icon>close</v-icon></v-btn>
                    
                    <v-btn :loading="loadings" depressed class="red darken-1 white--text" @click.stop="DeleteCategory">Eliminar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- Notifications -->
        <div class="notification-category">
            <v-snackbar
                v-model="statusSnack"
                :color="colorSnack"
                :multi-line="true"
                :right="true"
                :timeout="5000"
                :top="true"
            >
            {{ message }}
                <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
            </v-snackbar>
        </div>
    </div>
</template> 

<script>
export default {
    props:{
        dialogDelete: {
            type:Boolean,
            default: ()=> dialogDelete = false
        },
        deleteCategory:{
            type:Object,
            default:()=>deleteCategory = {}
        }
    },
    data:()=>({
        indexCategory:-1,
        stateCategory:{},
        loadings:false,
        statusSnack:false,
        colorSnack:'primary',
        message:'',
    }),
    methods:{
        closeDialog(status){
            this.$emit('dialog-status',status);
        },
        DeleteCategory()
        {
            this.loadings = true;
            this.findIndexCategoryArray();
            this.$store.dispatch('category/deleteCategory',{category:this.deleteCategory,indexCategory: this.indexCategory})
            
            this.$store.subscribe((mutation,state)=>{
                this.stateCategory = state.category;
            })

            setTimeout(() => {
                this.evaluateResponse();
            }, 1500);
        },
        evaluateResponse(){
            this.loadings = this.stateCategory.isLoading; 
            switch(this.stateCategory.status)
            {
                case 200:
                    this.message = this.stateCategory.message
                    this.statusSnack = true
                    this.closeDialog(false);
                    break;
                default:
                    this.message = this.stateCategory.message
                    this.colorSnack = 'error'
                    this.statusSnack = true
                    this.closeDialog(false);
                    break;
            }
            setTimeout(() => {
                this.statusSnack = false
                this.message = null
            }, 5000);
        },
        findIndexCategoryArray(){
            this.$store.dispatch('category/getCategoryIndex',this.deleteCategory);
            this.$store.watch((state,getters)=>{
                this.indexCategory = state.category.findCategoryIndex;
            })
        }
    },
    components:{}
}
</script>

<style>

</style>