<template>
  <div class="dialog-category">
      <v-row justify="center">
          <v-dialog v-model="dialogCategory" persistent max-width="600px">
              <v-card>
                  <v-card-title class="green white--text">
                      <h4 class="title">{{ actionCategory }} Partida</h4>
                  </v-card-title>
                  <v-card-text>
                     <v-container>
                         <v-form @submit.prevent="saveCategory" ref="form_category">
                             <v-row>
                                 <v-col cols="12">
                                     <v-text-field 
                                     label="Nombre" 
                                     v-model="category.name"
                                     :rules="[rules.required,rules.maxName]"
                                     >
                                    </v-text-field>                                     
                                 </v-col>
                                 <v-col cols="12">
                                     <v-text-field 
                                        label="Código " 
                                        v-model="category.code"
                                        :rules="[rules.required,rules.maxCode]"
                                        >
                                    </v-text-field>  
                                 </v-col>
                                 <v-col cols="12">
                                    <v-textarea 
                                        auto-grow rows="4" 
                                        clearable counter="100" 
                                        clear-icon="cancel" 
                                        label="Descripción" 
                                        v-model="category.description"
                                        :rules="[rules.required,rules.maxDescription]"
                                        >
                                    </v-textarea>
                                 </v-col>
                             </v-row>
                             <!-- alert -->
                             <div class="alert">
                                <v-alert
                                v-model="showAlert" :dismissible="dismissible" :type="type" class="mb-4">
                                    <ul>
                                        <li v-for="(error,i) in errors" :key="i">
                                            {{ error[0] }}
                                        </li>
                                    </ul>
                                </v-alert>
                            </div>
                             <!-- end alert -->
                             <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="ma-2"  color="error" @click="closeDialog(!dialogCategory)">
                                    <v-icon left>mdi-close</v-icon>Cerrar
                                </v-btn>
                                <v-btn :loading="loadings" class="ma-2" color="cyan white--text" type="submit" >
                                    <v-icon left>{{ icon }}</v-icon> {{ actionCategory }}
                                </v-btn>
                             </v-card-actions>
                         </v-form>
                     </v-container>
                  </v-card-text>
              </v-card>
          </v-dialog>
      </v-row>
      <!-- Notifications -->
    <div class="notification-category">
        <v-snackbar
            v-model="statusSnack"
            :color="colorSnack"
            :multi-line="true"
            :right="true"
            :timeout="5000"
            :top="true"
        >
        {{ message }}
        <v-btn dark text @click="statusSnack = !statusSnack"> Cerrar </v-btn>
      </v-snackbar>
    </div>
  </div>
  
</template>

<script>
import errorList from '../../../helpers/errorObjectList';

export default {
    props:{
        dialogCategory:{
            type:Boolean,
            default: ()=> dialogCategory = false
        },
        isEdit:{
            type:Boolean,
            default:()=> isEdit = false
        },
        editCategory:{
            type:Object,
            default:()=> editCategory = {}
        }
    },
    data:()=>({
        icon:'edit',
        actionButton:'Crear',
        loadings:false,
        indexCategory:1,
        colorSnack:'primary',
        statusSnack:false,
        showAlert:false,
        dismissible:true,
        stateObject:{},
        type:'error',
        message:'',
        errors:'',
        rules:{
            required: value => !!value || 'Campo Requerido.',
            maxCode: value =>value.length <= 20 || 'Máximo 20 caracteres',
            maxName: value =>value.length <= 50 || 'Máximo 50 caracteres',
            maxDescription: value =>value.length <= 100 || 'Máximo 100 caracteres',
        },
        category:{
            id:'',
            name:'',
            code:'',
            description:'',
        },
        defaultCategory:{
            id:'',
            name:'',
            code:'',
            description:'',
        }
    }),
    computed:{
        actionCategory(){
            this.isEdit ? Object.assign(this.category,this.editCategory) : Object.assign(this.category,this.defaultCategory);
            return this.isEdit ? 'Editar' : 'Crear'
        },
    },
    methods:{
        closeDialog(status){
            this.resetFields()
            this.$emit('dialog-status',status)
        },
        saveCategory(){
            if(this.$refs.form_category.validate()){
                this.loadings = true;
                this.isEdit ? this.findIndexCategoryArray() : null; 
                this.isEdit ? this.$store.dispatch('category/updateCategory',{category:this.category,indexCategory:this.indexCategory}) 
                    : this.$store.dispatch('category/storeCategory',this.category) 

                this.$store.subscribe((mutation,state)=>{
                    this.stateObject = state.category;
                })
                setTimeout(() => {
                    this.evaluateResponse()
                }, 1500);
            }
        },
        evaluateResponse(){
            let state = this.stateObject
            this.loadings = state.isLoading; // lo detenemos
            if(state.status === 200 || state.status === 201)
            {
                this.message = state.message
                this.statusSnack = true
                this.resetFields()   
                this.category = {}   
                this.closeDialog(false);
            }
            else
            {
                this.errors = errorList(state.errors);
                this.showAlert = true
            }
                
            setTimeout(() => {
                this.statusSnack = false
                this.message = null
            }, 3000);
        },
        findIndexCategoryArray(){
            this.$store.dispatch('category/getCategoryIndex',this.editCategory);
            this.$store.watch((state,getters)=>{
                this.indexCategory = state.category.findCategoryIndex;
            })
        },
        resetFields(){
            this.errors = null
            this.showAlert = false
        }

    }
}
</script>
