<template>
    <div class="content-request">
       <v-card>
           <v-sheet class="v-sheet--offset request ml-5" color="light-blue darken-1 " elevation="12" height="80" max-width="calc(100% - 93%)">
                <h4 class="text-md-center pt-4 white--text title"><v-icon large dark>mdi-account-check</v-icon></h4>
                <p class="subtitle title">  Solicitudes Puestos</p>
            </v-sheet>
            <v-card-text>
                <v-row>
                    <v-col class="d-flex justify-end">
                        <v-text-field
                            v-model="search"
                            append-icon="search"
                            label="Buscar"
                            single-line
                            hide-details
                            color="light-blue darken-1"
                            style="max-width: 300px;"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-divider />

                <div class="table-responsive">
                    <v-data-table
                        :headers="headers"
                        :items="register"
                        :search="search"
                        multi-sort
                    >
                        <template v-slot:item="props">
                            <tr>
                                <td class="font-weight-light"> {{ props.item.id }} </td>
                                <td class="font-weight-light"> {{ props.item.dni }} </td>
                                <td class="font-weight-light"> {{ props.item.first_name }} </td>
                                <td class="font-weight-light"> {{ props.item.first_surname }} </td>
                                <td class="font-weight-light"> {{ props.item.email }} </td>
                                <td class="font-weight-light"> {{ props.item.telephone }} </td>
                                <td class="font-weight-light"> {{ props.item.area_id.name }} </td>
                                <td class="font-weight-light"> 
                                    <v-btn small dark color="green" @click.stop="isAccepted = true, registerData = props.item, dialogConfirm = true">
                                        <v-icon>mdi-check-bold</v-icon>
                                    </v-btn>  

                                    <v-btn small dark color="red darken-1" @click.stop="isAccepted = false, registerData = props.item, dialogConfirm = true">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>   
                                </td>       
                            </tr>
                        </template> 
                    </v-data-table>
                </div>
            </v-card-text>
       </v-card>
       <!-- Dialogs -->
       <ConfirmAction v-bind:dialogConfirm="dialogConfirm" v-bind:registerData="registerData" v-bind:isAccepted="isAccepted"  @dialog-status = "dialogUserStatus"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ConfirmAction from './dialogConfirmAction';
export default {
    data:()=>({
        isAccepted:true,
        registerData:{},
        dialogConfirm:false,
        headers:[
            { text: 'ID', sortable: false, value: 'id' },
            { text: 'Cédula', value: 'dni' },
            { text: 'Nombre', value: 'first_name' },
            { text: 'Apellidos', value: 'first_surname' },
            { text: 'Correo', value: 'email' },
            { text: 'Teléfono', value: 'telephone' },
            { text: 'Oficina', value: 'area_id'},
            { text: 'Acciones', value: 'actions'}
        ],
        search:'',
    }),
    computed:{
        ...mapGetters({
            register:'register/getRegisters'
        })
    },
    methods:{
        dialogUserStatus(status){
            this.dialogConfirm = status
        },
        getRequests(){
            this.$store.dispatch('register/getRegisters')
        },

    },
    mounted(){
        this.getRequests();
    },
    components:{ConfirmAction}
}
</script>

<style>
    .v-sheet--offset.request {
        top: -24px;
        position: relative;
        margin-top: 30px;
    }
    p.subtitle{
        margin-left:130px;
        width: 200px;
        margin-top: -20px;
        
    }
</style>