<template>
    <div class="confirm-action">
        <v-dialog v-model="dialogConfirm" width="600" persistent trasition="slide-x-reverse-transition">
            <v-card>
                <v-card-title :class='`mx-4 mb-3 elevation-20 white--text ${colorDialog}`'>
                    <h4>{{ actionDialog }} Usuario</h4>
                </v-card-title>
                <v-card-text>
                    <h3>{{ actionMessage }}</h3>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="d-flex justify-space-between">
                    <v-btn @click.stop="closeDialog(!dialogConfirm)">Cancelar <v-icon>close</v-icon></v-btn>
                    <v-btn :loading="loading" @click.stop="confirmAction" :color="colorDialog" class="white--text">{{ actionDialog }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <!-- Notifications -->
        <div class="notification-user">
            <v-snackbar
                v-model="statusSnack"
                :color="colorSnack"
                :multi-line="true"
                :right="true"
                :timeout="4000"
                :top="true"
            >
            {{ message }}
            <ul v-if="error != null">
                <li v-for="(value, index) in error" :key = index>
                    {{value[0]}}
                </li>
            </ul>
          
            <v-btn dark text @click="closeSnack(!statusSnack)"> Cerrar </v-btn>
            </v-snackbar>
        </div>
    </div>
</template>

<script>
import errorList from '../../../helpers/errorObjectList'
export default {
    props:{
        dialogConfirm:{
            type:Boolean,
            default:false
        },
        isAccepted:{
            type:Boolean,
            default: ()=> true
        },
        registerData:{
            type:Object,
            default:()=>{}
        }
    },
    data:()=>({
        loading:false,
        colorDialog:'',
        actionMessage:'',
        statusSnack:false,
        colorSnack:'',
        message:'',
        error:''
    }),
    computed:{
        actionDialog(){
            this.colorDialog =  this.isAccepted ? 'primary' : 'red';
            this.actionMessage = this.isAccepted ? '¿Está seguro que desea aceptar este usuario?' :'¿Está seguro que desea eliminar este usuario de la lista? ';
            return this.isAccepted ? 'Aceptar' : 'Eliminar';
        },
    },
    methods:{
        closeDialog(status){
            this.$emit('dialog-status',status)
        },
        closeSnack(status){
            this.statusSnack = status
        },
        confirmAction(){
            this.loading = true;
            this.isAccepted ? this.$store.dispatch('register/acceptedRegister',this.registerData) : this.$store.dispatch('register/deleteRegister',this.registerData);
            this.$store.subscribe((mutation,state)=>{
                this.stateRegister = state.register
            })

            setTimeout(()=>{
                this.evaluateResponse(this.stateRegister)
            },1500)
        },
        evaluateResponse(state){
            this.loading = state.isLoading ? true : false;
            if(state.status == 200){
                this.closeDialog(false)
                this.statusSnack = true
                this.colorSnack = 'primary'
                this.message = state.message
                
            }
            else{
                this.statusSnack = true
                this.colorSnack = 'red'
                this.error = errorList(state.errors)
            }

            setTimeout(()=>{
                this.message = null
                this.error = null
                this.colorSnack = null
            },4000)
        }
    }
}
</script>

<style>

</style>