<template>
    <div class="user-request">
        <v-container>
            <ContentRequest />
        </v-container>
    </div>
</template>

<script>
import ContentRequest from './ContentUserRequest'
export default {
    components:{ContentRequest}
}
</script>

<style>

</style>